<div class="buy-deso-wrapper d-flex flex-column flex-center-start h-100">
  <div class="deso-buy-subheading mt-20px">BUY FROM EXCHANGE</div>
  <button class="deso-buy-exchange-container" (click)="openLink('https://www.coinbase.com/price/decentralized-social')">
    <label>Coinbase</label>
    <p>Buy $DESO from Coinbase</p>
  </button>
  <div class="buy-deso-spacer"></div>
  <div class="deso-buy-subheading">BUY FROM DESO.ORG</div>
  <div class="deso-buy-deso-org-container">
    <button (click)="openLink('https://buy.deso.org/')">
      <div class="buy-deso-type-icon-container">
        <img src="assets/icons/deso_page_bitcoin.svg" class="buy-deso-type-icon" />
      </div>
      <label>Buy with Bitcoin</label>
      <div class="buy-deso-link-icon-container">
        <img src="/assets/icons/deso_page_link.svg" class="buy-deso-link-icon" alt="link icon" />
      </div>
    </button>
    <button class="custom-border-top-bottom" (click)="openLink('https://buy.deso.org/')">
      <div class="buy-deso-type-icon-container">
        <img src="assets/icons/deso_page_eth.svg" class="buy-deso-type-icon" />
      </div>
      <label>Buy with Ethereum</label>
      <div class="buy-deso-link-icon-container">
        <img src="/assets/icons/deso_page_link.svg" class="buy-deso-link-icon" alt="link icon" />
      </div>
    </button>
    <button (click)="openLink('https://buy.deso.org/')">
      <div class="buy-deso-type-icon-container">
        <img src="assets/icons/deso_page_visa.svg" class="buy-deso-type-icon" />
      </div>
      <label>Buy with Credit Card</label>
      <div class="buy-deso-link-icon-container">
        <img src="/assets/icons/deso_page_link.svg" class="buy-deso-link-icon" alt="link icon" />
      </div>
    </button>
  </div>
  <div class="buy-deso-help" (click)="openLink('https://intercom.help/supernovas/en')">
    <img src="/assets/icons/chevron_right.svg" alt="arrow" />
    Need help? Contact our support.
  </div>
</div>
