<!-- Posts -->
<simple-center-loader [height]="200" *ngIf="loadingCollections"></simple-center-loader>
<div class="fs-15px text-grey5 font-weight-bold d-flex flex-column pt-15px" *ngIf="!loadingCollections"></div>
<div *ngIf="!collectionResponses?.length && !loadingCollections" class="pt-15px">
  <div class="background-color-grey p-35px br-12px d-flex flex-row align-items-center" style="text-align: center">
    <span
      class="w-100 d-flex flex-row flex-center-start"
      *ngIf="profileBelongsToLoggedInUser(); else elseMissingPostBlock"
    >
      <p class="mr-20px">You have no collections.</p>
      <a
        class="black-rounded-button create-collection-button py-10px px-15px font-weight-semiboldn"
        [routerLink]="'/create-collection'"
      >
        Create a collection
      </a>
    </span>
    <ng-template #elseMissingPostBlock>
      <span>@{{ profile.Username }} has not created any collections.</span>
    </ng-template>
  </div>
</div>
<div class="profile-collections-container cursor-pointer">
  <div
    class="single-profile-collection"
    *ngFor="let collection of collectionResponses"
    (click)="routeToCollection(collection)"
  >
    <img
      class="single-collection-banner"
      src="{{ mapImageURLs1(collection.CollectionBannerLocation) }}"
      alt="collection banner"
    />
    <div class="collection-middle-details">
      <img
        class="single-collection-pp"
        src="{{ mapImageURLs2(collection.CollectionProfilePicLocation) }}"
        alt="collection profile pic"
      />
      <span class="single-collection-stats">
        <div class="d-flex flex-column">
          <label class="collection-detail-name mb-0px font-weight-semiboldn">PIECES</label>
          <label class="collection-detail-value mb-0px font-weight-bold">{{ collection.Pieces }}</label>
        </div>
        <div class="d-flex flex-column">
          <label class="collection-detail-name mb-0px font-weight-semiboldn">FLOOR PRICE</label>
          <span class="d-flex flex-center flex-row">
            <label class="collection-detail-value mb-0px mr-5px font-weight-bold">
              {{ collection.FloorPrice == -1 ? "Null" : globalVars.nanosToDeSo(collection.FloorPrice, 3) }}
            </label>
            <label class="collection-detail-value-usd mb-0px">
              {{ collection.FloorPrice == -1 ? "Null" : globalVars.nanosToUSD(collection.FloorPrice, 2) }}
            </label>
          </span>
        </div>
      </span>
    </div>
    <div class="collection-bottom-details">
      <h3 class="collection-bottom-name font-weight-semiboldn">COLLECTION</h3>
      <label class="collection-bottom-value-1 font-weight-semiboldn">{{ collection.Collection }}</label>
      <h3 class="collection-bottom-name font-weight-semiboldn">CREATOR</h3>
      <span>
        <div class="single-collection-avatar" [avatar]="profile.PublicKeyBase58Check"></div>
        <label class="mb-0px">@{{ profile.Username }}</label>
      </span>
    </div>
  </div>
</div>
<div *ngIf="collectionResponses?.length && !loadingCollections" class="create-new-collection-container">
  <button class="black-rounded-button" [routerLink]="'/create-collection'">Create new collection</button>
</div>
<div class="creator-profile-collections-bottom-bar"></div>
