<div class="analytics-creator-list">
  <div class="w-100 d-flex flex-row">
    <label class="fs-24px font-weight-semiboldn" style="color: #2d2d2d">Top Earning Creators</label>
  </div>
  <table class="mt-10px creator-list-table">
    <thead>
      <tr>
        <td class="font-weight-semiboldn fs-14px" style="color: #7a7a7a">CREATOR</td>
        <td class="font-weight-semiboldn fs-14px" style="color: #7a7a7a">NFT SALES</td>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 50px!">
        <td class="font-weight-bold fs-12px" style="color: #000000">
          <span>21 Bobbythebidder</span>
        </td>
        <td class="d-flex flex-row flex-center-start h-100">
          <span class="font-weight-semiboldn fs-18px" style="color: #2c2c2c">1.4 $DESO</span>
          <span class="fs-14px pl-10px" style="color: #2c2c2c">$13,335.54</span>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold fs-12px" style="color: #000000">1 Bobbythebidder</td>
        <td class="d-flex flex-row flex-center-start h-100">
          <p class="font-weight-semiboldn fs-18px" style="color: #2c2c2c">1.4 $DESO</p>
          <p class="fs-14px pl-10px" style="color: #2c2c2c">$13,335.54</p>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold fs-12px" style="color: #000000">1 Bobbythebidder</td>
        <td class="d-flex flex-row flex-center-start h-100">
          <p class="font-weight-semiboldn fs-18px" style="color: #2c2c2c">1.4 $DESO</p>
          <p class="fs-14px pl-10px" style="color: #2c2c2c">$13,335.54</p>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold fs-12px" style="color: #000000">1 Bobbythebidder</td>
        <td class="d-flex flex-row flex-center-start h-100">
          <p class="font-weight-semiboldn fs-18px" style="color: #2c2c2c">1.4 $DESO</p>
          <p class="fs-14px pl-10px" style="color: #2c2c2c">$13,335.54</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
