.top-creator-headline {
    display: flex;
    justify-content: space-between;

    h2 {
        padding: 20px 0;
        color: #333333;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

table {
    border: none;
    border-radius: 8px;
    width: 100%;
    // Fake border :)
    box-shadow:  0 0 1px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.05);
    // Hide thead corners
    overflow: hidden;

    thead {    
        tr {
            display: flex;
            background: #F8F8F8;
        }

        td {
            flex: 1;
            padding: 15px 20px;
            font-weight: 500;
            font-size: 1rem;
            color: #7A7A7A;
            text-transform: uppercase;
        }
    }

    tbody {
        tr {
            display: flex;
            border-bottom: 1px solid #F2F2F2;
        }

        td {
            flex: 1;
            padding: 20px;
        }

        .creator-and-investor-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                height: 25px;
                width: 25px;
                border: 2px solid white;
                border-radius: 50%;
            }

            p {
                font-size: 0.9rem;
                font-weight: 500;
            }
        }

        .sales-and-investments {
            display: flex;
            color: #CCCCCC;
            font-size: 0.9rem;
            text-transform: uppercase;

            p {
                padding-right: 10px;
            }
        }
    }
}