<div class="top-creator-headline">
	<h2>Top Earning Creators</h2>
</div>
<table>
	<thead>
		<tr>
			<td>CREATOR</td>
			<td>NFT SALES</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="creator-and-investor-info">
				<p>1</p>
				<img src="">
				<p>@1Bobbythebidder</p>
			</td>
			<td class="sales-and-investments">
				<p style="font-weight: 500;">1.4 DESO</p>
				<p>13,335.54 USD</p>
			</td>
		</tr>
		<tr>
			<td class="creator-and-investor-info">
				<p>1</p>
				<img src="">
				<p>@1Bobbythebidder</p>
			</td>
			<td class="sales-and-investments">
				<p style="font-weight: 500;">1.4 DESO</p>
				<p>13,335.54 USD</p>
			</td>
		</tr>
		<tr>
			<td class="creator-and-investor-info">
				<p>1</p>
				<img src="">
				<p>@1Bobbythebidder</p>
			</td>
			<td class="sales-and-investments">
				<p style="font-weight: 500;">1.4 DESO</p>
				<p>13,335.54 USD</p>
			</td>
		</tr>
		<tr>
			<td class="creator-and-investor-info">
				<p>1</p>
				<img src="">
				<p>@1Bobbythebidder</p>
			</td>
			<td class="sales-and-investments">
				<p style="font-weight: 500;">1.4 DESO</p>
				<p>13,335.54 USD</p>
			</td>
		</tr>
	</tbody>
</table>

