<div *ngIf="isNFTDetail">
  <div
    class="fs-15px w-100 nft_place_bid_sec overflow-hidden"
    [ngStyle]="{ 'border-radius': setBorder || cardStyle ? '0 0 18px 18px' : '' }"
    [ngClass]="{ 'feed-post__blue-border': showLeftSelectedBorder }"
  >
    <loading-shimmer [tabType]="'NFT_DETAIL'" *ngIf="loadingEditionDetails"></loading-shimmer>
    <div *ngIf="!loadingEditionDetails" class="d-flex nft_current_bid_tpwrapper">
      <div
        class="w-100 d-flex flex-center"
        *ngIf="!editionForSale && ownsEdition && editionHasUnlockable; else elseBlock"
      >
        <div class="auction_detl border_n_pd">
          <span class="hq">UNLOCKABLE CONTENT</span>
          <div class="val">Unlocked!</div>
          <div class="val_st">You are the only one who can view the unlockable content of this NFT.</div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div *ngIf="!editionIsBuyNow && editionForSale" class="nft_current_bid">
          <div>
            <span class="hq" *ngIf="!editionHasBids">MINIMUM BID</span>
            <span class="hq" *ngIf="editionHasBids">HIGHEST BID</span>
            <!-- FOR MIN AND HIGH BID-->
            <div class="val">
              {{
                highBid === 0 ? globalVars.nanosToUSD(this.nftMinBidAmountNanos, 2) : globalVars.nanosToUSD(highBid, 2)
              }}
            </div>
            <div class="val_st">
              {{
                highBid === 0
                  ? globalVars.nanosToDeSo(this.nftMinBidAmountNanos, 5)
                  : globalVars.nanosToDeSo(highBid, 5)
              }}
              DESO
            </div>
          </div>
        </div>
        <div
          *ngIf="!editionForSale && editionHasBeenSold"
          class="nft_current_bid"
          [ngClass]="{ 'pt-15px': globalVars.isMobile() }"
        >
          <span class="hq">LAST SOLD FOR</span>
          <!-- FOR LAST SOLD FOR-->
          <div class="val">
            {{ globalVars.nanosToUSD(this.nftEntryResponse.LastAcceptedBidAmountNanos, 2) }}
          </div>
          <div class="val_st">
            {{ globalVars.nanosToDeSo(this.nftEntryResponse.LastAcceptedBidAmountNanos, 5) }}
            DESO
          </div>
        </div>
        <div
          *ngIf="editionIsBuyNow && editionForSale"
          class="nft_current_bid_both"
          [ngClass]="{ 'pt-15px': globalVars.isMobile() }"
        >
          <div class="buy_now_text_container">
            <span class="hq">BUY NOW PRICE</span>
            <div class="val">
              {{ this.globalVars.nanosToDeSo(this.buyNowPriceNanos, 5) }}
              DESO
            </div>
            <div class="val_st">
              {{ this.globalVars.nanosToUSD(this.buyNowPriceNanos, 2) }}
            </div>
          </div>
        </div>

        <div class="auction_detl" *ngIf="editionForSale && !editionIsBuyNow && !editionHasBids">
          <span class="hq">AUCTION</span>
          <div class="val">Not started yet</div>
          <div class="val_st">The 1st bid starts the auction.</div>
        </div>

        <div class="nft_done_by" *ngIf="!editionIsBuyNow && editionHasBids && editionForSale">
          <span class="hq">Made By</span>
          <div class="d-flex">
            <div class="bid_by_avtar" [avatar]="hightestBidOwner?.ProfileEntryResponse?.PublicKeyBase58Check"></div>
            <div class="name">
              <a
                class="fc-default font-weight-bold"
                [routerLink]="
                  getRouterLink([
                    '/' + globalVars.RouteNames.USER_PREFIX,
                    hightestBidOwner?.ProfileEntryResponse?.Username
                  ])
                "
                queryParamsHandling="merge"
              >
                {{ hightestBidOwner?.ProfileEntryResponse?.Username }}
              </a>

              <span *ngIf="hightestBidOwner?.ProfileEntryResponse?.IsVerified" class="ml-1 text-primary">
                <i class="fas fa-check-circle fa-md align-middle"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="auction_detl_status" *ngIf="!editionForSale && !editionHasBeenSold">
          <span class="hq">Status</span>
          <div class="val">Not For Sale</div>
          <div class="val_st">The NFT is currently Off the market.</div>
        </div>

        <div class="auction_detl" *ngIf="!editionForSale && !(ownsEdition && editionHasUnlockable)">
          <span class="hq">Owner</span>
          <div class="d-flex">
            <div class="bid_by_avtar" [avatar]="nftEntryResponse?.OwnerPublicKeyBase58Check"></div>
            <div class="name">
              <a
                class="fc-default font-weight-bold"
                [routerLink]="
                  getRouterLink(['/' + globalVars.RouteNames.USER_PREFIX, nftEntryResponse?.OwnerPublicKeyBase58Check])
                "
                queryParamsHandling="merge"
              >
                {{ nftEntryResponse?.ProfileEntryResponse?.Username }}
              </a>
              <!-- CANT BE DONE -->
              <span *ngIf="nftEntryResponse?.ProfileEntryResponse?.IsVerified" class="ml-1 text-primary">
                <i class="fas fa-check-circle fa-md align-middle"></i>
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <!-- BUTTONS FOR NFT PROFILE BOX -->
    <div *ngIf="!loadingEditionDetails">
      <div
        class="d-flex flex-wrap justify-content-between"
        [ngClass]="{
          'flex-column': isQuotedContent,
          'align-items-start': isQuotedContent,
          'align-items-center': !isQuotedContent
        }"
        *ngIf="ownsEdition"
      >
        <button
          class="btn nft_place_bid_btn"
          [ngClass]="{ 'mt-15px': isQuotedContent }"
          (click)="openCreateNFTAuctionModal($event)"
          *ngIf="!editionHasUnlockable && !editionForSale"
        >
          Put NFT for sale
        </button>

        <div
          class="feed_post_btn_grp d-flex flex-wrap w-100 justify-content-between"
          *ngIf="editionForSale && editionHasBids"
        >
          <button class="btn blk_fill_btn with_ico small" (click)="sellYourBid()">
            <i><img src="assets/icons/u_money-bill.svg" alt="" /></i>
            Sell your NFT
          </button>
          <button class="btn blk_line_btn with_ico small" (click)="closeYourAuction()">
            <i><img src="assets/icons/circle-error.svg" alt="" /></i>
            Close the auction
          </button>
        </div>

        <button
          class="btn nft_place_bid_btn nft_sale_btn"
          [ngClass]="{ 'mt-15px': isQuotedContent }"
          (click)="ViewUnlockableContent($event)"
          *ngIf="!editionForSale && editionHasUnlockable"
        >
          <i><img src="assets/icons/unlock.svg" alt="" /></i>
          View unlockable content
        </button>

        <button
          class="btn blk_line_btn with_ico big"
          *ngIf="editionForSale && !editionHasBids"
          (click)="closeYourAuction()"
        >
          <i><img src="assets/icons/circle-error.svg" alt="" /></i>
          Close the auction
        </button>
      </div>
      <div
        class="d-flex flex-wrap justify-content-between"
        [ngClass]="{
          'flex-column': isQuotedContent,
          'align-items-start': isQuotedContent,
          'align-items-center': !isQuotedContent
        }"
        *ngIf="!ownsEdition"
      >
        <div
          class="feed_post_btn_grp d-flex flex-wrap w-100 justify-content-between"
          *ngIf="editionForSale && editionHasBidByUser"
        >
          <button class="btn blk_fill_btn with_ico small" (click)="openPlaceBidModal($event)">Place new bid</button>
          <button class="btn blk_line_btn with_ico small" (click)="onBidCancel($event)">Cancel your bid</button>
        </div>

        <button
          class="btn nft_place_bid_btn"
          [ngClass]="{ 'mt-15px': isQuotedContent }"
          (click)="openPlaceBidModal($event)"
          *ngIf="editionForSale && !editionHasBidByUser && !editionIsBuyNow"
        >
          Place your Bid
        </button>

        <div
          class="w-100 d-flex flex-row"
          *ngIf="editionForSale && !editionHasBidByUser && editionIsBuyNow && !buyNowEqualMinBid"
        >
          <button class="btn blk_line_btn with_ico buy_now_btn" (click)="openBuyNowModal($event)">
            <i><img src="assets/icons/buy-now-lightning.svg" alt="" class="buy_now_img" /></i>
            Buy Now
          </button>
          <button
            class="btn blk_line_btn place_bid_btn_both"
            [ngClass]="{ 'mt-15px': isQuotedContent }"
            (click)="openPlaceBidModal($event)"
          >
            Place a bid
          </button>
        </div>

        <div
          *ngIf="editionForSale && !editionHasBidByUser && editionIsBuyNow && buyNowEqualMinBid"
          class="w-100 d-flex flex-center"
        >
          <button class="btn blk_line_btn with_ico big buy_now_btn" (click)="openBuyNowModal($event)">
            <i><img src="assets/icons/buy-now-lightning.svg" alt="" class="buy_now_img" /></i>
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <!-- END OF BUTTONS -->
  </div>
</div>

<!-- eth NFT container -->
<ng-container *ngIf="postContent?.PostExtraData?.isEthereumNFT && !this.globalVars.isEthQuoteRepost">
  <div
    class="fs-15px w-100 nft_place_bid_sec overflow-hidden"
    [ngStyle]="{ 'border-radius': setBorder || cardStyle ? '0 0 18px 18px' : '' }"
    [ngClass]="{ 'feed-post__blue-border': showLeftSelectedBorder }"
  >
    <!-- currently loading eth nft -->
    <loading-shimmer [tabType]="'NFT_DETAIL'" *ngIf="loadingEthNFTDetails"></loading-shimmer>
    <!-- don't own nft and is not for sale and is not owner -->
    <div
      *ngIf="!loadingEthNFTDetails && !this.globalVars.isEthereumNFTForSale && !ownsEthNFT"
      class="d-flex nft_current_bid_tpwrapper"
    >
      <div class="auction_detl_status">
        <span class="hq">Status</span>
        <div class="val">Not For Sale</div>
        <div class="val_st">The NFT is currently Off the market.</div>
      </div>
    </div>

    <!-- own NFT, but it is not for sale, give them the option to list it -->
    <div
      *ngIf="!loadingEthNFTDetails && !this.globalVars.isEthereumNFTForSale && ownsEthNFT"
      class="d-flex nft_current_bid_tpwrapper put-nft-for-sale-container"
    >
      <div
        class="d-flex flex-wrap justify-content-between"
        [ngClass]="{
          'flex-column': isQuotedContent,
          'align-items-start': isQuotedContent,
          'align-items-center': !isQuotedContent
        }"
      >
        <button
          class="btn nft_place_bid_btn"
          [ngClass]="{ 'mt-15px': isQuotedContent }"
          (click)="openCreateETHNFTAuctionModal($event)"
          *ngIf="!editionHasUnlockable && !editionForSale"
        >
          Put NFT for sale
        </button>
      </div>
    </div>

    <!-- loaded and eth nft is for sale-->
    <div *ngIf="!loadingEthNFTDetails && this.globalVars.isEthereumNFTForSale">
      <!-- if the wallet owns the nft and the sale is active -->
      <div
        class="d-flex flex-wrap justify-content-between"
        [ngClass]="{
          'flex-column': isQuotedContent,
          'align-items-start': isQuotedContent,
          'align-items-center': !isQuotedContent
        }"
        *ngIf="ownsEthNFT"
      >
        <div class="nft_current_bid_both" [ngClass]="{ 'pt-15px': globalVars.isMobile() }">
          <div class="buy_now_text_container">
            <span class="hq">BUY NOW PRICE</span>
            <div class="val">
              {{ ethereumNFTSalePrice }}
              ETH
            </div>
          </div>
        </div>
        <button class="btn blk_line_btn with_ico big" (click)="closeYourETHAuction()">
          <i><img src="assets/icons/circle-error.svg" alt="" /></i>
          Close the auction
        </button>
      </div>
      <!-- if the wallet does not own the nft, they can buy it -->
      <div
        class="d-flex flex-wrap justify-content-between"
        [ngClass]="{
          'flex-column': isQuotedContent,
          'align-items-start': isQuotedContent,
          'align-items-center': !isQuotedContent
        }"
        *ngIf="!ownsEthNFT"
      >
        <div class="nft_current_bid_both" [ngClass]="{ 'pt-15px': globalVars.isMobile() }">
          <div class="buy_now_text_container">
            <span class="hq">BUY NOW PRICE</span>
            <div class="val">
              {{ ethereumNFTSalePrice }}
              ETH
            </div>
          </div>
        </div>

        <div class="w-100 d-flex flex-center">
          <button class="btn blk_line_btn with_ico big buy_now_btn" (click)="openBuyNowModal($event)">
            <i><img src="assets/icons/buy-now-lightning.svg" alt="" class="buy_now_img" /></i>
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- END ETH NFT container -->

<!-- FOR discovery page main nft  -->
<div *ngIf="!isNFTDetail && !postContent.PostExtraData?.isEthereumNFT" class="w-100 discovery-hgs">
  <div class="w-50">
    <div *ngIf="editionIsBuyNow && editionForSale">
      <span class="lb">BUY NOW PRICE</span>
      <div class="val">
        {{ this.globalVars.nanosToDeSo(this.buyNowPriceNanos, 5) }}
        DESO
      </div>
      <div class="val_sm">
        {{ this.globalVars.nanosToUSD(this.buyNowPriceNanos, 2) }}
      </div>
    </div>
    <span class="lb" *ngIf="!editionIsBuyNow && (!decryptableNFTEntryResponses?.length || showUnlockableContent)">
      {{
        compareBit(
          globalVars.nanosToDeSo(this.nftMinBidAmountNanos, 5),
          globalVars.nanosToDeSo(highBid, 5),
          showPlaceABid
        )
      }}
    </span>
    <!--showPlaceAbid was here as 'if' but it didnt work for creator globalVars.nanosToDeSo(this.nftMinBidAmountNanos, 5) : globalVars.nanosToDeSo(highBid, 5)-->
    <div
      class="val"
      *ngIf="
        (!editionIsBuyNow && availableSerialNumbers?.length > 0 && !decryptableNFTEntryResponses?.length) ||
        showUnlockableContent
      "
    >
      {{ highBid === 0 ? globalVars.nanosToDeSo(this.nftMinBidAmountNanos, 5) : globalVars.nanosToDeSo(highBid, 5) }}
      DESO
    </div>
    <div
      class="val_sm"
      *ngIf="
        (!editionIsBuyNow && availableSerialNumbers?.length > 0 && !decryptableNFTEntryResponses?.length) ||
        showUnlockableContent
      "
    >
      {{ highBid === 0 ? globalVars.nanosToUSD(this.nftMinBidAmountNanos, 2) : globalVars.nanosToUSD(highBid, 2) }}
    </div>
    <div
      class="val"
      *ngIf="
        (!editionIsBuyNow && availableSerialNumbers?.length === 0 && !decryptableNFTEntryResponses?.length) ||
        showUnlockableContent
      "
    >
      {{ globalVars.nanosToUSD(nftLastAcceptedBidAmountNanos, 2) }}
    </div>
    <div
      class="val_sm"
      *ngIf="
        (!editionIsBuyNow && availableSerialNumbers?.length === 0 && !decryptableNFTEntryResponses?.length) ||
        showUnlockableContent
      "
    >
      {{ globalVars.nanosToDeSo(nftLastAcceptedBidAmountNanos, 5) }} DESO
    </div>
    <div class="val" *ngIf="decryptableNFTEntryResponses?.length && !showUnlockableContent">
      <span class="lb">Owner</span>
      <div class="owner_lft align-items-center d-flex">
        <div
          class="bid_by_avtar"
          [avatar]="nftBidData?.NFTEntryResponses[0]?.ProfileEntryResponse?.PublicKeyBase58Check"
        ></div>
        <div class="name">
          <a
            class="fc-secalt font-weight-bold val_sm"
            [routerLink]="
              getRouterLink([
                '/' + globalVars.RouteNames.USER_PREFIX,
                nftBidData?.NFTEntryResponses[0]?.ProfileEntryResponse?.Username
              ])
            "
            queryParamsHandling="merge"
          >
            {{ nftBidData?.NFTEntryResponses[0]?.ProfileEntryResponse?.Username }}
          </a>
          <span *ngIf="nftBidData?.NFTEntryResponses[0]?.ProfileEntryResponse?.IsVerified" class="ml-1 text-primary">
            <i class="fas fs-22px fa-check-circle fa-md align-middle"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="discovery-hgs" *ngIf="nftBidData?.BidEntryResponses?.length > 0 && !showPlaceABid">
    <span class="lb">Made By</span>
    <div class="d-flex">
      <div class="bid_by_avtar" [avatar]="hightestBidOwner?.ProfileEntryResponse?.PublicKeyBase58Check"></div>
      <div class="name">
        <a
          class="fc-secalt font-weight-bold"
          [routerLink]="
            getRouterLink(['/' + globalVars.RouteNames.USER_PREFIX, hightestBidOwner?.ProfileEntryResponse?.Username])
          "
          queryParamsHandling="merge"
        >
          {{ hightestBidOwner?.ProfileEntryResponse?.Username }} PERKELE
        </a>

        <span *ngIf="nftBidData?.BidEntryResponses[0]?.ProfileEntryResponse?.IsVerified" class="ml-1 text-primary">
          <i class="fas fa-check-circle fa-md align-middle"></i>
        </span>
      </div>
    </div>
  </div>
  <div
    class="auction_detl"
    *ngIf="
      compareBit(
        globalVars.nanosToDeSo(this.nftMinBidAmountNanos, 5),
        globalVars.nanosToDeSo(highBid, 5),
        showPlaceABid
      ) == 'Minimum Bid' &&
      showPlaceABid &&
      (!decryptableNFTEntryResponses?.length || showUnlockableContent)
    "
  >
    <span class="lb">AUCTION</span>
    <div class="val_sm mt-5px">Not started yet</div>
    <div class="val_st color-EE mt-5px">The 1st bid starts the auction.</div>
  </div>

  <div
    class="w-50 nft_done_by"
    *ngIf="
      compareBit(
        globalVars.nanosToDeSo(this.nftMinBidAmountNanos, 5),
        globalVars.nanosToDeSo(highBid, 5),
        showPlaceABid
      ) == 'Highest Bid'
    "
  >
    <span class="lb">Made By</span>
    <div class="d-flex flex-center-start">
      <div class="bid_by_avtar" [avatar]="showNFTOwnerInfo?.ProfileEntryResponse?.PublicKeyBase58Check"></div>
      <div class="name">
        <a
          class="fc-secalt val"
          [routerLink]="
            getRouterLink(['/' + globalVars.RouteNames.USER_PREFIX, showNFTOwnerInfo?.ProfileEntryResponse?.Username])
          "
          queryParamsHandling="merge"
        >
          {{ showNFTOwnerInfo?.ProfileEntryResponse?.Username }}
        </a>

        <span *ngIf="showNFTOwnerInfo?.ProfileEntryResponse?.IsVerified" class="ml-1 text-primary">
          <i class="fas fa-check-circle fa-md align-middle"></i>
        </span>
      </div>
    </div>
  </div>

  <div
    class="auction_detl"
    *ngIf="
      compareBit(
        globalVars.nanosToDeSo(this.nftMinBidAmountNanos, 5),
        globalVars.nanosToDeSo(highBid, 5),
        showPlaceABid
      ) == 'Last Sold for' &&
      (!decryptableNFTEntryResponses?.length || showUnlockableContent)
    "
  >
    <span class="lb">Owner</span>
    <div class="d-flex">
      <div
        class="bid_by_avtar"
        [avatar]="nftBidData?.NFTEntryResponses[0]?.ProfileEntryResponse?.PublicKeyBase58Check"
      ></div>
      <div class="name d-flex flex-row flex-center">
        <a
          class="fc-secalt font-weight-bold val_sm"
          [routerLink]="
            getRouterLink([
              '/' + globalVars.RouteNames.USER_PREFIX,
              nftBidData?.NFTEntryResponses[0]?.ProfileEntryResponse?.Username
            ])
          "
          queryParamsHandling="merge"
        >
          {{ nftBidData?.NFTEntryResponses[0]?.ProfileEntryResponse?.Username }}
        </a>
        <span *ngIf="nftBidData?.NFTEntryResponses[0]?.ProfileEntryResponse?.IsVerified" class="ml-1 text-primary">
          <i class="fas fs-22px fa-check-circle fa-md align-middle"></i>
        </span>
      </div>
    </div>
  </div>
  <div
    class="auction_detl"
    *ngIf="
      compareBit(
        globalVars.nanosToDeSo(this.nftMinBidAmountNanos, 5),
        globalVars.nanosToDeSo(highBid, 5),
        showPlaceABid
      ) == 'Owner'
    "
  >
    <span class="lb">Status</span>
    <div class="val">Not For Sale</div>
    <div class="val_st">The NFT is currently Off the market.</div>
  </div>

  <div
    class="auction_detl border_n_pd w-60"
    *ngIf="
      !hasNFTsOnSale() && postContent.HasUnlockable && UserOwnsSerialNumbers() && decryptableNFTEntryResponses?.length
    "
  >
    <!-- <div class="auction_detl border_n_pd" *ngIf="(decryptableNFTEntryResponses?.length && !showUnlockableContent)&&!(nftBidData?.BidEntryResponses && nftBidData?.BidEntryResponses?.length>0)"> -->
    <span class="lb">UNLOCKABLE CONTENT</span>
    <div class="val">Unlocked!</div>
    <div class="val_st">You are the only one who can view the unlockable content of this NFT.</div>
  </div>
</div>
