.top-bids-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    padding: 10px 5px;
    background-color: transparent;
    border: 1px solid red;
}
.quick-facts-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    padding: 10px 5px;
    background-color: transparent;
    border: 1px solid blue;
}