<div class="top-bids-container">
	<h2>Top Bids Today</h2>
	<div class="top-bid-horizontal-cards">
		<app-top-bids></app-top-bids>
		<app-top-bids></app-top-bids>
		<app-top-bids></app-top-bids>
	</div>
</div>
<div class="analytics-main-cards">
	<app-big-graph class="big-graph-container"></app-big-graph>
	<app-big-graph class="big-graph-container"></app-big-graph>
</div>
<div class="quick-facts-container">
	<h2>Quick Facts</h2>
	<div class="quick-facts-cards">
		<app-quick-facts></app-quick-facts>
		<app-quick-facts></app-quick-facts>
		<app-quick-facts></app-quick-facts>
		<app-quick-facts></app-quick-facts>
		<app-quick-facts></app-quick-facts>
	</div>
</div>
<div class="top-sales-container">
	<app-top-sales></app-top-sales>
</div>
<div class="creator-list-container">
	<app-creator-list></app-creator-list>
	<app-creator-list></app-creator-list>
</div>

<!-- <label class="fs-24px mt-20px font-weight-semiboldn">Top Bids Today</label>
<div class="mt-20px top-bids-container disable-scrollbars">
</div>
<div class="d-flex flex-row justify-content-between mt-20px">
	<app-big-graph></app-big-graph>
	<app-big-graph></app-big-graph>
</div>
<label class="fs-24px mt-20px font-weight-semiboldn">Quick facts</label>
<div class="mt-20px quick-facts-container disable-scrollbars">
	<app-quick-facts></app-quick-facts>
	<app-quick-facts class="ml-20px"></app-quick-facts>
	<app-quick-facts class="ml-20px"></app-quick-facts>
	<app-quick-facts class="ml-20px"></app-quick-facts>
	<app-quick-facts class="ml-20px"></app-quick-facts>
</div>
<app-top-sales></app-top-sales>
<div class="mt-20px w-100 d-flex flex-row justify-content-between">
	<app-creator-list></app-creator-list>
	<app-creator-list></app-creator-list>
</div>
<div class="mt-20px w-100 d-flex flex-row justify-content-between">
	<app-small-graph></app-small-graph>
	<app-small-graph></app-small-graph>
</div> -->