<label class="fs-24px mt-20px font-weight-semiboldn">Top Bids Today</label>
<div class="mt-20px top-bids-container disable-scrollbars">
  <app-top-bids></app-top-bids>
  <app-top-bids class="ml-20px"></app-top-bids>
  <app-top-bids class="ml-20px"></app-top-bids>
</div>
<div class="d-flex flex-row justify-content-between mt-20px">
  <app-big-graph></app-big-graph>
  <app-big-graph></app-big-graph>
</div>
<label class="fs-24px mt-20px font-weight-semiboldn">Quick facts</label>
<div class="mt-20px quick-facts-container disable-scrollbars">
  <app-quick-facts></app-quick-facts>
  <app-quick-facts class="ml-20px"></app-quick-facts>
  <app-quick-facts class="ml-20px"></app-quick-facts>
  <app-quick-facts class="ml-20px"></app-quick-facts>
  <app-quick-facts class="ml-20px"></app-quick-facts>
</div>
<app-top-sales></app-top-sales>
<div class="mt-20px w-100 d-flex flex-row justify-content-between">
  <app-creator-list></app-creator-list>
  <app-creator-list></app-creator-list>
</div>
<div class="mt-20px w-100 d-flex flex-row justify-content-between">
  <app-small-graph></app-small-graph>
  <app-small-graph></app-small-graph>
</div>
