<div class="top-bid-container d-flex flex-row p-10px">
  <div class="bid-detail d-flex flex-column justify-content-between">
    <label class="font-weight-semibodln mb-0px fs-14px" style="color: #7a7a7a">Piece</label>
    <div class="top-bid-piece" [avatar]="this.globalVars.loggedInUser.PublicKeyBase58Check"></div>
    <p style="color: #000000" class="fs-10px">The longer piece text</p>
  </div>
  <div class="bid-detail d-flex flex-column justify-content-between">
    <label class="font-weight-semibodln mb-0px fs-14px" style="color: #7a7a7a">BID</label>
    <div class="d-flex flex-column">
      <label class="font-weight-semiboldn mb-0px fs-18px" style="color: #2c2c2c">1.4 $DESO</label>
      <label style="color: #9d9d9d fs-14px" class="mb-0px">$124.67</label>
    </div>
  </div>
  <div class="bid-detail d-flex flex-column">
    <label class="font-weight-semibodln mb-0px fs-14px" style="color: #7a7a7a">Done By</label>
    <div class="d-flex flex-center-start flex-row mt-10px">
      <div class="top-bid-avatar" [avatar]="this.globalVars.loggedInUser.PublicKeyBase58Check"></div>
      <p class="fs-12px font-weight-bold pl-5px">JUVONEN</p>
    </div>
  </div>
</div>
