<header>
    <div class="logo-cover">
        <img src="assets/img/l4s_logo.svg" alt="">
    </div>
    <div class="search-bar-cover">
        <search-bar></search-bar>
    </div>
    <div class="right-portion">
        
        <ul class="menu-options-list">
            <li>
                <button class="btn btn-create">Create</button>
            </li>
            <li>
                <img src="assets/icons/notification-icon.svg" title="Notification" />
                <span>Notification</span>
            </li>
            <li>
                <img src="assets/icons/chat-plane-icon.svg" title="Chat" />
                <span>Chat</span>
            </li>
            <li>
                <div class="profile-img" title="My Profile">
                    <img src="assets/img/default_profile_pic.png" />
                </div>
            </li>
        </ul>
    </div>
</header>