header {
    padding: 15px 7%;
    background-color: var(--background);
    border-bottom: 2px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
    .logo-cover {
        width: 175px;
        @media screen and (max-width: 1024px){
            width: 150px;
        }
        @media screen and (max-width: 992px){
            width: 130px;
        }
        img {
            width: 100%;
        }
    }
    .search-bar-cover {
        width: calc(100% - 570px);
        padding-left: 3%;
        @media screen and (max-width: 1024px){
            width: calc(100% - 500px);
        }
        @media screen and (max-width: 992px){
            width: calc(100% - 450px);
            // padding-left: 0px;
        }
    }
    .right-portion {
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0px;
            padding-left: 0px;
            li {
                &:not(:first-child){
                    padding-left: 15px;
                    @media screen and (max-width: 1024px){
                        padding-left: 10px;
                    }
                }
                &:not(:last-child){
                    padding-right: 15px;
                    @media screen and (max-width: 1024px){
                        padding-left: 10px;
                    }
                }
                img {
                    cursor: pointer;
                }
                span {
                    display: none;
                }
                .profile-img {
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 3px solid var(--background);
                    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .btn-create {
            color: var(--background);
            background-image: url("../../assets/img/btn-bg.PNG");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 30px;
            border: 3px solid var(--background);
            box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
        }
    }
}

:host ::ng-deep {
    .search-bar-cover {
        .global__top-bar__height {
            height: auto;
            position: relative;
        }
        .search-bar__results-dropdown {
            position: absolute;
            top: 37px;
            width: calc(100% - 20px) !important;
            left: 10px;
            min-width: auto;
            z-index: 999;
        }
    }
}
