.btn {
    font-weight: bold;
    &.btn-follow {
        color: var(--button);
        border: 2.5px solid var(--button);
        background: var(--background);
        margin-left: 20px;
        min-width: 100px;
        display: inline-block;
        padding: .7rem 5rem;
        font-size: 0.9rem;
        border-radius: 6.25rem;
    }
    &.follow-black {
        color: var(--background);
        background-color: var(--link);
        padding: .7rem 5rem;
        font-size: 0.9rem;
        border-radius: 6.25rem;
    }
}

.lt_loader {
    margin-left: 30px;
}