<app-page-small-nav-new>
  <!-- Bunch of things on this page turn from flexboxes into carousels, on var mobile change-->
  <app-discovery [post]="globalVars?.discoveryMainNftResponse"></app-discovery>
  <div class="w-100 mt-20px d-flex flex-column flex-start-center discovery-selector disable-scrollbars">
    <div class="w-100 d-flex align-items-center justify-content-around">
      <button class="font-weight-semibold" (click)="scrollTo('favourites')">Community favourites</button>
      <button class="font-weight-semibold" (click)="scrollTo('categories')">Categories</button>
      <button class="font-weight-semibold" (click)="scrollTo('fresh-drops')">Fresh drops</button>
      <button class="font-weight-semibold" (click)="scrollTo('creators')">Newly verified</button>
      <button class="font-weight-semibold" (click)="scrollTo('content-type')">Content formats</button>
    </div>
  </div>
  <div class="w-100 mt-50px pr-10px pl-10px d-flex align-items-center justify-content-between">
    <div class="discovery-header-box">
      <h2 id="favourites" class="font-weight-semiboldn" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">
        Community Favourites
      </h2>
    </div>
    <a class="discovery-link" (click)="routeViewAll('communityfavourites')">
      View all
      <img src="/assets/icons/chevron_right.svg" />
    </a>
  </div>
  <div *ngIf="!mobile" class="w-100 discovery-nft-showcase">
    <div class="nfts-card-list-discovery w-100" *ngIf="postsLoading">
      <div class="nft-col-wrap" *ngFor="let a of fakeArray">
        <div class="card">
          <loading-shimmer [tabType]="'MARKETPLACE'"></loading-shimmer>
        </div>
      </div>
    </div>
    <div class="nfts-card-list-discovery" *ngIf="!postsLoading">
      <div class="nft-col-wrap" *ngFor="let nftEntry of globalVars.discoveryDataToShow">
        <div class="max-width-300-plus">
          <new-nft-card
            [contentShouldLinkToThread]="true"
            [includePaddingOnPost]="true"
            [post]="nftEntry"
            [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
            [blocked]="globalVars.hasUserBlockedCreator('BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w')"
            [showNFTDetails]="true"
            [showExpandedNFTDetails]="false"
            [setBorder]="true"
            [showAvailableSerialNumbers]="true"
            [cardStyle]="true"
            [profilePublicKeyBase58Check]="BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w"
            (userBlocked)="userBlocked()"
          ></new-nft-card>
        </div>
      </div>
    </div>
  </div>
  <carousel class="zindex" *ngIf="mobile" [height]="520" [cellWidth]="300" [freeScroll]="true">
    <div class="carousel-cell pt-10px" *ngFor="let nftEntry of globalVars.discoveryDataToShow">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="nftEntry"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator('BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w')"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        [profilePublicKeyBase58Check]="BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
  </carousel>
  <div class="discovery-header-box mt-20px">
    <h2 id="categories" class="font-weight-semiboldn pl-10px" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">
      Explore categories
    </h2>
  </div>
  <carousel
    class="zindex"
    [arrows]="mobile ? false : true"
    [height]="200"
    [cellWidth]="255"
    [loop]="true"
    [cellsToScroll]="3"
    [ngClass]="mobile ? '' : 'mt-20px'"
    [freeScroll]="mobile ? true : false"
  >
    <div class="carousel-cell">
      <div class="discovery-category-box" (click)="routeViewAll('art')">
        <img class="w-100 h-100" loading="lazy" src="/assets/img/category_art.png" alt="category art" />
      </div>
    </div>
    <div class="carousel-cell">
      <div class="discovery-category-box" (click)="routeViewAll('collectibles')">
        <img
          class="w-100 h-100"
          loading="lazy"
          src="/assets/img/category_collectibles.png"
          alt="category collectibles"
        />
      </div>
    </div>
    <div class="carousel-cell">
      <div class="discovery-category-box" (click)="routeViewAll('generative')">
        <img
          class="w-100 h-100"
          loading="lazy"
          src="/assets/img/category_generative.png"
          alt="category generative art"
        />
      </div>
    </div>
    <div class="carousel-cell">
      <div class="discovery-category-box" (click)="routeViewAll('metaverse')">
        <img
          class="w-100 h-100"
          loading="lazy"
          src="/assets/img/category_metaverse.png"
          alt="category metaverse & gaming"
        />
      </div>
    </div>
    <div class="carousel-cell">
      <div class="discovery-category-box" (click)="routeViewAll('music')">
        <img class="w-100 h-100" loading="lazy" src="/assets/img/category_music.png" alt="category music" />
      </div>
    </div>
    <div class="carousel-cell">
      <div class="discovery-category-box" (click)="routeViewAll('profilepic')">
        <img
          class="w-100 h-100"
          loading="lazy"
          src="/assets/img/category_pp.png"
          alt="category profile picture collection"
        />
      </div>
    </div>
    <div class="carousel-cell">
      <div class="discovery-category-box" (click)="routeViewAll('photography')">
        <img class="w-100 h-100" loading="lazy" src="/assets/img/category_photography.png" alt="category photography" />
      </div>
    </div>
  </carousel>
  <div class="w-100 mt-50px pr-10px pl-10px d-flex align-items-center justify-content-between">
    <div class="discovery-header-box">
      <h2 id="fresh-drops" class="font-weight-semiboldn" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">Fresh drops</h2>
    </div>
    <a class="discovery-link" (click)="routeViewAll('fresh')">
      View all
      <img src="/assets/icons/chevron_right.svg" />
    </a>
  </div>
  <div *ngIf="!mobile" class="w-100 discovery-nft-showcase">
    <div class="nfts-card-list-discovery">
      <div class="nft-col-wrap" *ngFor="let nftEntry of globalVars.discoveryDataToShow2">
        <div class="max-width-350">
          <new-nft-card
            [contentShouldLinkToThread]="true"
            [includePaddingOnPost]="true"
            [post]="nftEntry"
            [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
            [blocked]="globalVars.hasUserBlockedCreator('BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w')"
            [showNFTDetails]="true"
            [showExpandedNFTDetails]="false"
            [setBorder]="true"
            [showAvailableSerialNumbers]="true"
            [cardStyle]="true"
            [profilePublicKeyBase58Check]="BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w"
            (userBlocked)="userBlocked()"
          ></new-nft-card>
        </div>
      </div>
    </div>
  </div>
  <carousel class="zindex" *ngIf="mobile" [height]="520" [cellWidth]="300" [freeScroll]="true">
    <div class="carousel-cell pt-10px" *ngFor="let nftEntry of globalVars.discoveryDataToShow2">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="nftEntry"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator('BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w')"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        [profilePublicKeyBase58Check]="BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
  </carousel>
  <div class="discovery-header-box mt-20px">
    <h2 id="creators" class="font-weight-semiboldn pl-10px" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">
      Newly verified creators
    </h2>
  </div>
  <div *ngIf="!mobile" class="discovery-creator-cards-container w-100">
    <div class="creator-card-list-discovery">
      <div class="nft-col-wrap" *ngFor="let username of globalVars.discoveryUserArray">
        <app-creator-card
          [username]="username"
          [extraUserNames]="globalVars.discoveryExtraUserArray"
        ></app-creator-card>
      </div>
    </div>
  </div>
  <carousel class="zindex" *ngIf="mobile" [height]="420" [cellWidth]="300" [freeScroll]="true">
    <div class="carousel-cell" *ngFor="let username of globalVars?.discoveryUserArray">
      <app-creator-card [username]="username" [extraUserNames]="globalVars.discoveryExtraUserArray"></app-creator-card>
    </div>
  </carousel>
  <div class="discovery-header-box mt-50px">
    <h2 id="content-type" class="font-weight-semiboldn pl-10px" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">
      Explore content formats
    </h2>
  </div>
  <carousel [height]="330" [cellWidth]="290" [freeScroll]="true" class="zindex" [ngClass]="mobile ? '' : 'mt-20px'">
    <div class="carousel-cell pt-10px pl-5px">
      <button class="content-type-card-discovery p-0px" (click)="routeViewAll('image')">
        <div class="h-60 w-100 d-flex flex-center background-color-secondary">
          <img src="/assets/icons/image-type.svg" alt="creator icon" />
        </div>
        <div class="h-40 w-100 mt-10px d-flex flex-column">
          <label class="fs-32px font-weight-semiboldn pointer-events-none">Images</label>
        </div>
      </button>
    </div>
    <div class="carousel-cell pt-10px pl-5px">
      <button class="content-type-card-discovery p-0px" (click)="routeViewAll('video')">
        <div class="h-60 w-100 d-flex flex-center background-color-secondary">
          <img src="/assets/icons/video-type.svg" alt="creator icon" />
        </div>
        <div class="h-40 w-100 mt-10px d-flex flex-column">
          <label class="fs-32px font-weight-semiboldn pointer-events-none">Video</label>
        </div>
      </button>
    </div>
    <div class="carousel-cell pt-10px pl-5px">
      <button class="content-type-card-discovery not-available-warning p-0px">
        <div class="h-60 w-100 d-flex flex-center background-color-secondary">
          <img src="/assets/icons/music-type.svg" alt="creator icon" />
        </div>
        <div class="h-40 w-100 mt-10px d-flex flex-column">
          <label class="fs-32px color-light font-weight-semiboldn pointer-events-none">Audio</label>
          <label class="fs-16px color-light pointer-events-none">Coming soon!</label>
        </div>
      </button>
    </div>
    <div class="carousel-cell pt-10px pl-5px">
      <button class="content-type-card-discovery not-available-warning p-0px">
        <div class="h-60 w-100 d-flex flex-center background-color-secondary">
          <img src="/assets/icons/3D-type.png" alt="creator icon" />
        </div>
        <div class="h-40 w-100 mt-10px d-flex flex-column">
          <label class="fs-32px color-light font-weight-semiboldn pointer-events-none">3D</label>
          <label class="fs-16px color-light pointer-events-none">Coming soon!</label>
        </div>
      </button>
    </div>
  </carousel>
  <div class="mt-100px w-100 d-flex justify-content-between" [ngClass]="mobile ? 'flex-column' : 'flex-row'">
    <button
      [routerLink]="'/' + this.globalVars.RouteNames.TRENDS"
      [ngClass]="mobile ? 'w-100 mb-20px' : 'w-45'"
      class="discovery-bottom-box p-20px d-flex flex-column flex-start-start"
    >
      <label class="mb-0px font-weight-semiboldn mt-10px ml-10px fs-20px cursor-pointer">Explore all NFTs</label>
      <p class="mt-10px color-light">Filter and sort all Deso NFTs on the marketplace.</p>
    </button>
    <button
      [routerLink]="'/' + this.globalVars.RouteNames.BROWSE"
      [ngClass]="mobile ? 'w-100' : 'w-45'"
      class="discovery-bottom-box p-20px d-flex flex-column flex-start-start"
    >
      <label class="mb-0px font-weight-semiboldn mt-10px ml-10px fs-20px cursor-pointer">
        Check the chatter on Feed
      </label>
      <p class="mt-10px color-light">Filter and sort all Deso NFTs on the marketplace.</p>
    </button>
  </div>
  <div class="discovery-spacer-2"></div>
</app-page-small-nav-new>
