h2 {
    scroll-margin: 100px;
}
.discovery-nft-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.discovery-main-card-container {
    //height: 500px;
    background-color: var(--secondary);
}
.carousel-arrow .carousel-arrow-next {
    right: 0px !important;
}
.zindex {
    z-index: 1;
}
.discovery-category-box {
    width: 263px;
    height: 176px;
    z-index: -1;
}
.discovery-bottom-box {
    height: 150px;
    border: none;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 2.75px 2.7464449405670166px 20px rgba(0, 0, 0, 0.1);
}
.discovery-spacer {
    height: 150px;
}
.mt-100px {
    margin-top: 100px;
}
.mt-50px {
    margin-top: 50px;
}
.mt-35px {
    margin-top: 35px;
}
.discovery-spacer-2 {
    height: 50px;
}
.discovery-creator-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.discovery-header-box {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.discovery-link {
    border-radius: 30px;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s linear;
    &:hover {
        transition: all 0.1s linear;
        background-color: #E8E8E8;
    }
}
.discovery-selector {
    height: 75px;
    overflow-x: scroll;
    background-color: transparent;
    div {
        z-index: 2;
        height: 49px;
        min-width: 1000px;
        background: #ffffff;
        border-radius: 30px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
        button {
            height: 90%;
            border: none;
            background-color: transparent;
            border-radius: 30px;
            padding-left: 10px;
            padding-right: 10px;
            transition: all 0.1s linear;
            &:hover {
                transition: all 0.1s linear;
                background-color: #E8E8E8;
            }
        }
    }
}
.card {
    width: 90%;
    padding: 1rem;
    margin: 1.5% auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(195, 209, 216, 0.5);
    
    @media (min-width: 768px) {
      margin: 1.5%;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
}