<app-page-small-nav-new>
  <!-- Bunch of things on this page turn from flexboxes into carousels, on var mobile change-->
  <div *ngIf="mobile" class="discovery-spacer-2"></div>
  <app-discovery [post]="discoveryMainNftResponse" [mobile]="mobile"></app-discovery>
  <div class="w-100 mt-20px d-flex flex-column flex-start-center discovery-selector disable-scrollbars">
    <div class="w-100 d-flex align-items-center justify-content-around">
      <button class="font-weight-semibold" (click)="scrollTo('favourites')">Community favorites</button>
      <button class="font-weight-semibold" (click)="scrollTo('categories')">Categories</button>
      <button class="font-weight-semibold" (click)="scrollTo('fresh-drops')">Fresh drops</button>
      <button class="font-weight-semibold" (click)="scrollTo('creators')">Supernovas verified</button>
      <button class="font-weight-semibold" (click)="scrollTo('content-type')">Content formats</button>
    </div>
  </div>
  <div class="w-100 mt-50px pr-10px pl-10px d-flex align-items-center justify-content-between">
    <div class="discovery-header-box">
      <h2 id="favourites" class="font-weight-semiboldn" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">
        Community Favorites
      </h2>
    </div>
    <a class="discovery-link" (click)="routeViewAll('communityfavourites')">
      View all
      <img src="/assets/icons/chevron_right.svg" />
    </a>
  </div>
  <div *ngIf="!mobile" class="w-100 discovery-nft-showcase">
    <div class="nfts-card-list-discovery w-100" *ngIf="postsLoading">
      <div class="nft-col-wrap" *ngFor="let a of fakeArray">
        <div class="card">
          <loading-shimmer [tabType]="'MARKETPLACE'"></loading-shimmer>
        </div>
      </div>
    </div>
    <div class="nfts-card-list-discovery" *ngIf="!postsLoading">
      <div class="nft-col-wrap" *ngFor="let nftEntry of discoveryDataToShow">
        <div class="max-width-300-plus">
          <new-nft-card
            [contentShouldLinkToThread]="true"
            [includePaddingOnPost]="true"
            [post]="nftEntry"
            [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
            [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
            [showNFTDetails]="true"
            [showExpandedNFTDetails]="false"
            [setBorder]="true"
            [showAvailableSerialNumbers]="true"
            [cardStyle]="true"
            (userBlocked)="userBlocked()"
          ></new-nft-card>
        </div>
      </div>
    </div>
  </div>
  <!-- Dynamic content unfortunately does not work straight out the box, apparently since content is loaded after slider init -->
  <div *ngIf="mobile" class="keen-slider" #sliderRef1>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow[0]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow[1]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow[2]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow[3]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow[4]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow[5]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow[6]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow[7]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
  </div>
  <div class="discovery-header-box mt-20px" [ngClass]="mobile ? 'mb--10px' : 'mb-10px'">
    <h2 id="categories" class="font-weight-semiboldn pl-10px" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">
      Explore categories
    </h2>
  </div>
  <div class="navigation-wrapper position-relative">
    <div class="keen-slider" #sliderRef2>
      <div class="keen-slider__slide category-slide1 pt-10px cursor-pointer" (click)="routeViewAll('art')">
        <img class="w-100 h-100" loading="lazy" src="/assets/img/category_art.png" alt="category art" />
      </div>
      <div class="keen-slider__slide category-slide1 pt-10px cursor-pointer" (click)="routeViewAll('collectibles')">
        <img
          class="w-100 h-100"
          loading="lazy"
          src="/assets/img/category_collectibles.png"
          alt="category collectibles"
        />
      </div>
      <div class="keen-slider__slide category-slide1 pt-10px cursor-pointer" (click)="routeViewAll('generative')">
        <img
          class="w-100 h-100"
          loading="lazy"
          src="/assets/img/category_generative.png"
          alt="category generative art"
        />
      </div>
      <div class="keen-slider__slide category-slide1 pt-10px cursor-pointer" (click)="routeViewAll('metaverse')">
        <img
          class="w-100 h-100 cursor-pointer"
          loading="lazy"
          src="/assets/img/category_metaverse.png"
          alt="category metaverse & gaming"
        />
      </div>
      <div class="keen-slider__slide category-slide1 pt-10px cursor-pointer" (click)="routeViewAll('music')">
        <img class="w-100 h-100" loading="lazy" src="/assets/img/category_music.png" alt="category music" />
      </div>
      <div class="keen-slider__slide category-slide1 pt-10px cursor-pointer" (click)="routeViewAll('profilepic')">
        <img
          class="w-100 h-100"
          loading="lazy"
          src="/assets/img/category_pp.png"
          alt="category profile picture collection"
        />
      </div>
      <div class="keen-slider__slide category-slide1 pt-10px cursor-pointer">
        <img class="w-100 h-100" loading="lazy" src="/assets/img/category_photography.png" alt="category photography" />
      </div>
    </div>
    <!-- Arrows -->
    <!--<div class="discovery-arrow-box-1 discovery-arrow-box">
      <svg class="discovery-arrow" (click)="slider2.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
      </svg>
    </div>-->
    <button
      (click)="slider2.next()"
      *ngIf="!mobile"
      class="discovery-arrow-box-2 discovery-arrow-box d-flex flex-center"
    >
      <!--<svg *ngIf="slider2" class="discovery-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>-->
      <img class="discovery-arrow" src="/assets/icons/chevron_right.svg" />
    </button>
  </div>
  <div class="w-100 mt-50px pr-10px pl-10px d-flex align-items-center justify-content-between">
    <div class="discovery-header-box">
      <h2 id="fresh-drops" class="font-weight-semiboldn" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">Fresh drops</h2>
    </div>
    <a class="discovery-link" (click)="routeViewAll('fresh')">
      View all
      <img src="/assets/icons/chevron_right.svg" />
    </a>
  </div>
  <div *ngIf="!mobile" class="w-100 discovery-nft-showcase">
    <div class="nfts-card-list-discovery" *ngIf="!postsLoading">
      <div class="nft-col-wrap" *ngFor="let nftEntry of discoveryDataToShow2">
        <div class="max-width-350">
          <new-nft-card
            [contentShouldLinkToThread]="true"
            [includePaddingOnPost]="true"
            [post]="nftEntry"
            [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
            [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
            [showNFTDetails]="true"
            [showExpandedNFTDetails]="false"
            [setBorder]="true"
            [showAvailableSerialNumbers]="true"
            [cardStyle]="true"
            (userBlocked)="userBlocked()"
          ></new-nft-card>
        </div>
      </div>
    </div>
    <div class="nfts-card-list-discovery w-100" *ngIf="postsLoading">
      <div class="nft-col-wrap" *ngFor="let a of fakeArray">
        <div class="card">
          <loading-shimmer [tabType]="'MARKETPLACE'"></loading-shimmer>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mobile" class="keen-slider" #sliderRef3>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow2[0]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow2[1]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow2[2]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow2[3]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow2[4]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow2[5]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow2[6]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
    <div class="keen-slider__slide number-slide1 pt-10px pl-5px">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="this?.discoveryDataToShow2[7]"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
  </div>
  <!--<carousel class="zindex" *ngIf="mobile" [height]="520" [cellWidth]="300" [freeScroll]="true">
    <div class="carousel-cell pt-10px" *ngFor="let nftEntry of globalVars.discoveryDataToShow2">
      <new-nft-card
        [contentShouldLinkToThread]="true"
        [includePaddingOnPost]="true"
        [post]="nftEntry"
        [afterCommentCreatedCallback]="appendCommentAfterParentPost.bind(this)"
        [blocked]="globalVars.hasUserBlockedCreator(this.globalVars.loggedInUser?.PublicKeyBase58Check)"
        [showNFTDetails]="true"
        [showExpandedNFTDetails]="false"
        [setBorder]="true"
        [showAvailableSerialNumbers]="true"
        [cardStyle]="true"
        (userBlocked)="userBlocked()"
      ></new-nft-card>
    </div>
  </carousel>-->
  <div class="discovery-header-box mt-20px">
    <h2 id="creators" class="font-weight-semiboldn pl-10px" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">
      Supernovas verified creators
    </h2>
  </div>
  <div *ngIf="!mobile" class="discovery-creator-cards-container w-100">
    <div class="creator-card-list-discovery" *ngIf="!usersLoading">
      <div class="nft-col-wrap" *ngFor="let username of discoveryUserArray">
        <app-creator-card [username]="username" [extraUserNames]="discoveryExtraUserArray"></app-creator-card>
      </div>
    </div>
    <div class="nfts-card-list-discovery w-100" *ngIf="usersLoading">
      <div class="nft-col-wrap" *ngFor="let a of fakeArray">
        <div class="card">
          <loading-shimmer [tabType]="'MARKETPLACE'"></loading-shimmer>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mobile" class="keen-slider" #sliderRef4>
    <div class="keen-slider__slide creator-slide1">
      <app-creator-card
        [username]="discoveryUserArray[0]"
        [extraUserNames]="discoveryExtraUserArray"
      ></app-creator-card>
    </div>
    <div class="keen-slider__slide creator-slide1">
      <app-creator-card
        [username]="discoveryUserArray[1]"
        [extraUserNames]="discoveryExtraUserArray"
      ></app-creator-card>
    </div>
    <div class="keen-slider__slide creator-slide1">
      <app-creator-card
        [username]="discoveryUserArray[2]"
        [extraUserNames]="discoveryExtraUserArray"
      ></app-creator-card>
    </div>
    <div class="keen-slider__slide creator-slide1">
      <app-creator-card
        [username]="discoveryUserArray[3]"
        [extraUserNames]="discoveryExtraUserArray"
      ></app-creator-card>
    </div>
    <div class="keen-slider__slide creator-slide1">
      <app-creator-card
        [username]="discoveryUserArray[4]"
        [extraUserNames]="discoveryExtraUserArray"
      ></app-creator-card>
    </div>
    <div class="keen-slider__slide creator-slide1">
      <app-creator-card
        [username]="discoveryUserArray[5]"
        [extraUserNames]="discoveryExtraUserArray"
      ></app-creator-card>
    </div>
    <div class="keen-slider__slide creator-slide1">
      <app-creator-card
        [username]="discoveryUserArray[6]"
        [extraUserNames]="discoveryExtraUserArray"
      ></app-creator-card>
    </div>
    <div class="keen-slider__slide creator-slide1">
      <app-creator-card
        [username]="discoveryUserArray[7]"
        [extraUserNames]="discoveryExtraUserArray"
      ></app-creator-card>
    </div>
  </div>
  <div class="discovery-header-box mt-35px">
    <h2 id="content-type" class="font-weight-semiboldn pl-10px" [ngClass]="mobile ? 'fs-18px' : 'fs-38px'">
      Explore content formats
    </h2>
  </div>
  <div class="keen-slider" #sliderRef5 [ngClass]="mobile ? '' : 'mt-20px'">
    <div class="keen-slider__slide format-slide1 pt-10px pl-5px">
      <button class="content-type-card-discovery p-0px" (click)="routeViewAll('image')">
        <div class="h-60 w-100 d-flex flex-center background-color-secondary">
          <img src="/assets/icons/image-type.svg" alt="creator icon" />
        </div>
        <div class="h-40 w-100 mt-10px d-flex flex-column">
          <label class="fs-32px font-weight-semiboldn pointer-events-none">Images</label>
        </div>
      </button>
    </div>
    <div class="keen-slider__slide format-slide1 pt-10px pl-5px">
      <button class="content-type-card-discovery p-0px" (click)="routeViewAll('video')">
        <div class="h-60 w-100 d-flex flex-center background-color-secondary">
          <img src="/assets/icons/video-type.svg" alt="creator icon" />
        </div>
        <div class="h-40 w-100 mt-10px d-flex flex-column">
          <label class="fs-32px font-weight-semiboldn pointer-events-none">Video</label>
        </div>
      </button>
    </div>
    <div class="keen-slider__slide format-slide1 pt-10px pl-5px">
      <button class="content-type-card-discovery not-available-warning p-0px">
        <div class="h-60 w-100 d-flex flex-center background-color-secondary">
          <img src="/assets/icons/music-type.svg" alt="creator icon" />
        </div>
        <div class="h-40 w-100 mt-10px d-flex flex-column">
          <label class="fs-32px color-light font-weight-semiboldn pointer-events-none">Audio</label>
          <label class="fs-16px color-light pointer-events-none">Coming soon!</label>
        </div>
      </button>
    </div>
    <div class="keen-slider__slide format-slide1 pt-10px pl-5px">
      <button class="content-type-card-discovery not-available-warning p-0px">
        <div class="h-60 w-100 d-flex flex-center background-color-secondary">
          <img src="/assets/icons/3D-type.png" alt="creator icon" />
        </div>
        <div class="h-40 w-100 mt-10px d-flex flex-column">
          <label class="fs-32px color-light font-weight-semiboldn pointer-events-none">3D</label>
          <label class="fs-16px color-light pointer-events-none">Coming soon!</label>
        </div>
      </button>
    </div>
  </div>
  <div class="mt-100px w-100 d-flex justify-content-between" [ngClass]="mobile ? 'flex-column' : 'flex-row'">
    <button
      [routerLink]="'/' + this.globalVars.RouteNames.TRENDS"
      [ngClass]="mobile ? 'w-100 mb-20px' : 'w-45'"
      class="discovery-bottom-box p-20px d-flex flex-column flex-start-start"
    >
      <label class="mb-0px font-weight-semiboldn mt-10px ml-10px fs-20px cursor-pointer">Explore all NFTs</label>
      <p class="mt-10px color-light">Filter and sort all Supernovas NFTs on the marketplace.</p>
    </button>
    <button
      [routerLink]="'/' + this.globalVars.RouteNames.BROWSE"
      [ngClass]="mobile ? 'w-100' : 'w-45'"
      class="discovery-bottom-box p-20px d-flex flex-column flex-start-start"
    >
      <label class="mb-0px font-weight-semiboldn mt-10px ml-10px fs-20px cursor-pointer">
        Check the chatter on Feed
      </label>
      <p class="mt-10px color-light">Join the conversation on the Supernovas feed.</p>
    </button>
  </div>
  <div class="discovery-spacer-2"></div>
  <div *ngIf="mobile" class="discovery-spacer-2"></div>
  <bottom-bar-mobile
    *ngIf="mobile"
    class="global__bottom-bar-mobile scrolled"
    [showPostButton]="showPostButton"
  ></bottom-bar-mobile>
</app-page-small-nav-new>
