.collection-nft-container {
    position: relative;
    margin-bottom: 15px;
    min-width: 200px;

    .select-nft {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        border: 1px solid green;
    }

    .nft-is-selected {
        border: 2px solid blue;
    }
}
