.mlb-status-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    button {
        width: 83px;
        height: 68px;
        background-color: #FFFFFF;
        color: #525252;
        border: 1.1800000667572021px solid #aaaaaa;
        border-radius: 7.866666793823242px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}