<!--<div class="marketplace-nav-width position-relative"> Commented out to make position sticky work-->
<div class="global__nav__sticky__marketplace disable-scrollbars mt-10px">
  <div class="global__nav__inner__marketplace position-relative">
    <label class="w-100 pl-10px marketplace-label">Status</label>
    <div class="mlb-status-grid">
      <button class="font-weight-semibold fs-14px" (click)="statusClick('All')" [ngClass]="{ selected: statusAll }">
        All
      </button>
      <button
        class="font-weight-semibold fs-14px"
        (click)="statusClick('For Sale')"
        [ngClass]="{ selected: statusForSale }"
      >
        For Sale
      </button>
      <button
        class="font-weight-semibold fs-14px"
        (click)="statusClick('Has Bids')"
        [ngClass]="{ selected: statusHasBids }"
      >
        Has Bids
      </button>
      <button class="font-weight-semibold fs-14px" (click)="statusClick('Sold')" [ngClass]="{ selected: statusSold }">
        Sold
      </button>
    </div>
    <label class="w-100 mt-20px pl-10px marketplace-label">Price</label>
    <select
      class="w-100 p-5px mrk_select mrk_select_height font-weight-semibold fs-14px"
      (ngModelChange)="onSelectChange($event)"
      [ngModel]="selectValue"
    >
      <option value="Most recent first">$ Price range</option>
    </select>
    <label class="w-100 mt-20px pl-10px marketplace-label">Market</label>
    <button
      class="w-100 marketplace-filter-button d-flex flex-row align-items-center pl-10px position-relative"
      [ngClass]="primary ? 'market-button-checked' : ''"
      (click)="togglePrimary()"
    >
      <input type="checkbox" class="marketplace-button-checkbox display-none" [checked]="primary" />
      <label class="marketplace-checkbox-label fs-14px">Primary</label>
    </button>
    <button
      class="w-100 mt-10px marketplace-filter-button d-flex flex-row align-items-center pl-10px position-relative"
      [ngClass]="secondary ? 'market-button-checked' : ''"
      (click)="toggleSecondary()"
    >
      <input type="checkbox" class="marketplace-button-checkbox display-none" [checked]="secondary" />
      <label class="marketplace-checkbox-label fs-14px">Secondary</label>
    </button>
    <label class="w-100 mt-20px pl-10px marketplace-label">Category</label>
    <select
      class="w-100 p-5px mrk_select mrk_select_height font-weight-semibold fs-14px"
      (ngModelChange)="onSelectChange($event)"
      [ngModel]="selectValue"
    >
      <option value="Photography">Photography</option>
      <option value="Art">Art</option>
      <option value="Collectibles">Collectibles</option>
      <option value="Generative Art">Generative Art</option>
      <option value="Metaverse & Gaming">Metaverse & Gaming</option>
      <option value="Music">Music</option>
      <option value="Profile Picture Collection">Profile Picture Collection</option>
    </select>
    <label class="w-100 mt-20px pl-10px marketplace-label">Content format</label>
    <button
      class="w-100 mlb-content-format-button d-flex flex-row flex-center-start pl-10px fs-14px"
      [ngClass]="{ selected: formatAll }"
      (click)="formatClick('All')"
    >
      <img src="/assets/icons/market_globe_icon.svg" class="mr-5px" alt="image-icon" />
      All
    </button>
    <div class="mlb-status-grid pt-10px">
      <button (click)="formatClick('Images')" [ngClass]="{ selected: formatImages }">
        <img src="/assets/icons/market_images_icon.svg" class="mb-5px" alt="image-icon" />
        Images
      </button>
      <button (click)="formatClick('Video')" [ngClass]="{ selected: formatVideo }">
        <img src="/assets/icons/market_video_icon.svg" class="mb-5px" alt="image-icon" />
        Video
      </button>
      <button (click)="formatClick('Music')" [ngClass]="{ selected: formatMusic }">
        <img src="/assets/icons/market_music_icon.svg" class="mb-5px" alt="image-icon" />
        Music
      </button>
      <button (click)="formatClick('3D')" [ngClass]="{ selected: format3D }">
        <img src="/assets/icons/market_3d_icon.svg" class="mb-5px" alt="image-icon" />
        3D
      </button>
    </div>
    <label class="w-100 mt-20px pl-10px marketplace-label">Creators</label>
    <div class="mrk_lb_selector px-5px">
      <button
        class="fs-12px d-flex flex-row flex-center"
        (click)="creatorsClick('verified')"
        [ngClass]="{ selected: verifiedCreators }"
      >
        <img src="/assets/icons/checkmark_14px.svg" class="mr-5px" alt="image-icon" />
        Verified
      </button>
      <button
        class="fs-12px d-flex flex-row flex-center"
        (click)="creatorsClick('all')"
        [ngClass]="{ selected: allNFTs }"
      >
        <img src="/assets/icons/market_globe_icon.svg" class="mr-5px" alt="image-icon" />
        All
      </button>
    </div>
    <button class="marketplace-apply-button fs-12px font-weight-bold">
      <img src="/assets/icons/market_apply_icon.svg" class="mr-5px" alt="image-icon" />
      Apply
    </button>
  </div>
</div>
<!--</div>-->
