<div>
  <!-- globalVars.isLeftBarMobileOpen -->
  <div class="background-gradient" [@leftBarAnimation] *ngIf="globalVars.isLeftBarMobileOpen">
    <div class="left-bar-mobile__flyout-div">
      <app-mobile-navigation
        class="w-100 h-100 d-flex flex-center"
        *ngIf="globalVars.loggedInUser"
        (closeMobile)="_closeMenu()"
      ></app-mobile-navigation>
      <div *ngIf="!globalVars.loggedInUser" class="">
        <app-offline-info></app-offline-info>
      </div>
      <div *ngIf="globalVars.isLeftBarMobileOpen" (click)="_closeMenu()" class="nav_close">
        <img src="assets/img/close_square.svg" alt="" />
      </div>
    </div>
  </div>
  <div
    *ngIf="globalVars.isLeftBarMobileOpen"
    [@translucentBackgroundAnimation]
    (click)="_closeMenu()"
    class="left-bar-mobile__translucent-background"
  ></div>
</div>
