.card-box-profile-update {
  width: 100%;
  padding-bottom: 100px;
  // max-width: 1000px;
  max-width: 650px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.card-profile-update {
  margin-top: 25px;
  height: 240px;
  min-width: 200px;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  border: 0.5px solid #fcfcfc;
  overflow: hidden;
}
@media (max-width: 440px) {
  .card-profile-update {
    height: 220px;
    min-width: 180px;
  }
}
.card-profile-header {
  width: 95%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card-profile-desc {
  width: 95%;
  text-align: center;
  font-size: 12px;
}
.profile-icon {
  //padding-bottom: 10px;
  fill: white;
}
.background-profile {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-mobile {
  background-image: url("/assets/img/phone-background.png");
}
.background-jumio {
  background-image: url("/assets/img/jumio-background.png");
}
.background-deso {
  background-image: url("/assets/img/deso-background.png");
}
.background-blockchain {
  background-image: url("/assets/img/block-background.png");
}

.finalize-deso-profile-text {
  padding-top: 100px;
}

.finalize-profile-box {
  padding: 1em;
  background: grey;
  border-radius: 1em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(26px, 2.5vw, 46px);
  align-items: center;
  color: #2D2D2D;
  text-align: center;
  vertical-align: middle;
  background: #FFFFFF;
  border: 2px solid #F4F4F4;
  box-sizing: border-box;
  box-shadow: 0px 1.81225px 30px 1.81225px rgba(0, 0, 0, 0.05);
  border-radius: 52px;
}

.get-deso-container {
  text-align: center;
  vertical-align: middle;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  font-weight: 600;
  font-size: clamp(16px, 1.5vw, 24px);}

.get-deso-box {
  width: 50%;
  margin-bottom: 2em;

  p {
    font-size: 14px;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  @media screen and (max-width: 664px) {
    width: auto;
    width: 100%;

  }
}

.get-deso-coinbase-box {
  width: 50%;

  p {
    font-size: 14px;
    text-align: center;
  }

  @media screen and (max-width: 664px) {
    width: auto;
    width: 100%;

  }
}

.get-deso-button {
  display: inline-block;
  border-radius: 10px;
  border: 3px double #161724;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 310px;
  height: 70px;
  background: #161724;
  border-radius: 20px;
}

.coinbase-button {
  background: #2054ff;
  border: 3px double #2054ff;
}

.coinbase-img {
  display: block;
  margin: auto;
  width: 50%;
}

.deso-img {
  display: block;
  margin: auto;
  height: 100%;
}

.get-deso-button:hover {
  box-shadow: rgba(0, 0, 0, 0.068) 0 8px 15px;
  transform: translateY(-2px);
  color: #4285f4;
}

.current-cost-container {
  text-align: center;
  vertical-align: middle;
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 100;
  color: grey;
}

.finalize-profile-title {
  font-weight: 600;
}

.buttons-box {
  display: flex;
  text-align: center;

  @media screen and (max-width: 664px) {
    display: inline;
  }
}

.mobile-create-your-profile-width {
  width: 96%;
}

@media screen and (max-width: 480px) {
  .mobile-create-your-profile-width {
    width: 92%;
  }

  .card-box-profile-update {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
}

// .onboarding-card-shadow {
//   width: 700px;
//   height: 1025px;
//   left: 2px;
//   top: -1px;

//   background: #f3f3f3;
//   border-radius: 30.2255px;
//   position: relative;
// }

// .onboarding-card {
//   width: 680px;
//   height: 1002px;
//   left: 10px;
//   top: 6px;

//   background: #ffffff;
//   border-radius: 29.6169px;
//   position: absolute;
// }

// .onboarding-card-header-1 {
//   font-weight: 600;
//   font-size: 32px;
//   position: absolute;
//   left: 58px;
//   top: 38px;
// }

// .onboarding-card-subheader {
//   font-size: 20px;
//   position: absolute;
//   left: 58px;
//   top: 93px;
// }

// .color-gradient {
//   left: 58px;
//   top: 175px;
//   position: absolute;
//   width: 11.69px;
//   height: 550px;
// }

// .onboarding-card-button {
//   width: 130px;
//   height: 56px;
//   border: 3px solid #000000;
//   border-radius: 31.879194259643555px;
//   box-shadow: 0.4547150731086731px 0.4547150731086731px 2.2735750675201416px rgba(0, 0, 0, 0.11);
//   background-color: white;
//   position: absolute;
//   font-weight: bold;
//   font-size: 15px;
// }

// // Step 1
// .checkmark-1 {
//   position: absolute;
//   width: 26.57px;
//   height: 26.57px;
//   left: 50px;
//   top: 170px;
// }

// .step-1-header {
//   position: absolute;
//   left: 95px;
//   top: 167px;
//   font-size: 18px;
//   font-weight: bold;
// }

// .step-1-text {
//   position: absolute;
//   left: 95px;
//   top: 197px;
//   font-size: 15px;
//   width: 400px;
// }

// .onboarding-card-button-1 {
//   top: 197px;
//   right: 50px;
// }

// // Step 2
// .checkmark-2 {
//   position: absolute;
//   width: 26.57px;
//   height: 26.57px;
//   left: 50px;
//   top: 297px;
// }

// .step-2-header {
//   position: absolute;
//   left: 95px;
//   top: 297px;
//   font-size: 18px;
//   font-weight: bold;
// }

// .step-2-text {
//   position: absolute;
//   left: 95px;
//   top: 327px;
//   font-size: 15px;
//   width: 400px;
// }

// .onboarding-card-button-2 {
//   top: 327px;
//   right: 50px;
// }

// // Step 3
// .checkmark-3 {
//   position: absolute;
//   width: 26.57px;
//   height: 26.57px;
//   left: 50px;
//   top: 427px;
// }

// .step-3-header {
//   position: absolute;
//   left: 95px;
//   top: 427px;
//   font-size: 18px;
//   font-weight: bold;
// }

// .step-3-text {
//   position: absolute;
//   left: 95px;
//   top: 457px;
//   font-size: 15px;
//   width: 400px;
// }

// .onboarding-card-button-3 {
//   top: 457px;
//   right: 50px;
// }

// // Step 4
// .checkmark-4 {
//   position: absolute;
//   width: 26.57px;
//   height: 26.57px;
//   left: 50px;
//   top: 577px;
// }

// .step-4-header {
//   position: absolute;
//   left: 95px;
//   top: 577px;
//   font-size: 18px;
//   font-weight: bold;
// }

// .step-4-text {
//   position: absolute;
//   left: 95px;
//   top: 607px;
//   font-size: 15px;
//   width: 400px;
// }

// .onboarding-card-button-4 {
//   top: 607px;
//   right: 50px;
// }

// // done
// .done {
//   position: absolute;
//   width: 46.76px;
//   height: 26.57px;
//   left: 40px;
//   top: 700px;
// }

// // line-break
// .line-break {
//   position: absolute;
//   width: 680px;
//   height: 0px;
//   left: 0px;
//   top: 760px;

//   border: 0.25px solid #c7c7c7;
// }

// // support
// .support-header {
//   position: absolute;
//   left: 95px;
//   top: 785px;
//   font-size: 24px;
//   font-weight: bold;
// }

// .support-text {
//   position: absolute;
//   left: 95px;
//   top: 820px;
//   font-size: 15px;
//   width: 450px;
// }

// .onboarding-support-button {
//   top: 900px;
//   left: 95px;
//   width: 275px;
// }
