<div *ngIf="globalVars.isMobile()">
  <div
    class="global__top-bar global__top-bar__height topbar-update-profile d-flex align-items-center pl-15px fs-18px border-bottom border-color-grey max-width-profile mobile-create-your-profile-width"
    *ngIf="!this.globalVars.loggedInUser?.CanCreateProfile"
  >
    <p class="font-weight-bold" *ngIf="!globalVars.loggedInUser?.ProfileEntryResponse?.Username">Create Your Profile</p>
  </div>
  <div class="fs-15px mt-15px finalize-deso-profile-text finalize-profile-box">
    To finalize creating your profile, you need $DESO cryptocurrency.
    <br />
    <br />
    <span *ngIf="globalVars.createProfileFeeNanos > 0">
      Creating a profile currently costs
      <b>{{ globalVars.createProfileFeeInDeSo() }} DeSo (≈ {{ globalVars.createProfileFeeInUsd() }} USD)</b>
    </span>
    <br />
    <br />
  </div>
</div>

<!-- DESKTOP -->


<div *ngIf="!globalVars.isMobile()" class="fs-15px mt-15px finalize-profile-box">
  <div>
    <p class="finalize-profile-title">You're almost there!</p>
    <p class="finalize-profile-title">You just need some $DESO</p>
  </div>
  <span *ngIf="globalVars.createProfileFeeNanos > 0" class="current-cost-container">
    Creating a profile currently costs
    <b>{{ globalVars.createProfileFeeInDeSo() }} DeSo (≈ {{ globalVars.createProfileFeeInUsd() }} USD)</b>
  </span>
</div>
<div class="get-deso-container">  <span>Get $DESO by using any of the methods below 👇</span>
</div>

<div class="buttons-box">
  <div class="get-deso-box">
    <a class="get-deso-button" href="https://buy.deso.org/" target="_blank">
      <img src="./assets/icons/coinbase-white.png" alt="" class="deso-img">
    </a>
    <p>Buy $DESO with a credit card, Bitcoin or Ethereum.</p>
  </div>

  <div class="get-deso-coinbase-box">
    <a class="get-deso-button coinbase-button" href="https://www.coibase.com/" target="_blank">
      <img src="./assets/icons/coinbase-white.png" alt="" class="coinbase-img">
    </a>
    <p>Buy $DESO on Coinbase’s exchange.</p>
  </div>
</div>

