.small-graph-parent-container {


    .small-graph-container {
        width: 559px;
        height: 377px;
        background: #ffffff;
        border-radius: 18.122512817382812px;
        box-shadow: 0px 1.812251329421997px 30px rgba(0, 0, 0, 0.05);
        padding: 20px;
    }
}