<div class="buy-eth-wrapper d-flex flex-column flex-center-start h-100">
  <p class="buy-eth-description">BUY WITH MOONPAY</p>
  <div class="moonpay-container">
    <div class="moonpay-container-header">
      <img src="/assets/eth/moonpay-logo.svg" alt="moonpay-text" class="moonpay-logo" />
      <img src="/assets/eth/moonpay-text.svg" alt="moonpay-text" class="moonpay-text" />
    </div>
    <p class="moonpay-text">Buy ETH directly to your Immutable X wallet with FIAT currencies by using Moonpay.</p>
  </div>
  <button class="imx-buy-button" (click)="buyEthButtonClicked()">
    <div class="general-success-modal-button-text-connected">Buy ETH with Moonpay</div>
  </button>
  <a class="support-container">
    <img src="/assets/eth/support-arrow.svg" alt="support-arrow" class="support-arrow" />
    <p class="support-text">Need help? Contact our support</p>
  </a>
</div>
