<form autocomplete="off">
    <h1 class="create-collection-title">Collection details</h1>
    
    <!-- Collection Banner -->
    <div class="collection-details-header">

        <div class="collection-details-header-h2">
            <input 
                type="file"
                accept="image/png, image/jpeg, image/webp"
                id="file"
                
            />
            <img src="/assets/icons/upload_grey.svg" alt="upload-icon"/>
            <h2>Click to upload a collection banner image</h2>
        </div>
        <h3>Recommended size is 925 x 250 pixels.</h3>

        <img src="" class="profile-image" alt="">
    </div>

    <!-- Collection Information -->
    <div class="collection-details-info">      
        <label for="collection-name">Collection Name:</label>
        <input type="text" formControlName="collectionName" id="collection-name">
        <label for="collection-desc">Collection Description:</label>
        <textarea rows="4" id="collection-desc"></textarea>
        <input type="submit" formControlName="collectionDescription" value="Continue">    
    </div>

    <!-- {{createCollectionForm.get("collectionName").value}} -->
</form>
