<div
  class="nft-modal-container position-relative d-flex flex-center justify-content-between"
>
  <div>
    <h2>{{ headingText }}</h2>
    <label class="mb-0px">{{ modalText }}</label>
  </div>
  <div class="action-response-buttons-container d-flex flex-column w-90">
    <button class="black-rounded-button action-response-black-button w-100" (click)="dissmissReasonOne()">
      {{ buttonOneText }}
    </button>
    <button class="white-rounded-button action-response-white-button w-100" (click)="dissmissReasonTwo()">
      Close this window
    </button>
  </div>
</div>
