.top-sales-container {
    height: fit-content;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-top: 40px;
    border-radius: 30px;
    padding: 2rem;

    h3 {
        padding: 10px 0;
        color: #2D2D2D;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .top-sales-cards-container {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;

        .nft-item {
            height: auto;
            min-width: 150px;
            display: flex;
            flex-direction: column;
            color: #767676;
            font-size: 0.9rem;

            p {
                padding: 5px 0;
                color: #1F1F1F;
                text-transform: uppercase;
            }
        }

        @media (max-width: 768px) {
            justify-content: space-evenly;
        }
    }
}