.signup-container {
  background-color: #f5f5f5;
  height: 100vh;
}
.signup-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.signup-body-container {
  height: calc(100vh - 80px);
}
.supernovas-logo-mobile {
  max-width: 100%;
}
.singup-center {
  max-width: 100%;
  max-height: 100%;
  height: 613px;
  width: 751px;
  background: #ffffff;
  border: 9px solid #eeeeee;
  border-radius: 20px;
  box-shadow: 1.0368170738220215px 1.0368170738220215px 10.368169784545898px rgba(155, 155, 155, 0.02);
  overflow-y: scroll;
}
.signup-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.left-btn {
  margin-right: 40px;
}
.right-btn {
  margin-left: 40px;
}
.h-120px {
  min-height: 120px;
}
.signup-center-height {
  max-height: 100%;
  height: 678px;
  width: 801px;
  overflow-y: scroll;
  @media (max-width: 500px) {
    //height: 100%;
    justify-content: flex-start;
  }
}
.signup-window {
  height: 100vh;
  text-align: center;
  position: relative;
  padding-top: 20px;
}
.signup-window-header {
  margin-top: 50px;
}
.signup-window-body {
  margin-top: 60px;
}
.signup-window-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  margin-bottom: 50px;
}
.signup-window-btn-1 {
  margin-top: 100px;
}
.signup-window-btn-2 {
  margin-top: 200px;
}
.max-width-445px {
  width: 445px;
  max-width: 90%;
}
.header-font-rezising {
  font-size: 32px;
}
.subheading-font-resizing {
  font-size: 22px;
}
.logo-height-main-button {
  height: 50px;
}
.signup-main-button {
  width: 445px;
  max-width: 90%;
  height: 89px;
  background: #0e0f22;
  color: white;
  border-radius: 20px;
}
@media (max-width: 450px) {
  .button-font-resizing {
    font-size: 18px;
  }
  .subheading-font-resizing {
    font-size: 16px;
  }
  .header-font-rezising {
    font-size: 24px;
  }
  .logo-height-main-button {
    height: 30px;
  }
  .signup-main-button {
    height: 60px;
  }
}
.fc-success {
  color: green;
}
.fc-error {
  color: red;
}
.signup-input {
  height: 35px;
  border-radius: 5.669146537780762px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  font-size: 16px;
}

// ------------------ mobile

.flex-center-mobile {
  justify-content: center;
  margin-top: 1vh;
  height: 95vh;
}

.signup-center-height-mobile {
  width: 95vw;
  height: 90vh;
  overflow: scroll;
}

.signup-window-header-mobile {
  margin-top: 5vh;
  font-size: 1.5rem;
  display: block;
}

.signup-card-box-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  flex-direction: column;
  padding-bottom: 100px;
  height: calc(100% - 96px);
}

.profile-type-card-mobile {
  width: 196px;
  height: 220px;
  margin-top: 30px;
  overflow: hidden;
  background: #ffffff;
  border: 2px solid #efefef;
  border-radius: 15.0900793076px;
  box-shadow: 1.0368170738px 1.0368170738px 20.7363395691px rgb(0 0 0 / 5%);
}

.signup-card-box-mobile-text {
  display: block;
}

.signup-window-btn-mobile {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 300px;
  max-width: 90%;
  margin-bottom: 5vh;
}

.signup-window-body-mobile {
  margin-top: 5vh;
}
.signup-window-btn-absolute {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .signup-card-box-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
  }

  .profile-type-card-mobile {
    width: 196px;
    height: 220px;
    margin-top: 2.5vh;
    overflow: hidden;
    background: #ffffff;
    border: 2px solid #efefef;
    border-radius: 15.0900793076px;
    box-shadow: 1.0368170738px 1.0368170738px 20.7363395691px rgb(0 0 0 / 5%);
  }
}
