.trade-creator-buy-wrapper {
    background-color: #ffffff;
    width: calc(100% - 30px) !important;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.trade-creator-button {
    max-width: 90%;
    width: 350px;
    height: 65px;
    font-size: 18px;
    font-weight: bold;
}
.trade-creator-coin-info-box {
    width: 340px;
    max-width: 85%;
    height: 97px;
    border-radius: 17.278106689453125px;
    background: #ffffff;
    box-shadow: 0px 3.4556212425231934px 43.19526672363281px rgba(0, 0, 0, 0.05);
}