<div class="trade-creator-buy-wrapper position-relative d-flex flex-column flex-center-start w-100 h-100">
  <div class="trade-creator-spacer"></div>
  <div class="position-relative trade-creator-input-container d-flex flex-row flex-start w-90 mt-10px">
    <input
      matInput
      type="number"
      placeholder="0"
      class="pl-10px color-text font-weight-bold flex-center pr-10px trade-creator-input m-0px h-100 w-60"
    />
    <button class="trade-creator-input-label h-100 w-40 pt-5px">
      <img src="assets/deso/logo-cropped.png" class="mb-5px trade-creator-deso-logo" />
      <label class="mb-0px">$DESO</label>
    </button>
  </div>
  <div class="trade-creator-spacer-two"></div>
  <span class="trade-creator-balance-info">
    <p class="font-weight-semiboldn">You have X DeSo in your wallet</p>
  </span>
  <div class="trade-creator-spacer"></div>
  <div class="trade-creator-coin-info-box d-flex flex-center flex-column">
    <div class="d-flex flex-row justify-content-between coin-info-box-top">
      <span class="you-receive">You receive</span>
      <span class="amount-of-coins font-weight-semiboldn">123 $Juvonen coins</span>
    </div>
    <span class="founder-reward h-50 d-flex flex-center">@Wanker receives 5% as Founder Reward</span>
  </div>
  <button class="black-rounded-button mt-20px trade-creator-button">Buy</button>
</div>
