<div class="trade-creator-buy-wrapper d-flex flex-column flex-center w-100 h-100">
  <input placeholder="Deso" type="number" class="w-90" />
  <span>You have X DeSo in your wallet</span>
  <div class="trade-creator-coin-info-box d-flex flex-center flex-column">
    <div class="d-flex flex-row justify-content-between">
      <span class="fs-14px">You receive</span>
      <span class="fs-14px">123 $Juvonen coins</span>
    </div>
    <span class="fs-12px">@Wanker receives 5% as Founder Reward</span>
  </div>
  <button class="black-rounded-button trade-creator-button">Buy</button>
</div>
