<table>
  <thead>
    <tr>
      <td>ACTIVITY</td>
      <td>PIECE</td>
      <td>PRICE</td>
      <td>FROM</td>
      <td>TO</td>
      <td>TIME</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sale</td>
      <td>NICE</td>
      <td>1.4DESO</td>
      <td>BOBBYBUILDER</td>
      <td>BOBBYBUYER</td>
      <td>2 minutes ago</td>
    </tr>
    <tr>
      <td>Mint</td>
      <td>NICE</td>
      <td>1.4DESO</td>
      <td>BOBBYBUILDER</td>
      <td>BOBBYBUYER</td>
      <td>2 minutes ago</td>
    </tr>
    <tr>
      <td>Bid</td>
      <td>NICE</td>
      <td>1.4DESO</td>
      <td>BOBBYBUILDER</td>
      <td>BOBBYBUYER</td>
      <td>2 minutes ago</td>
    </tr>
    <tr>
      <td>Listing</td>
      <td>NICE</td>
      <td>1.4DESO</td>
      <td>BOBBYBUILDER</td>
      <td>BOBBYBUYER</td>
      <td>2 minutes ago</td>
    </tr>
  </tbody>
</table>
