<table>
  <thead>
    <tr>
      <td class="font-weight-semiboldn">ACTIVITY</td>
      <td class="font-weight-semiboldn">PIECE</td>
      <td class="font-weight-semiboldn">PRICE</td>
      <td class="font-weight-semiboldn">FROM</td>
      <td class="font-weight-semiboldn">TO</td>
      <td class="font-weight-semiboldn">TIME</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sale</td>
      <td>NICE</td>
      <td>1.4DESO</td>
      <td>BOBBYBUILDER</td>
      <td>BOBBYBUYER</td>
      <td>2 minutes ago</td>
    </tr>
    <tr>
      <td>Mint</td>
      <td>NICE</td>
      <td>1.4DESO</td>
      <td>BOBBYBUILDER</td>
      <td>BOBBYBUYER</td>
      <td>2 minutes ago</td>
    </tr>
    <tr>
      <td>Bid</td>
      <td>NICE</td>
      <td>1.4DESO</td>
      <td>BOBBYBUILDER</td>
      <td>BOBBYBUYER</td>
      <td>2 minutes ago</td>
    </tr>
    <tr>
      <td>Listing</td>
      <td>NICE</td>
      <td>1.4DESO</td>
      <td>BOBBYBUILDER</td>
      <td>BOBBYBUYER</td>
      <td>2 minutes ago</td>
    </tr>
  </tbody>
</table>
