.post-thread-post-container {
    background: #ffffff;
    border: 1.8687872886657715px solid #f8f8f8;
    border-radius: 30px;
    box-shadow: 0px 0.9343936443328857px 15px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.post-thread_comment {
    background: #ffffff;
    border: 1.8732240200042725px solid #f6f6f6;
    border-radius: 18.732240676879883px;
    box-shadow: 0.9366120100021362px 0.9366120100021362px 4.683060169219971px rgba(0, 0, 0, 0.01);
    width: 95%;
    margin-top: 15px;
}
.post-thread-parent-post-container {
    background: #ffffff;
    border: 1.8687872886657715px solid #f8f8f8;
    border-radius: 30px;
    box-shadow: 0px 0.9343936443328857px 15px rgba(0, 0, 0, 0.05);
    width: 95%;
    margin-left: 5%;
    z-index: 1;
}