<div class="collection-page-content-container">
    <!-- Collection Description -->
    <div class="collection-description">
        <h2>Description</h2>
        This is my bio and this is how far the box here stretch. This is good text.This is my bio and this is how far the box here stretch. This is good text.

        This is my bio and this is how far the box here stretch. This is good text. This is good text.
    </div>

    <!-- Collection Tab/Filter Menu Options -->
    <div class="collection-tab-options">
        <div class="collection-tab-options-left">
            <div class="collection-content-tabs-container">
                <div class="collection-content-tab">
                    <!-- <img src="" alt="Collection Icon"> -->
                    Collection
                </div>
                <div class="collection-content-tab">
                    <!-- <img src="" alt="Activity Icon"> -->
                    Activity
                </div>
            </div>
        </div>

        <div class="collection-tab-options-right">
            <div class="collection-view-tabs-container">
                <div class="default-view-tab">
                    <!-- <img src="" alt="Default View Icon"> -->
                    ICON
                </div>
                <div class="grid-view-tab">
                    <!-- <img src="" alt="Grid View Icon"> -->
                    ICON
                </div>
            </div>
            <select class="collection-view-filter">
                <option value=”1”>Option 1</option>
                <option value=”2”>Option 2</option>
            </select>
        </div>
    </div>

    <!-- Collection Page Main NFT Content Area -->
    <div class="collection-page-main-content-area">
        <app-collection-page-sidebar class="collection-page-sidebar"></app-collection-page-sidebar>
        <div class="nfts-in-collection">

        </div>
    </div>
</div>