<div app-theme class="nft-modal-container p-15px">
  <div *ngIf="!this.buyNowNftSuccess">
    <nft-modal-header [bsModalRef]="bsModalRef"></nft-modal-header>
    <div class="flex-container-column">
      <div class="purchase-price-container">
        <p class="purchase-price-header">PURCHASE PRICE</p>
        <div class="flex-container-row">
          <img src="../../assets/img/deso-logo.png" class="deso-logo-img" />
          <p class="buy-now-price-deso">{{ this.globalVars.nanosToDeSo(this.globalVars.BuyNowPriceNanos, 5) }}</p>
          <p class="buy-now-price-usd">{{ this.globalVars.nanosToUSD(this.globalVars.BuyNowPriceNanos, 2) }}</p>
        </div>
      </div>
      <div class="deso-balance-container">
        <p class="deso-balance-text">
          Your current $DESO balance: {{ this.globalVars.nanosToDeSo(this.globalVars.loggedInUser.BalanceNanos, 9) }}
        </p>
      </div>
      <div class="royalty-fee-container">
        <div class="flex-container-row royalty-fee-row">
          <p class="royalty-fee-text">Coin Holder Royalty</p>
          <p class="royalty-fee-number">{{ this.globalVars.NFTRoyaltyToCoinBasisPoints }}%</p>
        </div>
        <div class="flex-container-row royalty-fee-row">
          <p class="royalty-fee-text">Creator Royalty</p>
          <p class="royalty-fee-number">{{ this.globalVars.NFTRoyaltyToCreatorBasisPoints }}%</p>
        </div>
        <div class="line-divider"></div>
        <div class="flex-container-row royalty-fee-row">
          <p class="royalty-fee-text">Blockchain fee</p>
          <p class="royalty-fee-number">0.001 $DESO</p>
        </div>
        <div class="flex-container-row royalty-fee-row">
          <p class="royalty-fee-text">Supernovas service fee</p>
          <p class="royalty-fee-number">0.00 $DESO</p>
        </div>
      </div>
      <button class="btn blk_line_btn with_ico big buy_now_btn purchase_btn" (click)="buyNowNft()">Purchase</button>
    </div>
  </div>
  <div *ngIf="this.buyNowNftSuccess">
    <div class="flex-container-column">
      <img src="../../assets/img/buy-now-success.png" class="buy-now-success-img" />
      <p class="buy-now-success-header">Congratulations!</p>
      <p class="buy-now-success-text">
        You are the new owner of this NFT. Thank you for supporting the artists of Supernovas - you are the hero the
        world needs.
      </p>
      <button class="btn blk_line_btn with_ico big buy_now_btn quote_repost_btn" (click)="quoteRepost($event)">
        Quote repost your NFT
      </button>
      <button class="btn blk_line_btn with_ico big buy_now_btn close_window_btn" (click)="this.bsModalRef.hide()">
        Close this window
      </button>
    </div>
  </div>
</div>
