<div app-theme class="nft-modal-container p-15px">
  <div *ngIf="biddableSerialNumbers?.length" [ngClass]="{ 'd-none': !isSelectingSerialNumber }">
    <nft-modal-header [bsModalRef]="bsModalRef" [header]="'Select an edition'"></nft-modal-header>
    <div class="fs-15px nft_para text-center text-grey5">
      An NFT can have multiple editions, each with its own unique serial number.
    </div>
    <div class="container border-2 border-radius-10 fs-15px px-0px">
      <div
        class="row no-gutters py-15px create-nft-auction-row-border heads justify-content-between"
        style="opacity: 50%"
      >
        <div class="col-4 txt text-align-center"><span class="pl-15px">Serial Number</span></div>
        <div class="col-5 txt mb-0px text-left">Buy Now Price</div>
      </div>
      <div style="max-height: 250px; min-height: 250px; overflow-y: scroll" class="">
        <div
          #uiScroll
          *uiScroll="let nft of datasource"
          class="row no-gutters justify-content-between nft_bid_tb_details background-color-white p-10px mb-0px create-nft-auction-row-border cursor-pointer"
          (click)="selectSerialNumber(nft.SerialNumber)"
        >
          <div class="col-4 pl-15px mb-0px d-flex align-items-center">
            <span class="lh-15px pl-15px txt bd">{{ nft.SerialNumber }}</span>
          </div>
          <div class="col-5 mb-0px d-flex justify-content-start align-items-center">
            <div class="d-flex justify-content-around flex-wrap text-left">
              <div class="d-lg-inline-block txt d-block w-100">
                {{ globalVars.nanosToDeSo(nft.BuyNowPriceNanos) }} DESO
              </div>
              <div class="text-grey7 txt bd d-lg-inline-block d-block w-100">
                (~{{ globalVars.nanosToUSD(nft.BuyNowPriceNanos, 2) }})
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!biddableSerialNumbers?.length" class="fs-15px text-center">
      <p>There are no serial numbers available for you to bid on.</p>
      <p>{{ this.availableSerialNumbers }}</p>
    </div>
  </div>
  <div *ngIf="!buyNowNftSuccess && !isSelectingSerialNumber">
    <nft-modal-header [bsModalRef]="bsModalRef" [clickedBuyNow]="clickedBuyNow" [isBuyNow]="true"></nft-modal-header>
    <div class="flex-container-column">
      <div class="purchase-price-container">
        <p class="purchase-price-header">PURCHASE PRICE</p>
        <div class="d-flex flex-row flex-center">
          <img src="../../assets/img/deso-logo.png" class="deso-logo-img" />
          <p class="buy-now-price-deso pt-5px">{{ this.globalVars.nanosToDeSo(buyNowPriceNanos, 5) }}</p>
          <p class="buy-now-price-usd">{{ this.globalVars.nanosToUSD(buyNowPriceNanos, 2) }}</p>
        </div>
      </div>
      <div class="deso-balance-container">
        <p class="deso-balance-text">
          Your current $DESO balance: {{ this.globalVars.nanosToDeSo(this.globalVars.loggedInUser.BalanceNanos, 9) }}
        </p>
      </div>
      <div class="royalty-fee-container">
        <div class="d-flex flex-row royalty-fee-row">
          <p class="royalty-fee-text">Coin Holder Royalty</p>
          <p class="royalty-fee-number">{{ this.globalVars.NFTRoyaltyToCoinBasisPoints }}%</p>
        </div>
        <div class="d-flex flex-row royalty-fee-row">
          <p class="royalty-fee-text">Creator Royalty</p>
          <p class="royalty-fee-number">{{ this.globalVars.NFTRoyaltyToCreatorBasisPoints }}%</p>
        </div>
        <div class="line-divider"></div>
        <div class="d-flex flex-row royalty-fee-row">
          <p class="royalty-fee-text">Blockchain fee</p>
          <p class="royalty-fee-number">0.001 $DESO</p>
        </div>
        <div class="d-flex flex-row royalty-fee-row">
          <p class="royalty-fee-text">Supernovas service fee</p>
          <p class="royalty-fee-number">0.00 $DESO</p>
        </div>
      </div>
      <button
        class="blk_line_btn with_ico big black-rounded-button mt-20px-important"
        [disabled]="this.globalVars.loggedInUser.BalanceNanos < buyNowPriceNanos"
        (click)="buyNowNft()"
      >
        Purchase
      </button>
    </div>
  </div>
  <div *ngIf="this.buyNowNftSuccess">
    <div class="flex-container-column">
      <img src="../../assets/img/buy-now-success.png" class="buy-now-success-img" />
      <p class="buy-now-success-header">Congratulations!</p>
      <p class="buy-now-success-text">
        You are the new owner of this NFT. Thank you for supporting the artists of Supernovas - you are the hero the
        world needs.
      </p>
      <button class="btn blk_line_btn with_ico big buy_now_btn quote_repost_btn" (click)="quoteRepost($event)">
        Quote repost your NFT
      </button>
      <button class="btn blk_line_btn with_ico big buy_now_btn close_window_btn" (click)="this.bsModalRef.hide()">
        Close this window
      </button>
    </div>
  </div>
</div>
