<div class="create-collection-page">
    <div class="create-collection-content-wrapper">
        <h1 class="create-collection-title">Collection details</h1>
    
        <!-- Collection Banner -->
        <div class="create-collection-header">
            <div class="create-collection-header-h2">
                <i></i>
                <h2>Click to upload a collection banner image</h2>
            </div>
            <h3>Recommended size is 925 x 250 pixels.</h3>
            <img src="" alt="">
        </div>
    
        <!-- Collection Form -->
        <div class="create-collection-details">
            <form>
                <label for="collection-name">Collection Name:</label>
                <input type="text" id="collection-name" autocomplete="off">
                <label for="collection-desc">Collection Description:</label>
                <textarea rows="4" id="collection-desc" autocomplete="off"></textarea>
                <input type="submit" value="Continue" (click)="alertMessage()">
            </form>
        </div>
    </div>
</div>
