<form [formGroup]="collectionSelections" autocomplete="off">
    <div class="collection-selections-main">
        <div class="collection-selections-main-headline">
            <h1>Pick NFTs for Collection</h1>
            <!-- Add logic -->
            <button>Select all</button>
        </div>
        
        <!-- Populated NFT Content -->
        <div class="collection-selections-main-content">
            <input type="text" id="selected-Nfts">

            <div *ngIf="this.posts?.length && !isLoading"> 
                <div 
                    infiniteScroll 
                    [infiniteScrollDistance]="5" 
                    [infiniteScrollThrottle]="150"
                    (scrolled)="onScroll()">
  
                    <div class="nft-col-wrap max-width-350" *ngFor="let post of dataToShow">
                        <!-- Check on card props -->
                        <ng-container *ngIf="!loggedInUser">
                            <new-nft-card
                                formControlName="selectedNfts"
                                [contentShouldLinkToThread]="false" 
                                [loadProfile]="true"
                                [includePaddingOnPost]="true"
                                [post]="post" 
                                [showNFTDetails]="true"
                                [showExpandedNFTDetails]="false" 
                                [setBorder]="true" 
                                [showAvailableSerialNumbers]="true"
                                [cardStyle]="true" 
                                [profilePublicKeyBase58Check]="userProfileEntryResponse.PublicKeyBase58Check">
                            </new-nft-card>
                        </ng-container>
                    </div> 
                </div>
            </div>
        </div>

    </div>

    <!-- Create Collection Form Navigation -->
    <div class="collection-selections-bottom-bar">
        <!-- Add variable -->
        <p>3 NFTS selected</p>
        <button type="submit" [disabled]="collectionSelections.invalid">Create Collection</button>
    </div>
</form>