form {
    height: 80%; // update to appropriate (flexible) size
    width: 80%; // update to appropriate (flexible) size
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #F5F5F5; // update to appropriate variable
    border-radius: 45px; // update to appropriate variable
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); // update to appropriate variable
}

.collection-selections-main {
    padding: 0 20px;
    flex: 8;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.collection-selections-main-headline {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
        font-size: 1.5rem; // update to appropriate variable
        font-weight: 600; // update to appropriate variable
    }

    button {
        padding: 10px 20px;
        background: #ECECEC; // update to appropriate variable
        border: none;
        border-radius: 60px;
        color: #626262; // update to appropriate variable
        font-size: 0.8rem; // update to appropriate variable
        font-weight: 600; // update to appropriate variable
    }
}

.collection-selections-main-content {
    position: relative;
    height: 100%;
    width: 100%;
    
    // Targets all NFTs
    .collection-selections-user-nfts {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 0;
        height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: auto;
    }

    // Targets each user NFT
    .collection-selections-user-nfts > div {
        position: relative;
        margin-bottom: 15px;
        min-width: 200px;

        input[type="checkbox"] {
            // visibility: hidden;
        }

        // input[type="checkbox":checked] {

        // }
    }
    

    @media screen and (max-width: 676px) {   
        margin-bottom: 35px;
    } 
}

.collection-selections-bottom-bar {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #DADADA; // update to appropriate variable

    button {
        padding: 10px 75px;
        width: fit-content;
        background: #313131; // update to appropriate variable
        border: none;
        border-radius: 60px;
        color: white; // update to appropriate variable
        font-size: 0.88rem; // update to appropriate variable
        font-weight: 600; // update to appropriate variable
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); // update to appropriate variable
    }

    button:disabled {
        background-color: rgba(49, 49, 49, 0.1);
    }
}
