<form [formGroup]="collectionSelections" autocomplete="off">
    <div class="collection-selections-main">
        <div class="collection-selections-main-headline">
            <h1>Pick NFTs for Collection</h1>
            <!-- Add logic -->
            <button>Select all</button>
        </div>
        
        <!-- Populated NFT Content -->
        <div class="collection-selections-main-content">   
            <ng-container *ngIf="this.posts?.length && !isLoading">
               
                 <!-- Container with "position: absolute;" allows inner flex content to scroll -->
                <div class="collection-selections-user-nfts">
                    <ng-container
                        infiniteScroll 
                        [infiniteScrollDistance]="5" 
                        [infiniteScrollThrottle]="150"
                        (scrolled)="onScroll()">

                        <div *ngFor="let post of dataToShow">
                            <new-nft-card
                                [id]="userNfts"
                                formControlName="selectedNfts"
                                [contentShouldLinkToThread]="false" 
                                [loadProfile]="true"
                                [includePaddingOnPost]="true"
                                [post]="post" 
                                [showNFTDetails]="true"
                                [showExpandedNFTDetails]="false" 
                                [setBorder]="true" 
                                [showAvailableSerialNumbers]="true"
                                [cardStyle]="true" 
                                [profilePublicKeyBase58Check]="userProfileEntryResponse.PublicKeyBase58Check">
                            </new-nft-card>
                        </div>
                    </ng-container>
                </div>

            </ng-container>         
        </div>
    </div>

    <!-- Create Collection Form Navigation -->
    <div class="collection-selections-bottom-bar">
        <!-- Add variable -->
        <p>3 NFTS selected</p>
        <button type="submit" [disabled]="collectionSelections.invalid">Create Collection</button>
    </div>
</form>