<div class="single-card">
    <div class="card-header">
      <div class="profile-img">
        <img src="assets/img/default_profile_pic.png" alt="Profile Image">
      </div>
      <h6>UserName &nbsp; <i class="fas fa-check-circle fa-md text-primary"></i></h6>
      <div class="value-buy-cover">
        ~$0.01 &nbsp; Buy
      </div>
    </div>
    <div class="card-body">
      <div class="img-cover">
        <img src="assets/img/default-nft.svg" alt="">
      </div>
      <div class="caption-cover">
        <p>This is the caption of NFT.</p>
      </div>
      <div class="bid-cover">
        <div class="d-flex">
          <div class="bid-col">
            <p>Current Bid</p>
            <p class="font-weight-bold">4.1 CLOUT</p>
          </div>
          <div class="bid-col">
            <p>Edition</p>
            <p class="font-weight-bold">1 of 1</p>
          </div>
        </div>
        <button class="btn btn-place-a-bid">Place a Bid</button>
      </div>
    </div>
    <div class="card-footer">
      <div class="row-1">
        <h6><span>0</span> Reclouts</h6>
        <h6><span>0</span> Quote Reclouts</h6>
        <h6><span>0</span> Likes</h6>
        <h6><span>0</span> Diamonds</h6>
      </div>
      <div class="row-2">
        <div class="icon-cover">
          <i class="icon-reply"></i>
          <span>3</span>
        </div>
        <div class="icon-cover">
          <i class="icon-repost"></i>
          <span>3</span>
        </div>
        <div class="icon-cover">
          <i class="icon-heart"></i>
          <span>3</span>
        </div>
        <div class="icon-cover">
          <i class="icon-diamond"></i>&nbsp;
          <span>3</span>
        </div>
        <div class="icon-cover">
          <i class="icon-link"></i>
          <span>3m</span>
        </div>
      </div>
    </div>
  </div>