.small-button-size {
  width: 165px !important;
  min-width: 165px;
  height: 35px;
}
.small-button-width {
  width: 165px !important;
  min-width: 165px;
}
.mobile-input {
  height: 36.5px !important;
  border-radius: 5.669146537780762px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.signup-window-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px; /* Need a specific value to work */
  bottom: 0;
  margin-bottom: 50px;
}
.button-solid {
  border: none;
  margin-top: 40px;
  color: #787878;
  background: white;
  font-size: 15px;
}
button-solid:focus {
  border: none;
  outline: none;
}
.mobile-verification-input-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 520px) {
    flex-direction: column;
    align-items: flex-start;
    .black-rounded-button {
      margin-top: 10px;
    }
    .white-rounded-button {
      margin-top: 10px;
    }
  }
}
.w-259px {
  max-width: 259px;
  width: 100%;
}
.h-100px {
  min-height: 100px;
}

@media screen and (max-width: 480px) {
  #verify-phone-button {
    width: 45vw !important;
  }

  .mobile-verification-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
