.profile-cover-image {
    width: 100%;
    margin-top: 20px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.profile-content-container {
    width: 95%;
    margin-left: 2.5%;
}