.creator-profile-details-container {
    margin-top: 20px;
    max-width: 953px;
    position: absolute;
    @media (max-width: 900px) {
        margin-top: 65px;
    }
}
.firebase-cover-image {
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    max-width: 100%;
    max-height: 250px;
    @media (max-width: 900px) {
        border-radius: 0;
    }
}
.firebase-cover-image-blurred {
    max-height: 200px;
    height: 100%;
    float: right;
    top: 0px;
    left: 0px;
    overflow: visible;
    width: 100%;
    /* -webkit-filter: blur(45px); */
    -moz-filter: blur(19px);
    -o-filter: blur(19px);
    -ms-filter: blur(19px);
    -webkit-filter: brightness(50%) blur(19px);
    filter: brightness(50%) blur(19px);
    transform: scale(2.03);
    /* margin: -5px -10px -10px -5px; */
    @media (max-width: 900px) {
        border-radius: 0;
    }
}
.profile-content-container {
    /* width: 100%; */
    // margin-left: 1.5%;
    // margin-right: 1.5%;
}
.cover-image-blurred-container{
    position: absolute;
    overflow: hidden;
}