<div class="discovery_wrapper mt-20px">
  <div class="disc_art_left">
    <div class="top_sc" id="discovery_top_sc">
      <div class="dtails_wp">
        <!-- style="background-image: url({{ post?.ImageURLs[0] }})" -->
        <!--<div class="w-100 h-100 d-flex flex-center" *ngIf="!hasImageLoaded; else infoBlock">
          <div class="w-100 shm">
            <loading-shimmer [tabType]="'DISCOVERY'"></loading-shimmer>
          </div>
        </div>-->

        <h3>{{ post?.PostExtraData?.name }}</h3>
        <div class="art_details_nv" *ngIf="post">
          By

          <div class="user_detail">
            <div class="profile-img">
              <a
                [avatar]="post.ProfileEntryResponse?.PublicKeyBase58Check"
                [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, post?.ProfileEntryResponse?.Username]"
                queryParamsHandling="merge"
              ></a>
            </div>
            <span
              class="val"
              [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, post?.ProfileEntryResponse?.Username]"
              queryParamsHandling="merge"
            >
              {{ post?.ProfileEntryResponse?.Username }}
            </span>
            <i *ngIf="post?.ProfileEntryResponse?.IsVerified" class="fas pl-5px fa-check-circle fa-md text-primary"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="btm_sc">
      <!--<div class="w-100 mt-20px h-100 d-flex flex-center" *ngIf="!hasImageLoaded; else bidBlock">
        <div class="w-85 mt-20px shm">
          <loading-shimmer [tabType]="'DISCOVERY'"></loading-shimmer>
        </div>
      </div>-->
      <div class="hgst_bid_sc w-100">
        <app-nft-detail-box
          *ngIf="post"
          [postContent]="post"
          [nftBidData]="nftBidData"
          [isNFTDetail]="false"
          [hightestBidOwner]="hightestBidOwner"
        ></app-nft-detail-box>
      </div>
      <div class="btn_grp">
        <button
          *ngIf="
            globalVars?.loggedInUser?.PublicKeyBase58Check != post?.PosterPublicKeyBase58Check &&
            post?.NumNFTCopiesForSale > 0 &&
            !isBuyNow
          "
          type="button"
          class="fill_btn"
          (click)="openPlaceBidModal($event)"
        >
          {{ myBidsLength > 0 ? "Bid again" : "Place a Bid" }}
        </button>
        <button
          *ngIf="
            globalVars?.loggedInUser?.PublicKeyBase58Check != post?.PosterPublicKeyBase58Check &&
            post?.NumNFTCopiesForSale > 0 &&
            isBuyNow
          "
          type="button"
          class="fill_btn"
          (click)="openBuyNowModal($event)"
        >
          Buy Now
        </button>
        <div
          class="discovery-follow-parent"
          *ngIf="
            globalVars?.loggedInUser?.PublicKeyBase58Check != post?.PosterPublicKeyBase58Check &&
            post?.NumNFTCopiesForSale == 0
          "
        >
          <follow-button
            [followButtonClasses]="['discovery-follow-button']"
            [unfollowButtonClasses]="['discovery-follow-button']"
            [followedPubKeyBase58Check]="post?.PosterPublicKeyBase58Check"
          ></follow-button>
        </div>
        <button type="button" class="line_btn" (click)="viewNFT()">View</button>
      </div>
    </div>
  </div>
  <div class="disc_art_right">
    <div class="w-100 h-100 d-flex flex-center" *ngIf="!hasContentLoaded; else showNFT">
      <div class="w-70">
        <loading-shimmer *ngIf="!mobile" [tabType]="'POST'"></loading-shimmer>
        <loading-shimmer *ngIf="mobile" [tabType]="'MOBILEPOST'"></loading-shimmer>
      </div>
    </div>
    <ng-template #showNFT>
      <div
        class="d-flex flex-center content-container"
        [ngClass]="hasContentLoaded ? '' : 'display-none'"
        *ngIf="post?.ImageURLs && post?.ImageURLs[0] && !post?.PostExtraData?.arweaveAudioSrc"
      >
        <img
          id="discovery-main-image"
          data-toggle="modal"
          (click)="openImgModal($event, post.ImageURLs[0])"
          src="{{ post.ImageURLs[0] }}"
        />
      </div>
      <div
        class="d-flex flex-center flex-column audio-container"
        [ngClass]="hasContentLoaded ? '' : 'display-none'"
        *ngIf="post?.PostExtraData?.arweaveAudioSrc"
      >
        <img
          id="discovery-main-image"
          (click)="openImgModal($event, post.ImageURLs[0])"
          data-toggle="modal"
          class="mb-20px nft-page-audio-cover-image"
          src="{{ mapImageURLs(post.ImageURLs[0]) }}"
        />
        <div class="w-100">
          <app-audio-player
            [songName]="post.PostExtraData?.name"
            [creator]="post.ProfileEntryResponse?.Username"
            [audioSrc]="post.PostExtraData.arweaveAudioSrc"
          ></app-audio-player>
        </div>
      </div>
      <!-- Video -->
      <div
        class="video-container d-flex flex-center"
        *ngIf="post?.PostExtraData?.arweaveVideoSrc"
        [ngClass]="hasContentLoaded ? '' : 'display-none'"
      >
        <video
          controls
          id="discovery_video"
          class="w-100 br-5px"
          src="{{ post.PostExtraData.arweaveVideoSrc }}"
        ></video>
      </div>
    </ng-template>
  </div>
</div>
