<div class="discovery_wrapper mt-20px">
  <div class="disc_art_left">
    <div class="top_sc" style="background-image: url({{ post?.ImageURLs[0] }})">
      <div class="dtails_wp">
        <!--<div class="w-100 h-100 d-flex flex-center" *ngIf="!hasImageLoaded; else infoBlock">
          <div class="w-100 shm">
            <loading-shimmer [tabType]="'DISCOVERY'"></loading-shimmer>
          </div>
        </div>-->

        <h3>{{ post?.PostExtraData?.name }}</h3>
        <div class="art_details_nv" *ngIf="post">
          By

          <div class="user_detail">
            <div class="profile-img">
              <a
                [avatar]="post.ProfileEntryResponse?.PublicKeyBase58Check"
                [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, post?.ProfileEntryResponse?.Username]"
                queryParamsHandling="merge"
              ></a>
            </div>
            <span
              class="val"
              [routerLink]="['/' + globalVars.RouteNames.USER_PREFIX, post?.ProfileEntryResponse?.Username]"
              queryParamsHandling="merge"
            >
              {{ post?.ProfileEntryResponse?.Username }}
            </span>
            <i *ngIf="post?.ProfileEntryResponse?.IsVerified" class="fas pl-5px fa-check-circle fa-md text-primary"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="btm_sc">
      <!--<div class="w-100 mt-20px h-100 d-flex flex-center" *ngIf="!hasImageLoaded; else bidBlock">
        <div class="w-85 mt-20px shm">
          <loading-shimmer [tabType]="'DISCOVERY'"></loading-shimmer>
        </div>
      </div>-->
      <div *ngIf="post" class="hgst_bid_sc w-100">
        <feed-post
          [isNFTProfile]="true"
          [post]="post"
          [nftBidData]="nftBidData"
          [isPostBlocked]="blocked()"
          [includePaddingOnPost]="true"
          [isParentPostInThread]="true"
          [showLeftSelectedBorder]="true"
          [showInteractionDetails]="true"
          [showName]="true"
          [showNFTDetails]="true"
          [showExpandedNFTDetails]="true"
          [showDiscoveryDetails]="true"
          [showNFTOwnerInfo]="hightestBidOwner"
          [contentShouldLinkToThread]="true"
          [afterCommentCreatedCallback]="blocked()"
          [isNFTDetail]="true"
          [bidsOnMyNFTs]="bidsOnMyNfts?.length"
        ></feed-post>
      </div>
      <div class="btn_grp">
        <button type="button" class="fill_btn" (click)="openPlaceBidModal($event)">
          {{ myBidsLength > 0 ? "Bid again" : "Place a Bid" }}
        </button>
        <button type="button" class="line_btn" (click)="viewNFT()">View</button>
      </div>
    </div>
  </div>
  <div class="disc_art_right">
    <div class="content-container" *ngIf="post">
      <img
        data-toggle="modal"
        (click)="openImgModal($event, post.ImageURLs[0])"
        (load)="imageLoaded()"
        class=""
        src="{{ post.ImageURLs[0] }}"
      />
    </div>
    <div class="content-container d-flex flex-center flex-column" *ngIf="post?.PostExtraData?.arweaveAudioSrc">
      <div class="w-100 d-flex flex-center">
        <img
          (click)="openImgModal($event, post.ImageURLs[0])"
          data-toggle="modal"
          class="mb-20px nft-page-audio-cover-image"
          src="{{ mapImageURLs(post.ImageURLs[0]) }}"
        />
      </div>
      <app-audio-player
        [songName]="post.PostExtraData?.name"
        [creator]="post.ProfileEntryResponse?.Username"
        [audioSrc]="post.PostExtraData.arweaveAudioSrc"
      ></app-audio-player>
    </div>
    <!-- Video -->
    <div class="content-container d-flex flex-center" *ngIf="post?.PostExtraData?.arweaveVideoSrc">
      <video controls class="w-100 br-5px" src="{{ post.PostExtraData.arweaveVideoSrc }}"></video>
    </div>
    <div
      *ngIf="post?.VideoURLs && post?.VideoURLs[0] && !post.ParentStakeID && !post?.PostExtraData?.arweaveVideoSrc"
      class="feed-post__video-container content-container"
      [ngClass]="{ 'mb-10px': quotedContent && showQuotedContent }"
    >
      <iframe
        [src]="post.VideoURLs[0] | sanitizeVideoUrl"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen
        class="feed-post__video"
      ></iframe>
    </div>
    <div class="w-100 h-100 d-flex flex-center" *ngIf="false">
      <div class="w-70">
        <loading-shimmer [tabType]="'POST'"></loading-shimmer>
      </div>
    </div>
  </div>
</div>
