<div class="global__sidebar__inner">
  <div
    class="right-bar-creators__balance-box d-flex pt-15px justify-content-between"
    [ngClass]="{ 'smaller-font': smallerFont }"
  >
    <div class="d-flex flex-column mr-30px">
      <div class="rb-name">Wallet balance</div>
      <div class="rb-value d-flex flex-center-start">
        <span *ngIf="globalVars.satoshisPerDeSoExchangeRate">
          {{ globalVars.nanosToUSD(globalVars.loggedInUser.BalanceNanos, 2) }}
        </span>
      </div>
    </div>
    <div *ngIf="globalVars.loggedInUser" class="d-flex flex-column">
      <div class="rb-name">Followers</div>
      <div class="d-flex">
        <div class="rb-value">
          <span>{{ followerCount }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
