<div class="creator-card-container m-10px">
  <div class="creator-card-top-container d-flex flex-center">
    <div class="creator-card-avatar" [avatar]="pk"></div>
  </div>
  <div class="creator-card-bottom-container p-10px d-flex flex-column flex-center">
    <label class="font-weight-bold fs-12px mb-minus-5px color-light">Creator</label>
    <p class="font-weight-semiboldn fs-18px mb-5px">
      Juvonen
      <i
        *ngIf="globalVars.loggedInUser.ProfileEntryResponse.IsVerified"
        class="fas fs-14px fa-check-circle fa-md text-primary"
      ></i>
    </p>
    <div class="cc-bio-box position-relative">
      <p class="text-align-center fs-12px color-light">
        I have this text in my bio. Check it out. Here’s how the text should actually look. The text clips
      </p>
      <div></div>
    </div>
    <button class="cc-follow-btn mt-10px font-weight-semiboldn white-rounded-button">Follow</button>
  </div>
</div>
