<app-header></app-header>
<div
  [ngClass]="{ global__mobile: mobile, global__desktop: !mobile, nft_profile: isNFTProfile }"
  class="position-relative"
>
  <div class="m_inner_wrapper flex-column end">
    <left-bar *ngIf="!mobile"></left-bar>
    <left-bar-mobile *ngIf="mobile"></left-bar-mobile>
    <div class="w-100">
      <ng-content></ng-content>
    </div>
    <bottom-bar-mobile
      *ngIf="mobile && !noBottomBar"
      class="global__bottom-bar-mobile scrolled"
      [showPostButton]="showPostButton"
    ></bottom-bar-mobile>
  </div>
</div>
