<app-page-small-nav-new>
  <div class="analytics-page-container">
    <!-- Analytics Header -->
    <div class="analytics-page-headline">
      <h1>Analytics</h1>
      <div class="analytics-tab-selector" style="display: none;">
        <button (click)="changeTab(true)" [ngClass]="{ selected: tabDashboard }">Dashboard</button>
        <button (click)="changeTab(false)" [ngClass]="{ selected: tabActivity }">Activity</button>
      </div>
    </div>

    <!-- Top Bids Component -->
    <app-dashboard *ngIf="tabDashboard; else elseBlock" class="full-height-width-container"></app-dashboard>

    <ng-template #elseBlock>
      <app-analytics-activity class="full-height-width-container"></app-analytics-activity>
    </ng-template>
  </div>
</app-page-small-nav-new>

<!-- <div class="w-100 h-100 d-flex flex-column">
    <div class="d-flex flex-row mt-20px w-60 justify-content-between">
      <h1 class="fs-32px d-flex flex-center">Analytics</h1>
      <div class="analytics-tab-selector">
        <button class="font-weight-semiboldn" (click)="changeTab(true)" [ngClass]="{ selected: tabDashboard }">
          Dashboard
        </button>
        <button class="font-weight-semiboldn" (click)="changeTab(false)" [ngClass]="{ selected: tabActivity }">
          Activity
        </button>
      </div>
    </div>
    <app-dashboard *ngIf="tabDashboard; else elseBlock"></app-dashboard>
    <ng-template #elseBlock>
      <app-analytics-activity></app-analytics-activity>
    </ng-template>
    <div class="bottom-spacer"></div>
  </div> -->
