<div class="collection-page-header">
  <img class="collection-banner" src="{{ mapArweaveURLs(collectionBannerLocation) }}" alt="collection banner image" />
  <div class="banner-image-stats-container">
    <!-- Change this to use image from arweave -->
    <div class="collection-user-image" [avatar]="collectionCreatorPK"></div>
    <div class="collection-user-stats">
      <div class="collection-pieces">
        <h2>Pieces</h2>
        <label class="mb-0px fs-20px font-weight-bold">{{ collectionData.Pieces }}</label>
      </div>
      <div class="collection-owners">
        <h2>Owners</h2>
        <label class="mb-0px fs-20px font-weight-bold">{{ collectionData.OwnersAmount }}</label>
      </div>
      <div class="collection-floor-price">
        <h2>Floor Price</h2>
        <div class="d-flex flex-center-start flex-row">
          <div class="white-bg-deso-icon">
            <img src="/assets/icons/deso_icon_new.svg" alt="white background deso icon" />
          </div>
          <label class="mb-0px fs-20px font-weight-bold">
            {{ collectionData.FloorPrice == -1 ? "Null" : globalVars.nanosToDeSo(collectionData.FloorPrice, 4) }}
          </label>
          <label class="mb-0px fs-16px ml-5px" style="color: #717171">
            {{ collectionData.FloorPrice == -1 ? "Null" : globalVars.nanosToUSD(collectionData.FloorPrice, 2) }}
          </label>
        </div>
      </div>
      <div class="collection-trading-volume">
        <h2>Trading Volume</h2>
        <div class="d-flex flex-center-start flex-row">
          <div class="white-bg-deso-icon">
            <img src="/assets/icons/deso_icon_new.svg" alt="white background deso icon" />
          </div>
          <label class="mb-0px fs-20px font-weight-bold">
            {{ globalVars.nanosToDeSo(collectionData.TradingVolume, 2) }}
          </label>
          <label class="mb-0px fs-16px ml-5px" style="color: #717171">
            {{ globalVars.nanosToDeSo(collectionData.TradingVolume, 2) }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-blur-overlay">
    <div class="collection-details">
      <div class="title-details">
        <h2>Collection</h2>
        <h1>{{ collectionName }}</h1>
      </div>
      <div class="creator-details">
        <h2>Creator</h2>
        <div class="creator-image-handle d-flex flex-center">
          <div class="collection-creator-avatar mr-5px" [avatar]="collectionCreatorPK"></div>
          @{{ collectionCreator }}
        </div>
      </div>
    </div>
  </div>
</div>
