<div class="collection-page-header">
  <img class="collection-banner" [src]="collectionBannerLocation" alt="collection banner image" />
  <div class="banner-image-stats-container">
    <div class="collection-user-image" [avatar]="collectionCreatorPK"></div>
    <div class="collection-user-stats">
      <div class="collection-pieces">
        <h2>Pieces</h2>
      </div>
      <div class="collection-owners">
        <h2>Owners</h2>
      </div>
      <div class="collection-floor-price">
        <h2>Floor Price</h2>
      </div>
      <div class="collection-trading-volume">
        <h2>Trading Volume</h2>
      </div>
    </div>
  </div>
  <div class="banner-blur-overlay">
    <div class="collection-details">
      <div class="title-details">
        <h2>Collection</h2>
        <h1>{{ collectionName }}</h1>
      </div>
      <div class="creator-details">
        <h2>Creator</h2>
        <div class="creator-image-handle">
          <img src="" alt="" />
          @maensivu
        </div>
      </div>
    </div>
  </div>
</div>
