.page-creator-top-profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    /* margin: 3em; */
    padding-right: 2.5em;
    padding-left: 2.5em;
    border: 3px solid #F4F4F4;
    /* border-radius: 3em; */
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @media (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .profile-img-cover {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        border: 3px solid var(--background);
        box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 767px) {
            width: 90px;
            height: 90px;
            border-width: 3px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .user-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        z-index: 2;
        background: none;
        padding: 0;
        @media (max-width: 767px) {
            width: 100%;
            padding: 10px 0 0 0
        }
        h5 {
            display: flex;
            align-items: center;
            font-weight: bold;
            &.usr_nm {
                font-size: 24px;
                @media (max-width: 767px) {
                    font-size: 22px;
                    // color: var(--link);
                }
                @media (max-width: 700px) {
                    font-size: 18px;
                    // color: var(--link);
                }
            }
            &.primary-name {
                color: var(--light);
                font-size: 42px;
                @media (max-width: 700px) {
                    font-size: 28px;
                    // color: var(--link);
                }
            }
        }

        .secondary-name {
            margin-top: 10px;
            color: #CBCBCB;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            font-size: 16px;
            // background: linear-gradient(
            //     55deg,
            //     rgba(255, 0, 0, 1) 0%,
            //     rgba(255, 154, 0, 1) 6%,
            //     rgba(208, 222, 33, 1) 13%,
            //     rgba(79, 220, 74, 1) 20%,
            //     rgba(63, 218, 216, 1) 30%,
            //     rgba(47, 201, 226, 1) 40%,
            //     rgba(28, 127, 238, 1) 60%,
            //     rgba(95, 21, 242, 1) 70%,
            //     rgba(186, 12, 248, 1) 80%,
            //     rgba(251, 7, 217, 1) 90%,
            //     rgba(255, 0, 0, 1) 140%
            // );
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            i {
                color: #7E7878;
                /* background: red; */
                background: #2749f0;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            @media (max-width: 700px) {
                font-size: 18px;
                // color: var(--link);
            }
        }
        
        .founder-reward-text {
            font-size: 10px;
        }
        
    }
    .followers-section {
        background-color: white;
        position: absolute;
        left: 370px;
        top: 100px;
        border: 0.8em solid rgba(147, 147, 147, 0.2);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border-radius: 2em;
        padding: 0.8em;
        padding-bottom: 1.5em;
        z-index: 10;
        @media (max-width: 767px) {
            left: 222px;
            top: 134px;
            padding: 0.4em;
            padding-left: 1.2em;
            padding-right: 2em;
        }

        .followers-separator{
            margin-top: 0.7rem;
            margin-bottom: 1.7rem;
            border: 0;
            width: 95%;
            visibility: visible;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            @media (max-width: 767px) {
                visibility: hidden;
                display: none;

            }
        }
    }
    .followers-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-top: 20px;
        // margin-right: 20px;
        @media (max-width: 767px) {
            margin-bottom: 0px;
            margin-right: 0;
        }
        div {
            // margin-right: 40px;
            padding: 1em;
            border-radius: 1em;
            h6 {
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 5px;
                @media (max-width: 767px) {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
            h5 {
                font-size: 24px;
                font-weight: bold;
                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
        }
        div:hover {
            background: #E9E9E9;
        }
    }
    .btn-cover {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // padding: 15px 0px;
        .btn {
            min-width: 85px;
            font-weight: bold;
            &.btn-buy {
                background: #313131;
                color: var(--background);
                box-shadow: 0px 3.8247683048px 3.8247683048px rgba(0, 0, 0, 0.25);
                padding: 0.7rem 5rem;
                font-size: 0.9rem;
                border-radius: 6.25rem;
                border: 2.5px solid #313131;
                -moz-box-shadow: inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow: inset 0px -1.51437px 15.1437px 7.57187px #000000;
                /* box-shadow: inset 0 0 30px #000000; */
                @media (max-width: 767px) {

                }
            }
            &.btn-follow {
                color: var(--button);
                border: 2px solid var(--button);
                background: var(--background);
                margin-left: 20px;
                padding: .7rem 5rem;
                font-size: 0.9rem;
                border-radius: 6.25rem;
                @media (max-width: 767px) {

                }
            }
            @media (max-width: 767px) {
                visibility: hidden;
            }
        }
        .follow_ellips {
            order: 5;
            margin-left: 15px;
            padding-right: 0;
        }
    }
    .bio-cover {
        width: 100%;
        padding-top: 35px;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 1.5em;

        @media (max-width: 767px) {
            width: 100%;
            padding-top: 30px;
        }
        h6 {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 10px;
            color: #555555;
            width: 100%;
        }
        p {
            width: 70%;
            font-size: 18px;
            line-height: 1.67;
            // margin-right: 2em;
            color: #3D3D3D;
            a {
                background: #2749f0;
                background: linear-gradient( 45deg, #ec5454 -4%, #f51ac1 4%, #2749f0 94%, #593eb7 69%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            @media (max-width: 767px) {
                width: 90%;
                font-size: 16px;
                /* line-height: 1.67; */
                color: #3D3D3D;
            }
        }
        .socials-column {
            width: 25%;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            // align-items: center;
            img {
                margin-right: 1.3em;
            }
            @media (max-width: 767px) {
                width: 100%;
                margin-top: 2em;
                display: block;
            }
        }
    }
    .link-to-website {
        margin: 30px 0 0 0;
        font-size: 12px;
        a:hover {
            text-decoration: underline;
        }
    }
    .followers-buy-button-container{
        visibility: visible;
        @media (max-width: 767px) {
            visibility: hidden;
            display: none;

        }
    }
}
.scale-1_2 {
    transform: scale(1.2);
}
.h-15px {
    height: 15px;
}


.hover-color {
    transition: 0.3s linear;
    &:hover {
        filter: brightness(95%);
        transform: filter;
    }
}
.profile-top-card-box-1 {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -42px;
    @media (max-width: 767px) {
        margin-top: -45px;
    }
}
.top-card-button {
    min-width: 2.5em;
    border: none;
    font-size: 13px;
    padding:7px;
    font-weight: 500;
    background: rgb(59 59 59 / 20%);
    backdrop-filter: blur(10px);
    box-shadow: 0.9203247427940369px 0.9203247427940369px 1.8406494855880737px rgba(0, 0, 0, 0.25);
}
.top-card-button-message {
    // border: 0.5px solid #c8c8c8;
    // box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    .dm-button-hover {
        visibility: hidden;
        position: absolute;
        background: white;
        margin-top: 1.5em;
        padding: 0.2em;
        padding-left: 2.5em;
        padding-right: 2.5em;
        border-radius: 1em;
        position: absolute;
        right: -2em;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #424242;
    }
}
.top-card-button-message:hover {
    .dm-button-hover {
        visibility: visible;
    }
}
.top-card-button-wallet {
    // border: 0.5px solid #c8c8c8;
    // box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    .wallet-button-hover {
        visibility: hidden;
        position: absolute;
        background: white;
        margin-top: 1.5em;
        padding: 0.2em;
        /* padding-left: 4.5em; */
        /* padding-right: 4.5em; */
        border-radius: 1em;
        width: 12.5em;
        position: absolute;
        right: -5em;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #424242;
    }
}
.top-card-button-wallet:hover {
    .wallet-button-hover {
        visibility: visible;
    }
}
.top-card-button-share {
    // border: 0.5px solid #c8c8c8;
    // box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    .share-button-hover {
        visibility: hidden;
        position: absolute;
        background: white;
        margin-top: 1.5em;
        padding: 0.2em;
        padding-left: 2.5em;
        padding-right: 2.5em;
        border-radius: 1em;
        position: absolute;
        right: -2.6em;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #424242;
    }
}
.top-card-button-share:hover {
    .share-button-hover {
        visibility: visible;
    }
}
.pr-2px {
    padding-right: 2px;
}
.name-stats-profile {
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: -47px;
    }
}
.social-link-div {
    /* width: 32px; */
    /* height: 32px; */
    /* padding-top: 1px; */
    display: inline-flex;
    margin-top: 19px;
    text-align: center;
    /* background: #ffffff; */
    /* border: 2.2857143879px solid #ffffff; */
    /* border-radius: 50%; */
    /* box-shadow: 0.7604753971px 0.7604753971px 3.8023767471px rgba(0, 0, 0, 0.25); */
    color: #9B9B9B;
    font-weight: 500;
    @media (max-width: 767px) {     
        display: inline-flex;
        margin-top: 10px;
        text-align: center;
        color: #9B9B9B;
        font-weight: 500;
        padding: 1em;
        background: white;
        border-radius: 2em;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 50px -12px;
        margin-right: 10px;
    }

}
.social-link-div:hover {
    color: #737373;
}
.profile-button-icon {
    transform: scale(.7);
}

.profile-button-icon svg path{
    fill: green;
  }
.followers_inline_row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.profile-actions-box{
    right: 2em;
    top: 16px;
    position: absolute;
    @media (max-width: 767px) {
        right: 1em;
        top: 8px;
    }
    @media (min-width: 901px) and (max-width:992px) {
        right: 1em;
        top: 54px;
    }
}

.creator-profile-h6{
    font-size: 12px;
    color: rgb(148, 148, 148);

}