.page-creator-top-profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
    flex-direction: column;
    max-width: 702px;
    @media (max-width: 767px) {
        padding: 90px 20px 20px 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .profile-img-cover {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        border: 6px solid var(--background);
        box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        @media (max-width: 767px) {
            width: 90px;
            height: 90px;
            border-width: 6px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .user-info {
        width: 100%;
        padding: 0;
        @media (max-width: 767px) {
            width: 100%;
            padding: 10px 0 0 0
        }
        h5 {
            display: flex;
            align-items: center;
            font-weight: bold;
            &.usr_nm {
                @media (max-width: 767px) {
                    font-size: 22px;
                    color: var(--link);
                }
            }
        }
        .followers-row {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 20px;
            margin-right: 20px;
            @media (max-width: 767px) {
                margin-bottom: 15px;
                margin-right: 0;
            }
            div {
                margin-right: 20px;
                h6 {
                    font-size: 15px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    @media (max-width: 767px) {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }
                h5 {
                    font-size: 24px;
                    font-weight: bold;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }
            }
        }
        .btn-cover {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 0px;
            .btn {
                min-width: 85px;
                font-weight: bold;
                &.btn-buy {
                    background: var(--button);
                    color: var(--background);
                }
                &.btn-follow {
                    color: var(--button);
                    border: 2px solid var(--button);
                    background: var(--background);
                    margin-left: 20px;
                }
            }
            .follow_ellips {
                order: 5;
                margin-left: 15px;
                padding-right: 0;
            }
        }
        .founder-reward-text {
            font-size: 10px;
        }
    }
    .bio-cover {
        width: 100%;
        padding-top: 20px;
        @media (max-width: 767px) {
            width: 100%;
            padding-top: 30px;
        }
        h6 {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
            line-height: 1.4;
        }
    }
    .link-to-website {
        margin: 30px 0 0 0;
        font-size: 12px;
        a:hover {
            text-decoration: underline;
        }
    }
}

.followers_inline_row {
    display: flex;
    align-items: flex-start;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}