.single-card {
    width: 70%;
}
.nft-no-comments {
    width: 739px;
    max-width: 100%;
    height: 162px;
    background: #f4f4f4;
    border-radius: 30px;
    color: #8E8E8E;
    button {
        width: 236px;
        max-width: 90%;
        height: 44px;
        background: #ffffff;
        border: 2.02604603767395px solid #000000;
        border-radius: 25.230005264282227px;
        box-shadow: 0.35987311601638794px 0.35987311601638794px 1.7993652820587158px rgba(0, 0, 0, 0.11);
        color: #000000;
        font-size: 13px;
        img {
            margin-bottom: 2px;
        }
    }
}
.nft-no-bids {
    width: 700px;
    max-width: 100%;
    height: 70px;
    background: #f4f4f4;
    border-radius: 20px;
    color: #8E8E8E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}