:host ::ng-deep {
    .feed_tabs {
        .tabs_column_list {
            width: 33.33% !important;
            align-items: flex-start !important;
            .tabs_column_list_inner {
                font-size: 16px !important;
                font-weight: 600;
                @media screen and (max-width: 767px) {
                    font-size: 12px !important;
                }
            }
        }
    }
}