<app-page-small-nav>
    <div class="discovery_wrapper">
        <div class="disc_art_left">
            <div class="top_sc">
                <div class="dtails_wp">
                    <h3>The Name of Art</h3>
                    <div class="art_details_nv">
                        By

                        <div class="user_detail">
                            <div title="My Profile" class="profile-img" style="background-image: url(https://supernovas.app/api/v0/get-single-profile-picture/BC1YLhLZHnfyXpHbrsCmNfi5Psb3Sst1qVm6ZpLTHz9AtspQGaujVZu?fallback=http://localhost:4200/assets/img/default_profile_pic.png);"></div>
                            <span class="val">@username</span> <span class="bg"><i class="fas fa-check-circle fa-md align-middle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btm_sc">
                <div class="hgst_bid_sc">
                    <div class="hgs">
                        <span class="lb">HIGHEST BID</span>
                        <span class="val">1.55 DESO</span>
                        <span class="val_sm">155.65$</span>
                    </div>
                    <div class="auct">
                        <span class="lb">HIGHEST BID</span>
                        <div class="time_section_bx">
                            <div class="time_sc">
                                <span class="tm">20</span>
                                <span class="tm_lb">Hours</span>
                            </div>
                            <div class="time_sc">
                                <span class="tm">13</span>
                                <span class="tm_lb">Minutes</span>
                            </div>
                            <div class="time_sc">
                                <span class="tm">31</span>
                                <span class="tm_lb">Seconds</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_grp">
                    <button type="button" class="fill_btn">Place a Bid</button>
                    <button type="button" class="line_btn">View</button>
                </div>
            </div>
        </div>
        <div class="disc_art_right">
            <div class="feed-post__image-container">
                <img data-toggle="modal" class="feed-post__image" src="assets/img/discovery_bg.jpg" />
            </div>
        </div>
    </div>
</app-page-small-nav>