<div class="trade-creator-buy-wrapper position-relative d-flex flex-column flex-center-start w-100 h-100">
  <div class="trade-creator-spacer"></div>
  <label class="trade-creator-coins-to-transfer">COINS TO TRANSFER</label>
  <div class="position-relative trade-creator-input-container d-flex flex-row flex-start w-90 mt-10px">
    <input
      matInput
      type="number"
      placeholder="0"
      name="creatorCoinTrade.amount"
      [formControl]="creatorCoinTrade.amount"
      class="pl-10px color-text font-weight-bold flex-center pr-10px trade-creator-input m-0px h-100 w-80"
    />
    <!-- Problems with other elements than button -->
    <button class="trade-creator-input-label h-100 pt-5px">
      <div
        [avatar]="'BC1YLiiQ36NSLSK2bpLqi4PsP85mzBaKRTLxBAoTdNELohuRdrSMX9w'"
        class="trade-creator-transfer-avatar"
      ></div>
    </button>
  </div>
  <!-- Errors-->
  <div
    *ngIf="creatorCoinTrade.amount.invalid && (creatorCoinTrade.amount.dirty || creatorCoinTrade.amount.touched)"
    class="text-danger text-left fs-14px mt-2"
  >
    <div *ngIf="creatorCoinTrade.amount.errors.required" class="mt-10px">Amount is required</div>

    <div *ngIf="creatorCoinTrade.amount.errors.exclusiveMin" class="mt-10px">
      Amount must be greater than {{ this._minAmount() | number: "0.0-9" }}
      (to cover fees)
    </div>

    <div *ngIf="creatorCoinTrade.amount.errors.dynamicMax" class="mt-10px">
      <div *ngIf="this._maxAmount() && this._maxAmount() > 0; else elseBlock">
        Amount must be less than
        {{ this._maxAmount() | number: "0.0-9" }}
        (your balance net of fees)
      </div>
      <ng-template #elseBlock>Amount must be less than your balance plus fees</ng-template>
    </div>

    <div *ngIf="creatorCoinTrade.amount.errors.pattern" class="mt-10px">Amount must be numbers and decimals only</div>
  </div>
  <!-- ERRORS END -->
  <label class="trade-creator-coins-to-transfer mt-20px">TRANSFER TO</label>
  <!-- Passing sickSearchBar makes it look like this _handleCreatorSelectedInSearch($event) -->
  <search-bar
    class="sb w-90 mt-10px"
    [showCloutavista]="false"
    (creatorToMessage)="_handleCreatorSelectedInSearch($event)"
    [sickSearchBarAvatarPublicKey]="selectedProfilePublickey"
    [isSearchForUsersToSendDESO]="true"
    [sickSearchBar]="true"
  ></search-bar>
  <div class="trade-creator-spacer"></div>
  <div class="trade-creator-coin-info-box d-flex flex-center flex-column">
    <div class="coin-info-box-top">
      <span class="you-receive">You are transferring</span>
      <span class="amount-of-coins font-weight-semiboldn">
        {{ creatorCoinTrade.amount.value }} ${{ creatorProfile.Username }} coins
      </span>
    </div>
    <div class="coin-info-box-bottom">
      <span class="network-fees">Network fees</span>
      <span class="amount-of-coins font-weight-semiboldn">0.00 $DESO</span>
    </div>
  </div>
  <button
    [disabled]="creatorCoinTrade.amount.invalid || !selectedProfilePublickey"
    class="black-rounded-button bounce-button mt-20px trade-creator-button"
    (click)="transferEmit()"
  >
    Transfer
  </button>
</div>
