<div class="d-flex flex-column align-items-center justify-content-center" [ngStyle]="{ height: getHeight() }">
  <div class="supernovas-loader">
    <div class="cell d-0">S</div>
    <div class="cell d-1">U</div>
    <div class="cell d-2">P</div>
    <div class="cell d-3">E</div>
    <div class="cell d-4">R</div>
    <div class="cell d-5">N</div>
    <div class="cell d-6">O</div>
    <div class="cell d-7">V</div>
    <div class="cell d-8">A</div>
    <div class="cell d-9">S</div>

    <div class="cell d-2">S</div>
    <div class="cell d-3">U</div>
    <div class="cell d-4">P</div>
    <div class="cell d-5">E</div>
    <div class="cell d-6">R</div>
    <div class="cell d-7">N</div>
    <div class="cell d-8">O</div>
    <div class="cell d-9">V</div>
    <div class="cell d-10">A</div>
    <div class="cell d-11">S</div>

    <div class="cell d-3">S</div>
    <div class="cell d-4">U</div>
    <div class="cell d-5">P</div>
    <div class="cell d-6">E</div>
    <div class="cell d-7">R</div>
    <div class="cell d-8">N</div>
    <div class="cell d-9">O</div>
    <div class="cell d-10">V</div>
    <div class="cell d-11">A</div>
    <div class="cell d-12">S</div>

    <div class="cell d-4">S</div>
    <div class="cell d-5">U</div>
    <div class="cell d-6">P</div>
    <div class="cell d-7">E</div>
    <div class="cell d-8">R</div>
    <div class="cell d-9">N</div>
    <div class="cell d-10">O</div>
    <div class="cell d-11">V</div>
    <div class="cell d-12">A</div>
    <div class="cell d-13">S</div>
  </div>
</div>
