<div class="d-flex flex-column align-items-center justify-content-center" [ngStyle]="{ height: getHeight() }">
  <div class="supernovas-loader">
    <div class="cell d-0">s</div>
    <div class="cell d-1">u</div>
    <div class="cell d-2">p</div>
    <div class="cell d-3">e</div>
    <div class="cell d-4">r</div>
    <div class="cell d-5">n</div>
    <div class="cell d-6">o</div>
    <div class="cell d-7">v</div>
    <div class="cell d-8">a</div>
    <div class="cell d-9">s</div>

    <div class="cell d-2">s</div>
    <div class="cell d-3">u</div>
    <div class="cell d-4">p</div>
    <div class="cell d-5">e</div>
    <div class="cell d-6">r</div>
    <div class="cell d-7">n</div>
    <div class="cell d-8">o</div>
    <div class="cell d-9">v</div>
    <div class="cell d-10">a</div>
    <div class="cell d-11">s</div>

    <div class="cell d-3">s</div>
    <div class="cell d-4">u</div>
    <div class="cell d-5">p</div>
    <div class="cell d-6">e</div>
    <div class="cell d-7">r</div>
    <div class="cell d-8">n</div>
    <div class="cell d-9">o</div>
    <div class="cell d-10">v</div>
    <div class="cell d-11">a</div>
    <div class="cell d-12">s</div>

    <div class="cell d-4">s</div>
    <div class="cell d-5">u</div>
    <div class="cell d-6">p</div>
    <div class="cell d-7">e</div>
    <div class="cell d-8">r</div>
    <div class="cell d-9">n</div>
    <div class="cell d-10">o</div>
    <div class="cell d-11">v</div>
    <div class="cell d-12">a</div>
    <div class="cell d-13">s</div>
  </div>
</div>
