<div class="create-collection-page">
    <!-- Add Supernovas logo -->
    <form [formGroup]="createCollectionForm">
        <div class="create-collection-content-wrapper">
            
            <!-- View 1: Add Collection Details -->
            <!-- <app-collection-details style="height: 100%; width: 100%; padding: 30px;"></app-collection-details> -->

            <!-- View 2: Select NFTs for Collection -->
            <app-collection-selections style="height: 100%; width: 100%;"></app-collection-selections>

            <!-- View 3: Collection Successfully Created -->
            <!-- <app-collection-success style="height: 100%; width: 100%; padding: 30px;"></app-collection-success> -->
        </div>
    </form>
</div>