<div class="create-collection-page">
    <!-- Add Supernovas logo -->
    
    <ng-container [formGroup]="createCollectionForm" (submit)="submit()">
        <app-collection-stepper formArrayName="views" class="full-height-width-container" [linear]=true>
            <!-- View 1: Add Collection Details -->
            <!-- Pass parent form to child component -->
            <cdk-step [editable]=true [stepControl]="views.get([0])">
                <app-collection-details [collectionDetails]="collectionDetails"></app-collection-details>
            </cdk-step>
            
            <!-- View 2: Select NFTs for Collection -->
            <cdk-step [editable]=true [stepControl]="views.get([1])">
                <app-collection-selections 
                    class="full-height-width-container" 
                    [collectionSelections]="collectionSelections"
                    [selectedNfts]="selectedNfts"
                    (nftPostData)="mapUserNftsToFormControls($event)"
                ></app-collection-selections>
            </cdk-step>
        </app-collection-stepper>
    </ng-container>

    <!-- View 3: Collection Successfully Created -->
    <!-- <app-collection-success></app-collection-success> -->     
</div>