<div app-theme class="nft-modal-container p-15px">
  <div *ngIf="sellNFTStep === 1" class="d-flex flex-column flex-center">
    <nft-modal-header [header]="'Select the winning bid'" [bsModalRef]="bsModalRef"></nft-modal-header>
    <div class="nft_selling_avatar_del color-light">Select the bid you want to accept.</div>
    <div class="select-winning-bid-box mb-20px">
      <div class="table-head w-100 d-flex flex-center-start flex-row border-bottom">
        <p class="fs-14px font-weight-semiboldn color-light text-align-left pl-20px">COLLECTOR</p>
        <p class="fs-14px font-weight-semiboldn color-light text-align-left pl-20px">SERIALNUMBER</p>
        <p class="fs-14px font-weight-semiboldn color-light text-align-left pl-20px">BID</p>
      </div>
      <div class="modal-bids-container d-flex flex-start">
        <button
          *ngFor="let bid of selectedBidEntries"
          class="p-0px hover-background-secalt"
          (click)="selectBidEntry(bid)"
          [ngClass]="{ selected: bid.selected }"
        >
          <span class="d-flex flex-row align-items-center pl-20px">
            <div class="bid__avatar__avatar-container">
              <div class="bid__avatar br-30px" [avatar]="bid.PublicKeyBase58Check"></div>
            </div>
            <div class="text-truncate holdings__name pl-10px fs-14px">
              <div class="d-flex">
                <div
                  class="fc-default font-weight-bold text-truncate fs-14px"
                  style="max-width: 120px"
                  [ngClass]="{ 'cursor-pointer': !!bid.ProfileEntryResponse?.Username }"
                  [style.pointer-events]="!!bid.ProfileEntryResponse?.Username ? 'auto' : 'none'"
                >
                  @{{ bid.ProfileEntryResponse?.Username }}
                </div>
                <span
                  *ngIf="bid.ProfileEntryResponse?.IsVerified"
                  (click)="tooltip.toggle()"
                  class="ml-1 mb-1 cursor-pointer text-primary"
                  matTooltipClass="global__mat-tooltip global__mat-tooltip-font-size"
                  [matTooltip]="'This account is verified'"
                  #tooltip="matTooltip"
                >
                  <i class="fas fa-check-circle fa-md align-middle"></i>
                </span>
              </div>
            </div>
          </span>
          <span class="text-align-start fs-14px pl-20px font-weight-bold">{{ bid.SerialNumber }}</span>
          <span class="text-align-start fs-14px pl-20px font-weight-bold">
            {{ globalVars.nanosToDeSo(bid.BidAmountNanos, 5) }} $DESO
          </span>
        </button>
      </div>
    </div>
    <div class="d-flex align-items-center mb-15px">
      <button class="btn pop_singl_btn" (click)="nextStep()" [disabled]="!bidSelected">Continue</button>
    </div>
  </div>
  <div *ngIf="sellNFTStep === 2">
    <nft-modal-header [header]="'Sell your NFT'" [bsModalRef]="bsModalRef"></nft-modal-header>
    <div class="bid_pop_details_ls sell_nft_bx">
      <div class="sl_prc">
        <span class="lb">Sales price</span>
        <div class="val">
          {{ globalVars.abbreviateNumber(sellingPrice, 3) }} $DESO
          <div class="text-grey7 d-lg-inline-block fs-18px d-block">
            (~{{ globalVars.nanosToUSD(sellingPrice * 1e9, 2) }})
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="lst">
        <span class="lb">Creator Royalty</span>
        <span class="val">{{ post.NFTRoyaltyToCreatorBasisPoints / 100 }} %</span>
      </div>
      <div class="lst">
        <span class="lb">Coin Holder Royalty</span>
        <span class="val">{{ post.NFTRoyaltyToCoinBasisPoints / 100 }} %</span>
      </div>
      <div class="lst">
        <span class="lb">Blockchain fee</span>
        <span class="val">0.001 $DESO</span>
      </div>
      <div class="lst">
        <span class="lb">Supernovas service fee</span>
        <span class="val">0.00 $DESO</span>
      </div>
      <div class="divider"></div>
      <div class="rcv_pric">
        <span class="lb">You’ll receive</span>
        <div class="val">
          {{ globalVars.abbreviateNumber(earnings, 3) }} $DESO
          <div class="text-grey7 d-lg-inline-block d-block">(~{{ globalVars.nanosToUSD(earnings * 1e9, 2) }})</div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center mb-15px">
      <button class="btn pop_singl_btn" (click)="sellNFT()" [disabled]="sellNFTDisabled || !selectedBidEntries?.length">
        {{ sellingNFT ? "Selling NFTs" : "Sell" }}
      </button>
      <div *ngIf="sellingNFT" class="pl-15px fs-15px">{{ sellNFTCounter }} of {{ sellNFTTotal }} sold</div>
    </div>
  </div>
  <div *ngIf="!selectedBidEntries?.length">You must select at least one bid in order to sell this NFT.</div>
</div>
