<div class="global__top-bar__height" *ngIf="mobile"></div>
<div
  *ngIf="readyForDisplay(); else loadingElseBlock"
  [ngClass]="mobile ? 'w-100' : 'feed-cover'"
  class="d-flex flex-center flex-column mt-20px"
>
  <div [avatar]="creatorProfile.PublicKeyBase58Check" class="trade-creator-avatar"></div>
  <h3 class="font-weight-semiboldn trade-creator-name-heading mt-20px" style="color: #0d0d0d">
    ${{ creatorProfile.Username }} coin
  </h3>
  <div class="d-flex flex-row mt-10px">
    <span class="trade-creator-price-heading font-weight-semiboldn" style="color: #9c9c9c">
      {{ globalVars.nanosToUSD(creatorProfile.CoinPriceDeSoNanos, 2) }}
    </span>
    <span class="trade-creator-coin-price-heading pl-5px" style="color: #8a8a8a">Coin price</span>
  </div>
  <div class="trade-creator-actions-wrapper mt-20px d-flex flex-column flex-center">
    <div class="trade-creator-tab-selector d-flex flex-center px-10px mt-5px">
      <button (click)="tabBuyClick()" class="br-top-left-30px font-weight-semiboldn" [ngClass]="{ active: tabBuy }">
        <label class="mb-0px pl-5px">Buy</label>
      </button>
      <button (click)="tabSellClick()" class="font-weight-semiboldn" [ngClass]="{ active: tabSell }">
        <label class="mb-0px pl-5px">Sell</label>
      </button>
      <button
        (click)="tabTransferClick()"
        class="br-top-right-30px font-weight-semiboldn"
        [ngClass]="{ active: tabTransfer }"
      >
        <label class="mb-0px pl-5px">Transfer</label>
      </button>
    </div>
    <app-trade-creator-buy *ngIf="tabBuy" class="w-100 h-100 pb-10px d-flex flex-center"></app-trade-creator-buy>
    <app-trade-creator-sell *ngIf="tabSell" class="w-100 h-100 pb-10px d-flex flex-center"></app-trade-creator-sell>
    <app-trade-creator-transfer
      *ngIf="tabTransfer"
      class="w-100 h-100 pb-10px d-flex flex-center"
    ></app-trade-creator-transfer>
  </div>
</div>
<ng-template #loadingElseBlock>
  <simple-center-loader></simple-center-loader>
</ng-template>
