<div class="collection-page-sidebar-container">
    <div class="sidebar-status-container">
        <h3>Status</h3>
        <div class="sidebar-status-buttons">
            <button>All</button>
            <button>For Sale</button>
            <button>Has Bids</button>
            <button>Sold</button>
        </div>
    </div>
    <div class="sidebar-market-container">
        <h3>Market</h3>
        <div class="sidebar-market-inputs">
            <label for="primary-market">
                <input type="checkbox" id="primary-market">
                <span>Primary Market</span>
            </label>
            <label for="secondary-market">
                <input type="checkbox" id="secondary-market">
                <span>Secondary Market</span>
            </label>
        </div>
    </div>
    <div class="sidebar-traits-container">
        <h3>Traits</h3>
    </div>
</div>
