<!--<div class="marketplace-nav-width position-relative"> Commented out to make position sticky work-->
<div class="global__nav__sticky__marketplace mt-10px" *ngIf="!flyout">
  <div class="global__nav__inner__marketplace-eth disable-scrollbars position-relative">
    <label class="w-100 pl-10px marketplace-label">Status</label>
    <div class="mlb-status-grid">
      <button
        class="font-weight-semibold fs-14px"
        (click)="statusClick('all')"
        [ngClass]="{ selected: this.statusAll }"
      >
        All
      </button>
      <button
        class="font-weight-semibold fs-14px"
        (click)="statusClick('for sale')"
        [ngClass]="{ selected: this.statusForSale }"
      >
        For Sale
      </button>
    </div>
    <label class="w-100 mt-20px pl-10px marketplace-label">Creators</label>
    <div class="mrk_lb_selector px-5px">
      <button
        class="fs-12px d-flex flex-row flex-center"
        (click)="creatorsClick('verified')"
        [ngClass]="{ selected: creatorTypeVerified }"
      >
        <img src="/assets/icons/checkmark_14px.svg" class="mr-5px" alt="image-icon" />
        Verified
      </button>
      <button
        class="fs-12px d-flex flex-row flex-center"
        (click)="creatorsClick('all')"
        [ngClass]="{ selected: !creatorTypeVerified }"
      >
        <img src="/assets/icons/market_globe_icon.svg" class="mr-5px" alt="image-icon" />
        All
      </button>
    </div>

    <!-- <div class="verifiedAccordion disable-scrollbars" [ngClass]="{ expanded: this.creatorTypeVerified }"> -->
    <div>
      <label class="w-100 mt-20px pl-10px marketplace-label">Category</label>
      <select
        class="w-100 p-5px mrk_select mrk_select_height font-weight-semibold fs-14px"
        (ngModelChange)="categorySelectChange($event)"
        [ngModel]="NFTCategory"
      >
        <option value="all">All</option>
        <option value="art">Art</option>
        <option value="collectibles">Collectibles</option>
        <option value="generative art">Generative Art</option>
        <option value="metaverse & gaming">Metaverse & Gaming</option>
        <option value="music">Music</option>
        <option value="profile Picture">Profile Picture Collection</option>
        <option value="photography">Photography</option>
      </select>
    </div>
  </div>
  <div class="mlb-apply-button-container">
    <button [disabled]="!canUserSort" class="marketplace-apply-button fs-12px font-weight-bold" (click)="apply()">
      <img src="/assets/icons/market_apply_icon.svg" class="mr-5px" alt="image-icon" />
      Apply
    </button>
  </div>
</div>

<!-- Style way aspect ration differently for mobile -->
<!-- disable-scrollbars -->
<div class="flyout__nav__inner__marketplace w-100 position-relative pointer-events-all" *ngIf="flyout">
  <div class="nav_close_marketplace position-relative">
    <img src="assets/img/close_square.svg" class="cursor-pointer" (click)="closeMenu()" alt="" />
  </div>
  <label class="w-100 pl-10px marketplace-flyout-label">Status</label>
  <div class="mlb-flyout-status-grid-eth">
    <button class="font-weight-semibold" (click)="statusClick('all')" [ngClass]="{ selected: this.statusAll }">
      <p class="center-absolute">All</p>
    </button>
    <button class="font-weight-semibold" (click)="statusClick('for sale')" [ngClass]="{ selected: this.statusForSale }">
      <p class="center-absolute">For Sale</p>
    </button>
  </div>
  <label class="w-100 mt-20px pl-10px marketplace-flyout-label">Creators</label>
  <div class="mrk_flyout_lb_selector w-100 px-5px">
    <button
      class="d-flex flex-row flex-center"
      (click)="creatorsClick('verified')"
      [ngClass]="{ selected: creatorTypeVerified }"
    >
      <span class="center-absolute">
        <img src="/assets/icons/checkmark_14px.svg" class="mr-5px" alt="image-icon" />
        Verified
      </span>
    </button>
    <button
      class="d-flex flex-row flex-center"
      (click)="creatorsClick('all')"
      [ngClass]="{ selected: !creatorTypeVerified }"
    >
      <span class="center-absolute">
        <img src="/assets/icons/market_globe_icon.svg" class="mr-5px" alt="image-icon" />
        All
      </span>
    </button>
  </div>
  <!-- disable-scrollbars -->
  <div class="verifiedFlyoutAccordion" [ngClass]="{ expanded: this.creatorTypeVerified }">
    <label class="w-100 mt-20px pl-10px marketplace-flyout-label">Category</label>
    <select
      class="w-100 p-5px mrk_select_flyout font-weight-semibold"
      (ngModelChange)="categorySelectChange($event)"
      [ngModel]="NFTCategory"
    >
      <option value="all" class="target">All</option>
      <option value="photography">Photography</option>
      <option value="art">Art</option>
      <option value="collectibles">Collectibles</option>
      <option value="generative art">Generative Art</option>
      <option value="metaverse">Metaverse & Gaming</option>
      <option value="music">Music</option>
      <option value="profile picture">Profile Picture Collection</option>
    </select>
  </div>
</div>
<div class="mlb-flyout-apply-button-container" *ngIf="flyout">
  <button [disabled]="!canUserSort" class="marketplace-flyout-apply-button font-weight-bold" (click)="apply()">
    <span class="center-absolute">
      <img src="/assets/icons/market_apply_icon.svg" class="mr-5px" alt="image-icon" />
      Apply
    </span>
  </button>
</div>
<!--</div>-->
