
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/landing-new.css?v=1.1" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <style></style>

  </head> -->
  <div class="main-container">

    <div class="topnav">
      <a class="supernovas-logo" href="#">supernovas</a>
      <!-- <a class="" href="#home">Home</a> -->
      <!-- <a href="#creators-section">Creators</a> -->
      <!-- <a href="#contact">Collectors</a> -->
      <!-- <a href="#search">Testimonials</a> -->
      <!-- <a href="#dao">Dao</a>  -->
      <div class="topnav-right">
        <a href="#search" class="button-27">
          <div>Create profile</div>
        </a>
        <a href="#" class="button-28">Login</a>
      </div>
    </div>

    <section class="intro-section">

      <a class="card-section" href="https://supernovas.app/nft/372b50c6dd9bc544467a7f7fffab80dee371196d03f84f070111dba2845bedb6">
        <div class="artist-card">
          <div class="visual-container">
            <video class="artist-visual" src="./kaii.mp4" 
            poster="./kaii0.jpg" 
            loop="" autoplay playsinline="" style="width: 100%; height: 100%; margin: auto; 
            transition: filter 0.3s ease-in-out 0s; cursor: default;">
            </video>
            <!-- ARTIST INFO -->
            <!-- <div class="artist-info-container">
              <div class="artist-info-wrapper">
                <div class="artist-name">
                  Lavender Sneaker
                </div>
                <div class="artist-username">
                  @flxgs
                </div>
                <div class="info-icon">

                </div>
              </div>
            </div> -->
          </div>
        </div>
      </a>
      <div class="title-section">
        <div>
          <div class="maintitle">
            Where successful NFT artists are made✨
          </div>
          <p class="mainp">
            Supernovas is a multi-chain social NFT marketplace that combines decentralized
            social media, NFT's and Creator Coins in an unprecedented way.
          </p>
        </div>

        <div class="buttons-container">
          <a href="#search" class="button-27">
            <div>Create profile</div>
          </a>
          <a href="#about" class="button-28">Browse supernovas</a>        
        </div>

      </div>
    </section>

    <!-- <section>
      
      <div class="statement-section-container">
        <div class="lottie-animation-shapes">
          <lottie-player
            src="https://assets1.lottiefiles.com/packages/lf20_e7ykij7u.json"
            background="transparent"
            speed="1"
            loop=""
            autoplay="false"
          ></lottie-player>
        </div>
        
          <div class="statement-section">the genesis block of a new creative medium</div>
          <div>
            <img src="./ellipse.png" alt="light" class="ellipse">
          </div>
      </div>
    </section> -->

    <section class="container" id="creators-section">
      <div class="creators-title-wrapper">
        <h3 class="creators-title">for creators
        </h3>
        <!-- <div class="lottie-animation-creators-badge">
          <lottie-player
            src="https://assets6.lottiefiles.com/packages/lf20_u3kvgiiw.json"
            background="transparent"
            speed="1"
            loop=""
            autoplay=""
          ></lottie-player>
        </div> -->
      </div>
      <div class="space-holder">
        <div class="sticky">
          
          <div class="horizontal">

            <section role="feed" class="cards">

              <li class="card">
                <h4 class="card-title">Mint and collect gas free on multiple chains</h4>
                <p class="card-p">High gas fees ngmi, but clean NFT's will because cost barriers shouldn't 
                  exist in Web3. Enjoy one-click, gas-free minting and instant transactions. </p>
                <!-- <a href="#about" class="button-cards">start minting</a> -->
              </li>

              <li class="card">
                <h4 class="card-title">Collection minting</h4>
                <p class="card-p">You no longer have to be a coder to drop a great generative art collection. 
                  Mint a collection on Supernovas Launchpad of up to 10k quickly, 
                  easily, and affordably by simply uploading your base images and NFT details in bulk.</p>
                <!-- <a href="#about" class="button-cards">start minting</a> -->
              </li>

              <li class="card">
                <h4 class="card-title">NFT Marketplace and Discovery</h4>
                <p class="card-p">Advanced analytics allow for any creator to have the chance of being discovered on Supernovas NFT Marketplace. 
                  All verified creators have the chance to be amplified on the Supernovas Discovery page</p>
                <!-- <a href="#about" class="button-cards">start minting</a> -->
              </li>

              <li class="card">
                <h4 class="card-title">Creator referral program</h4>
                <p class="card-p">Bring your favorite NFT artists to Supernovas! If your invitee gets verified and mints one NFT, 
                  you receive 50% of their transaction fees paid in Supernovas token in perpetuity.</p>
                <!-- <a href="#about" class="button-cards">start minting</a> -->
              </li>

              <li class="card">
                <h4 class="card-title">Token incentives</h4>
                <p class="card-p">You will receive 100% of the transaction fees created paid back to you in an equivalent amount of Supernovas tokens. </p>
                <!-- <a href="#about" class="button-cards">start minting</a> -->
              </li>

              <li class="card">
                <h4 class="card-title">Decentralized social media network</h4>
                <p class="card-p">Supernovas is like Twitter but it’s not one guy owning and controlling your social graph, content, data and identity – 
                  it’s you. No one can ever take your profile, content, or community away from you.</p>
                <a href="#about" class="button-cards rainbow-button">Sign up as creator</a>
              </li>

            </section>
          </div>
        </div>
      </div>
    </section>



    <section class="container" id="collectors-section">
      <div class="collectors-title-wrapper">
        <h3 class="collectors-title">for collectors
        </h3>
        <!-- <div class="lottie-animation-creators-badge">
          <lottie-player
            src="https://assets6.lottiefiles.com/packages/lf20_u3kvgiiw.json"
            background="transparent"
            speed="1"
            loop=""
            autoplay=""
          ></lottie-player>
        </div> -->
      </div>
      <div class="space-holder__collectors">
        <div class="sticky__collectors">
          
          <div class="horizontal__collectors">

            <section role="feed" class="cards" id="black-cards">
                <img draggable="true" src="/assets/img/ape.gif" class="ape-gif">
                <img draggable="true" src="/assets/img/vitalik.gif" class="vitalik-gif">
                <img draggable="true" src="/assets/img/vitalik2.webp" class="vitalik2-gif">
                <img draggable="true" src="/assets/img/doodle.gif" class="doodle-gif">
                <img draggable="true" src="/assets/img/doodle2.gif" class="doodle2-gif">
                <img draggable="true" src="/assets/img/meme.webp" class="meme-gif">
                <img draggable="true" src="/assets/img/punk.gif" class="punk-gif">


                <li class="card card__black">
                  <h4 class="card-title card-title__black">Mint and collect gas free on multiple chains</h4>
                  <p class="card-p card-p__black">Start collecting NFT’s without shelling out large amounts of money for high gas fees, 
                    no matter what blockchain you are on. Enjoy instant transactions and frictionless purchasing. </p>
                  <!-- <a href="#about" class="button-cards button-cards__black">start minting</a> -->
                </li>

                <li class="card card__black">
                  <h4 class="card-title card-title__black">DAO Coins (Coming soon)</h4>
                  <p class="card-p card-p__black">Creating and funding your startup is now as simple as creating a Supernovas profile. 
                    Anyone can help to fund your project by buying your DAO tokens. </p>
                  <!-- <a href="#about" class="button-cards button-cards__black">start minting</a> -->
                </li>

                <li class="card card__black">
                  <h4 class="card-title card-title__black">Social Tipping</h4>
                  <p class="card-p card-p__black">Show your support to your favorite creators' content through tipping! You can give “diamonds” 
                    to any post and tip anywhere from $0.01 - $200. You can also receive tips as well!</p>
                  <!-- <a href="#about" class="button-cards button-cards__black">start minting</a> -->
                </li>

                <li class="card card__black">
                  <h4 class="card-title card-title__black">Token incentives</h4>
                  <p class="card-p card-p__black">You will receive 25-100% of transaction fees created paid out in an equivalent amount of Supernovas tokens.</p>
                  <!-- <a href="#about" class="button-cards button-cards__black">start minting</a> -->
                </li>

                <li class="card card__black">
                  <h4 class="card-title card-title__black">Decentralized social media</h4>
                  <p class="card-p card-p__black">Supernovas is like Twitter but it’s not one guy owning and controlling your social graph, content, 
                    data and identity – it’s you. No one can ever take your profile, content, or community away from you.</p>
                  <!-- <a href="#about" class="button-cards button-cards__black">start minting</a> -->
                </li>

                <li class="card card__black">
                  <h4 class="card-title card-title__black">Creator coins</h4>
                  <p class="card-p card-p__black">Each Supernovas profile has its own creator coin, providing collectors new ways to build long-term value and earn trading rewards. 
                    Invest in your favorite NFT artists and earn coinholder royalties from each NFT sale.</p>
                  <a href="#about" class="button-cards rainbow-button">Start collecting</a>
                </li>

                <i class="gg-arrow-bottom-right"></i>

            </section>
          </div>
        </div>
      </div>
    </section>

    <section class="dao-section dao-section__black" id="dao-section">
      <div class="dao-card dao-card__black">
        <div class="dao-info">
          <div class="dao-main-text dao-main-text__black">
            A DAO by and for the <span class="">Supernovas</span> community
          </div>
          <div class="dao-p dao-p__black">
            The Supernovas community is the heart and soul of everything that Supernovas is and stands for. 
            To stay true to our values, the only way forward is creating Supernovas DAO.
          </div>
          <div class="dao-button">
            <a href="#search" class="button-27 dao-button-blue">Learn more</a>
          </div>
          <div class="lottie-animation-dao">
            <!-- <lottie-player
              src="https://assets5.lottiefiles.com/packages/lf20_fbmcwfmt.json"
              background="transparent"
              speed="1"
              loop=""
              autoplay=""
            ></lottie-player> -->
            <ng-lottie [options]="dao" (animationCreated)="animationCreated($event)"></ng-lottie>
          </div>
        </div>
      </div>
      <div class="lottie-animation-shapes">
        <lottie-player
          src="https://assets9.lottiefiles.com/packages/lf20_mioxwxa4.json"
          background="transparent"
          speed="1"
          loop=""
          autoplay="false"
        ></lottie-player>
        <ng-lottie [options]="blueShapes" (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>

    </section>
    
    <section class="testimonial-section">
      <div class="testimonial-title-wrapper">
        <h3 class="creators-title">What our community has to say
        </h3>
      </div>

      <div class="testimonial-card-container">

        <div class="testimonial-card">
          <div class="testimonial-image-6">
            <img src="/assets/img/derisha.png" class="testimonial-image">
          </div>
          <div class="testimonial-separator"></div>
          <div class="testimonial-user-info">
            <div class="testimonial-name">
              Derisha Aryawan
            </div>
            <div class="testimonial-username">
              @DerishaViar
            </div>
          </div>
          <div class="testimonial-p">
            On a side note... The UI on @supernovas is sweeeet AF. I'm loving it, probably the best UI so far... 
            Very clean and modern look, I will def use it more and recommend it to my friends!  
          </div>
        </div>

        <div class="testimonial-card">
          <div class="testimonial-image-6">
            <img src="/assets/img/dan.png" class="testimonial-image">
          </div>
          <div class="testimonial-separator"></div>
          <div class="testimonial-user-info">
            <div class="testimonial-name">
              Dan Maverick
            </div>
            <div class="testimonial-username">
              @dan_maverick
            </div>
          </div>
          <div class="testimonial-p">
            I like the vision, and the long term focus too. 
            The @supernovas team is clearly highly organised and motivated - very easy to recommend :)
          </div>
        </div>
        <div class="testimonial-card">
          <div class="testimonial-image-6">
            <img src="/assets/img/nathan.png" class="testimonial-image">
          </div>
          <div class="testimonial-separator"></div>
          <div class="testimonial-user-info">
            <div class="testimonial-name">
              Nathan Wells
            </div>
            <div class="testimonial-username">
              @nathanwells
            </div>
          </div>
          <div class="testimonial-p">
            Seriously, if you all haven't checked out supernovas.app you need to now. 
            Super clean interface and a way for smaller creators to become verified. 
          </div>
        </div>
        <div class="testimonial-card">
          <div class="testimonial-image-6">
            <img src="/assets/img/jason.png" class="testimonial-image">
          </div>
          <div class="testimonial-separator"></div>
          <div class="testimonial-user-info">
            <div class="testimonial-name">
              Jason Devlin
            </div>
            <div class="testimonial-username">
              @jasondevlin
            </div>
          </div>
          <div class="testimonial-p">
            I'm officially only referring people to @supernovas from now on, 
            until another app changes my mind. Such a thoughtful UX, the best first impression out there I think. 
          </div>
        </div>
        <div class="testimonial-card">
          <div class="testimonial-image-6">
            <img src="/assets/img/jody.png" class="testimonial-image">
          </div>
          <div class="testimonial-separator"></div>
          <div class="testimonial-user-info">
            <div class="testimonial-name">
              Jody Bossert
            </div>
            <div class="testimonial-username">
              @jodybossert
            </div>
          </div>
          <div class="testimonial-p">
            Wow. Surfing around on @supernovas for the first time in a while and it is REALLY looking good. 
            Might just have to make this my new home!
          </div>
        </div>
        <div class="testimonial-card">
          <div class="testimonial-image-6">
            <img src="/assets/img/sumor.png" class="testimonial-image">
          </div>
          <div class="testimonial-separator"></div>
          <div class="testimonial-user-info">
            <div class="testimonial-name">
              Sumor
            </div>
            <div class="testimonial-username">
              @sumor
            </div>
          </div>
          <div class="testimonial-p">
            (I want to thank the guys @supernovas, 
            they are doing something incredible and convenient for artists, this is becoming my new home, I started minting all my nfts there 💜 Please don't stop)
          </div>
        </div>
      </div>

    </section>

    <section id="statement-section" class="statement-section"> 
      <div class="statement-section-container">
          <div class="statement-title">
            <div>Sign up and start earning today</div>
            <div class="statement-buttons">
              <a href="#search" class="button-27">
                <div>Create profile</div>
              </a>
              <a href="#" class="button-28">Browse Supernovas</a>
            </div>
          </div>    
      </div>
    </section> 

    <footer>
      <div class="footer-wrapper">
        <!-- <div class="footer-links">
          <a href="#home">Home</a>
          <a href="#creators-section">Creators</a>
          <a href="#collectors-sections">Collectors</a>
          <a href="#search">Testimonials</a>
          <a href="#dao">Dao</a>
        </div> -->
        <div class="footer-social-links"></div>
        <div class="footer-separator"></div>
        <div class="footer-legal-links">
          <a class="active" href="#home">Home</a>
          <a href="#news">Creators</a>
          <a href="#contact">Collectors</a>
          <a href="#search">Testimonials</a>
          <a href="#about">Dao</a>
        </div>
        <!-- <div class="footer-buttons">
          <a href="#search" class="button-27">Create profile</a>
          <a href="#" class="button-28__white">Login</a>
        </div> -->
      </div>
    </footer>
    <script src="./scroll.js"></script>
    <script src="./scroll-collectors.js"></script>
    <script src="./bg-color.js"></script>


  </div>




<!-- DESDE AQUI -->
