<script src="../../environments/environment.prod.ts"></script>
<!-- Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <header>
        <div class="lg_container">
            <!-- Branding -->
            <a href="#" class="branding">supernovas</a>
            <!-- Branding End -->
            <!-- Right -->
            <div class="header_right">
                <a class="lg_btn white btn-effect" (click)="globalVars.launchSignupFlow()">Sign up</a>
                <a class="lg_btn black btn-effect" (click)="globalVars.launchLoginFlow()">Login</a>
            </div>
            <!-- Right End -->
        </div>
    </header>
    <!-- Header -->
    <!-- Banner -->
    <div class="lg_container">
        <div class="banner_section">
            <div class="lt">
                <h1>The genesis block of new creative medium</h1>
                <p>Supernovas is the decentralized social network for NFT artists and collectors. Discover the future of art by entering.</p>
                <div class="btn_grp">
                    <a class="lg_btn white btn-effect" (click)="globalVars.launchSignupFlow()">Sign up</a>
                    <a class="lg_btn black btn-effect" (click)="globalVars.launchLoginFlow()">Login</a>
                </div>
            </div>
            <div class="rt">
                <figure><img src="assets/img/shapse.svg" alt=""></figure>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!--  creators and collectors -->
    <div class="lg_container">
        <div class="creators_collectors">
            <h2><i>We serve the creators and collectors</i> <span>What is Supernovas?</span></h2>
            <div class="bxs">
                <h3>Buy and sell NFT’s</h3>
                <p>Mint your art as NFT’s with close to zero cost. Discover only verified and authentic creators.</p>
            </div>
            <div class="bxs">
                <h3>Invest to the verified artists</h3>
                <p>Everyone has their own Creator coin - a creator's own social token which anyone can invest in. Creator</p>
            </div>
            <div class="bxs">
                <h3>Get social</h3>
                <p>Follow your favorite creators and collectors, post and interact on Supernovas feed.</p>
            </div>
        </div>
    </div>
    <!--  creators and collectors End  -->
    <!-- Footer -->
    <footer>
        <div class="lg_container">
            <div class="ft_lg">
                <span>supernovas</span><span>supernovas</span><span>supernovas</span><span>supernovas</span><span>supernovas</span><span>supernovas</span><span>supernovas</span>
            </div>
            <div class="footer_rt">
                <ul>
                    <li>SOCIAL</li>
                    <li><a href="#">BitClout</a></li>
                    <li><a href="#">Discord</a></li>
                </ul>
                <ul>
                    <li>RESOURCES</li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
                <ul>
                    <li>LEGAL</li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</div>
<!-- Wrapper End -->












<!-- 
<div class="w-100 border-bottom px-10px">
  <div class="container-lg landing__header">
    <div class="row">
      <div class="col landing__logo clout">love4src, a BitClout node</div>
      <div class="col d-flex justify-content-end align-items-center">
        <a class="landing__nav-link" (click)="globalVars.launchSignupFlow()">Sign Up</a>
        <a class="landing__nav-link" href="https://docs.bitclout.com/" target="_blank">About BitClout</a>
      </div>
    </div>
  </div>
</div>

<div class="container-lg border-top border-left border-right landing__platform">

  <div class="row">
    <div class="col text-center">
      <h1 class="font-weight-bold text-black slide-up-1">
        The Crypto
        <br class="d-sm-none" />
        Social Network
      </h1>
      <div class="slide-up-2">
        <a class="btn btn-primary landing__sign-up" (click)="globalVars.launchSignupFlow()">Sign Up</a>
        <a class="landing__log-in d-none d-sm-block" (click)="globalVars.launchLoginFlow()">Log in</a>
        <a class="landing__log-in d-block d-sm-none mt-3" (click)="globalVars.launchLoginFlow()">Log in</a>
        
          <br/><br/>
        <p>Bitcoin is decentralizing <b>money,</b>
          <br/><br/>
          <p>BitClout is decentralizing <b>social media,</b>
        <br/><br/>
        <p>Love4src is decentralizing <b>development.</b>
          <br/>
        <p><a class="btn btn-sm btn-outline-primary landing__btn-cta" href="https://docs.bitclout.com/" target="_blank">
          Learn More
        </a>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center invisible" animateOnScroll animationName="slide-up">
    <div class="col-lg-8 col-md-9 col-sm-12 text-center landing__prop">
      <h3 class="landing__prop-header">Decentralized social network</h3>
      <p class="landing__prop-desc">
        <b>BitClout, a distributed social network, a blockchain is not a company.</b>
        It's an open-source blockchain like Bitcoin.
        <br class="d-none d-md-block" />
        You can own a piece by buying the BitClout coin $CLOUT.
        <br />
        <br />
        <a href="https://docs.bitclout.com/the-vision" target="_blank">Learn More</a>
      </p>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-10 col-xs-12 mb-0 landing__example">
          <div *ngFor="let post of featuredPosts">
            <div class="d-flex border-bottom pb-3 pt-3">
              <img class="landing__post-img" src="{{ post.pic }}" />
              <div class="d-flex flex-column justify-content-start text-left ml-3">
                <div>
                  <span class="font-weight-bold">{{ post.name }}</span>
                  <span class="text-greyA fs-12px ml-2">{{ post.when }}</span>
                </div>
                <div class="roboto-regular mt-1 fs-14px">
                  {{ post.text }}
                </div>
                <div class="d-flex mt-2">
                  <div class="mr-5 d-flex align-items-center text-grey6">
                    <i class="icon-reply mr-1 fs-20px"></i>
                    <span class="fs-12px">{{ post.comments }}</span>
                  </div>
                  <div class="mr-5 d-flex align-items-center text-grey6">
                    <i [ngClass]="post.reposted ? 'fc-green' : ''" class="icon-repost mr-2 fs-20px"></i>
                    <span class="fs-12px">{{ post.reposts }}</span>
                  </div>
                  <div class="mr-5 d-flex align-items-center text-grey6">
                    <i [ngClass]="post.liked ? 'icon-heart-fill fc-red' : 'icon-heart'" class="mr-1 fs-20px"></i>
                    <span class="fs-12px">{{ post.likes }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="w-100 landing__echo">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col mb-0 text-center">
        <p class="text-grey9 fs-20px">Welcome to the future 🚀</p>
        <br>
        <a href="mailto:info+l4s@yexperiment.com" class="fs-12px">Contact</a>
      </div>
    </div>
  </div>
</div> -->