<fieldset autocomplete="off">
    <h1 class="create-collection-title">Collection details</h1>
    
    <!-- Collection Banner -->
    <div class="collection-details-header">
        <!-- Banner Image -->
        <div class="collection-details-h2">
            <input 
                type="file"
                name="collectionBannerImage"
                accept="image/png, image/jpeg, image/webp"
                (change)="handleBannerFileInput($event.target.files)"
                [(ngModel)]="collectionBannerImage" 
            >
            <img src="/assets/icons/upload_grey.svg" alt="Upload Banner Image"/>
            <h2>Click to upload a collection banner image</h2>
        </div>
        <h3>Recommended size is 925 x 250 pixels.</h3>
        <!-- Display Image -->
        <div class="display-image">
            <input
                type="file"
                name="collectionDisplayImage"
                accept="image/png, image/jpeg, image/webp"
                [(ngModel)]="collectionDisplayImage" 
            >
            <img src="" alt="Upload Collection Image">
        </div>
    </div>

    <!-- Collection Information -->
    <div class="collection-details-info">
        <label for="collection-name">Collection Name:</label>
        <input 
            type="text" 
            id="collection-name" 
            name="collectionName" 
            [(ngModel)]="collectionName" 
            (keyup)="onKeyUp()"
        >
        <label for="collection-desc">Collection Description:</label>
        <textarea 
            rows="4" 
            id="collection-desc" 
            name="collectionDescription" 
            [(ngModel)]="collectionDescription" 
            (keyup)="onKeyUp()"
        ></textarea>
        <button type="button" cdkStepperNext>Continue</button>
    </div>
</fieldset>
