<div class="page-create-post">
    <div class="popup-header">
        <h1>Create your post</h1>
    </div>
    <div class="popup-body">
        <h6 class="font-weight-bold">Your post</h6>
        <div class="textarea-cover">
            <textarea matInput placeholder="Enter post content here..."></textarea>
            <div class="add-image-icon" title="Add Media">
                <img src="assets/icons/add-image-icon.svg" alt="">
                <input type="file">
            </div>
        </div>
    </div>
    <div class="popup-footer">
        <button class="btn btn-post">Post</button>
    </div>
</div>