<div class="tab-selector-wrapper disable-scrollbars">
  <div class="tab-round-box cursor-pointer">
    <div *ngFor="let tab of tabs; let i = index" (click)="_tabClicked(tab)" class="tabs_column_list_inner">
      <div
        class="d-flex align-items-center h-100 fs-15px pr-35px pl-35px tab-selector-button"
        [ngClass]="{
          'fc-default': tab == this.activeTab,
          'tab-selector-box-active': tab == this.activeTab,
          'tab-selector-box-inactive': tab != this.activeTab
        }"
      >
        <img *ngIf="icons" [src]="icons[i]" class="mr-5px" alt="tab icon" />
        {{ tab }}
      </div>
    </div>
  </div>
</div>
