.tab-selector-wrapper {
        width: 100%;
        overflow-x: scroll;
        height: 75px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1em;
}
.tab-round-box {
        width: 100%;
        min-width: max-content;
        background-color: #EFEFEF;
        border-radius: 5em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center !important;
        padding: 0px !important;
        height: 50px !important;
}
.tabs_column_list_inner {
        white-space: nowrap;
        height: 40px !important;
}