.big-graph-container {
    width: 559px;
    height: 560px;
    background: #ffffff;
    border-radius: 18.122512817382812px;
    box-shadow: 0px 1.812251329421997px 30px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}