<div class="big-graph-info">
  <div class="info-section-left">
    <h3>Deso NFT {{ label }} Cap</h3>
    <div class="deso-price">{{ capDeso }} DESO</div>
    <div class="dollar-price">{{ capUSD }} USD</div>
  </div>
  <div class="info-section-right">
    <h3>Last 7 Days</h3>
    <div class="rate">+ {{ weeklyChangePercentage }}%</div>
  </div>
</div>
<div class="big-graph-chart">
  <apx-chart [series]="series" [xaxis]="xaxis" [yaxis]="yaxis" [dataLabels]="dataLabels" [chart]="chart"></apx-chart>
</div>
