<div>
  <div
    class="left-bar-mobile__flyout-div-marketplace d-flex flex-center"
    [@leftBarAnimation]
    *ngIf="globalVars.isMarketplaceLeftBarMobileOpen"
  >
    <div class="position-relative max-width-400px">
      <app-marketplace-left-bar [flyout]="true"></app-marketplace-left-bar>
    </div>
    <div
      *ngIf="globalVars.isMarketplaceLeftBarMobileOpen"
      (click)="_closeMenu()"
      class="nav_close_marketplace cursor-pointer"
    >
      <img src="assets/img/close_square.svg" alt="" />
    </div>
  </div>
  <div
    *ngIf="globalVars.isMarketplaceLeftBarMobileOpen"
    [@translucentBackgroundAnimation]
    (click)="_closeMenu()"
    class="left-bar-mobile__translucent-background"
  ></div>
</div>
