.bottom-bar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 4px 0px 30px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background: var(--background);
  bottom-bar-mobile-tab {
    text-align: center;
    color: var(--button);
    .icon-cover {
      width: 30px;
      text-align: center;
      margin: auto;
      margin-bottom: 4px;
      img {
        width: 24px;
        margin: auto;
        max-width: 100%;
        &.noti-img {
          width: 18px;
        }
      }
    }
    h6 {
      font-size: 9px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}



.bottom-bar-list-padding {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 4px 0px 30px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background: var(--background);
  padding-top: 10px;
  padding-bottom: 10px;
  bottom-bar-mobile-tab {
    text-align: center;
    color: var(--button);
    .icon-cover {
      width: 30px;
      text-align: center;
      margin: auto;
      margin-bottom: 4px;
      img {
        width: 24px;
        margin: auto;
        max-width: 100%;
        &.noti-img {
          width: 18px;
        }
      }
    }
    h6 {
      font-size: 9px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.btn-create {
  color: var(--background);
  background-image: url("../../assets/img/create_button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 80px;
  padding: 3px;
  font-size: 12px;
  border: 0;
  top: -12px;
  position: relative;
  .nb {
    background-color: var(--formbg);
    color: var(--button);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2) inset;
  }
}
.bottom-bar-button {
  background-color: transparent;
  border: none;
}


