.popup-header {
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
    h1 {
        font-size: 42px !important;
        font-weight: bold;
        color: var( --topbar);
        @media screen and (max-width: 767px) {
            font-size: 32px !important;
        }
    }
}

.popup-body {
    h5 {
        margin-bottom: 10px;
        font-size: 18px !important;
        color: var( --topbar);
        @media screen and (max-width: 767px) {
            font-size: 16px !important;
        }
    }
    h6 {
        margin-bottom: 10px;
        font-size: 14px !important;
        color: var( --topbar);
        line-height: 1.67;
        &.font-weight-bold {
            font-size: 14px !important;
        }
        @media screen and (max-width: 767px) {
            font-size: 14px !important;
        }
    }
    .mat-input-element {
        border: 1px solid var(--topbar);
        border-radius: 5px;
        max-width: 100%;
        width: 100%;
        padding: 10px 14px;
        max-width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        margin-top: 7px;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            font-size: 14px !important;
        }
    }
    .input-with-button {
        border: 1px solid var(--topbar);
        border-radius: 5px;
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-top: 7px;
        margin-bottom: 20px;
        .mat-input-element {
            width: calc(100% - 100px);
            border: none;
            margin: 0px;
        }
        button {
            background-color: var(--button);
            color: var(--background);
            font-weight: bold;
            width: 100px;
        }
    }
}

.popup-footer {
    padding-top: 20px;
    .btn {
        width: 400px;
        font-size: 18px;
        margin: auto;
        max-width: 100%;
        color: var(--background);
        font-weight: bold;
        background: #313131;
        border: 0.28458px solid #000;
        box-shadow: 0.794738px 0.794738px 3.97369px 0.397369px #0000001c, inset 0 -1.51437px 15.1437px 7.57187px #000;
        border-radius: 55.7175px;
        height: 66px;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.03);
            transition-duration: .3s;
        }
        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
    h6 {
        margin-top: 15px;
        font-size: 12px !important;
        color: var( --topbar);
        line-height: 1.67;
        &.font-weight-bold {
            font-size: 14px !important;
        }
        @media screen and (max-width: 767px) {
            font-size: 14px !important;
        }
    }
}