<div class="create-collection-page">
  <div class="logo" [routerLink]="'/' + this.globalVars.RouteNames.BROWSE">supernovas</div>
  <a (click)="hasProfile()" alt="Return to Profile"><div class="exit">✕&nbsp;&nbsp;&nbsp;Return to Profile</div></a>

  <div class="full-height-width-container">
    <div class="full-height-width-container" *ngIf="postData">
      <!-- View 1: COLLECTION DETAILS -->
      <div *ngIf="stepNumber === 1" class="collection-details-fieldset">
        <h1 class="create-collection-title">Collection details</h1>

        <!-- Collection Banner -->
        <div class="collection-details-header">
          <!-- Banner Image -->
          <div class="collection-details-banner">
            <input
              type="file"
              name="collectionBannerImage"
              accept="image/png, image/jpeg, image/webp"
              (change)="handleImageInput($event.target.files)"
            />
            <img *ngIf="uploadedBannerImage" [src]="uploadedBannerImage" class="uploaded-banner-image" />
            <div *ngIf="!uploadingBannerImage && !uploadedBannerImage" class="banner-text-h2">
              <img src="/assets/icons/upload_grey.svg" alt="Upload Banner Image" />
              <h2>Click to upload banner image</h2>
            </div>
            <h3 *ngIf="!uploadingBannerImage && !uploadedBannerImage">Recommended size is 1250 x 250 pixels.</h3>
            <i *ngIf="uploadingBannerImage" class="fa fa-spinner fa-spin"></i>
          </div>

          <!-- Display Image -->
          <div class="display-image">
            <input
              type="file"
              name="collectionProfileImage"
              accept="image/png, image/jpeg, image/webp"
              (change)="handleProfileImageInput($event.target.files)"
            />
            <img *ngIf="uploadedProfileImage" [src]="uploadedProfileImage" class="uploaded-profile-image" />
            <i *ngIf="uploadingProfileImage" class="fa fa-spinner fa-spin"></i>
          </div>
        </div>

        <!-- Collection Information -->
        <div class="collection-details-info">
          <label for="collectionName">Collection Name:</label>
          <input
            type="text"
            id="collectionName"
            [(ngModel)]="collectionName"
            (change)="checkCollectionName()"
            name="collectionName"
          />
          <div *ngIf="collectionNameHasError" class="collection-name-error">
            {{ collectionNameError }}
          </div>
          <label for="collectionDescription">Collection Description:</label>
          <textarea
            rows="4"
            id="collectionDescription"
            [(ngModel)]="collectionDescription"
            name="collectionDescription"
          ></textarea>
          <button
            type="button"
            class="black-rounded-button"
            (click)="nextStep()"
            [disabled]="canContinueStepOne() || uploadingBannerImage || collectionNameHasError"
          >
            Continue
          </button>
        </div>
      </div>

      <!-- View 2: SELECT NFTS FOR COLLECTION -->
      <div *ngIf="stepNumber === 2" class="collection-nft-selection-fieldset">
        <!-- Create Collection Content Area -->
        <div class="collection-selections-main">
          <div class="collection-selections-main-headline">
            <h1>Pick NFTs for Collection</h1>
            <!-- Add logic -->
            <button (click)="selectAllNFTs()">Select all</button>
          </div>

          <!-- Populated NFT Content -->
          <div class="collection-selections-main-content disable-scrollbars">
            <div class="nfts-card-list-create-collection disable-scrollbars" *ngIf="isLoading == false">
              <span *ngFor="let post of postData" class="single-nft-container m-10px">
                <button class="select-nft-button" (click)="selectNFT(post)" [disabled]="post.disabled">
                  <div *ngIf="!post.disabled" class="checkbox-container" [ngClass]="{ selected: post.selected }"></div>
                </button>
                <app-small-card-component [selectedBorder]="post.selected" [post]="post"></app-small-card-component>
              </span>
            </div>
          </div>
        </div>

        <!-- Create Collection Bottom Bar (Form Navigation) -->
        <div class="collection-selections-bottom-bar">
          <!-- Add variable -->
          <p>{{ this.selectedPosts?.length }} NFTS selected</p>
          <button
            [disabled]="!(this.selectedPosts?.length > 0)"
            class="create-collection-button"
            (click)="createCollection()"
          >
            <ng-container *ngIf="!creatingCollection; else createCollectionElse">Create collection</ng-container>
            <ng-template #createCollectionElse>
              <i class="fa fa-spinner fa-spin"></i>
            </ng-template>
          </button>
        </div>
      </div>
      <!-- View 3: Collection Successfully Created -->
      <app-collection-success
        *ngIf="stepNumber === 3 && !createCollectionFailed"
        [headingText]="'Collection created!'"
        [descriptionText]="
          'The collection is now visible on your profile and discoverable for collectors. If you need to make changes to the
        collection, you can do that on collection page.'
        "
        [collectionName]="this.collectionName.toLowerCase()"
      ></app-collection-success>
      <app-collection-failure
        [error]="createCollectionError"
        [headingText]="'Error creating collection...'"
        *ngIf="stepNumber === 3 && createCollectionFailed"
      ></app-collection-failure>
    </div>
  </div>
</div>
