/* ---------- CSS DIRECTORY ----------- */
//	1. Component Base Styles
//	2. View 1: Collection Details
//	3. View 2: Collection NFT Selection
/* ------------------------------------ */

/* -------------------------------------------------------------------------- */
/*                        1. COMPONENT BASE STYLES                            */
/* -------------------------------------------------------------------------- */

.create-collection-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5; // update to appropriate variable
}

.full-height-width-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    padding: 0;
    // padding: 5px 20px;
    font-size: 1.7rem;
    font-weight: 600;
    z-index: 1;

    &:hover {
        cursor: pointer;
    }
}

.exit {
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    padding: 8px 15px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05); // update to appropriate variable
    font-size: 0.8rem;
    font-weight: 400;
    z-index: 1;

}

/* -------------------------------------------------------------------------- */
/*                        2. COLLECTION DETAILS                               */
/* -------------------------------------------------------------------------- */

.collection-details-fieldset {
    padding: 30px;
    height: 80%; // update to appropriate (flexible) size
    width: 50%; // update to appropriate (flexible) size
    min-width: 600px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #F5F5F5; // update to appropriate variable
    border-radius: 45px; // update to appropriate variable
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); // update to appropriate variable
    
    @media screen and (max-width: 676px) {
        min-width: 300px;
        width: calc(100% - 2rem);
    }

    h1 {
        font-size: 1.5rem; // update to appropriate variable
        font-weight: 500; // update to appropriate variable
    }

    .collection-details-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400; // update to appropriate variable
    }
}

.collection-details-header {
    position: relative;
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(242, 242, 242, 1.0); // update to appropriate variable
    border-radius: 15px 15px 0 0; // update to appropriate variable

    &:hover {
        background-color: rgb(226, 226, 226);
    }

    h2 {
        padding: 8px 10px;
        font-size: 1rem; // update to appropriate variable
        font-weight: 500; // update to appropriate variable
        color: #7D7D7D; // update to appropriate variable
    }

    h3 {
        padding: 8px 0;
        font-size: 0.8rem; // update to appropriate variable
        color: #7D7D7D; // update to appropriate variable
    }

    .collection-details-banner {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px 15px 0 0;

        .banner-text-h2 {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 20px;
                width: 20px;
            }
        }

        .uploaded-banner-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%; 
            cursor: pointer; 
            opacity: 0; 
        }
    }

    .display-image {
        position: absolute;
        height: 80px; // adjust after linking data
        width: 80px; // adjust after linking data
        left: 4rem;
        bottom: -20px;
        background-color: #EAEAEA;
        border: 2px solid white;
        border-radius: 10px;
        background-size: cover;
        background-position: center;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        input {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            z-index: 1;

            &:hover {
                cursor: pointer;
            }
        }

    }
}

.collection-details-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        width: 75%;
        display: block;
        color: #1D1D1D; // update to appropriate variable
        font-size: 0.9rem; // update to appropriate variable
        font-weight: 500; // update to appropriate variable
    }

    input[type=text] {
        margin-bottom: 15px;
        padding: 8px 10px;
        width: 75%;
        display: block;
        border: 1px solid #B0B0B0; // update to appropriate variable
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); // update to appropriate variable
    }

    textarea {
        padding: 8px 10px;
        width: 75%;
        display: block;
        border: 1px solid #B0B0B0; // update to appropriate variable
        border-radius: 5px;
        resize: none;
    }

    button {
        margin: 40px 0;
        padding: 10px 75px;
        width: fit-content;
    }
}

/* -------------------------------------------------------------------------- */
/*                      3. COLLECTION NFT SELECTION                           */
/* -------------------------------------------------------------------------- */

.single-nft-container {
    position: relative;
}
.select-nft-button {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
    input {
        position: absolute;
        width: 20px;
        right: 25px;
        top: 25px;
    }
}

.collection-nft-selection-fieldset {
    height: 80%; // update to appropriate (flexible) size
    width: 80%; // update to appropriate (flexible) size
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #F5F5F5; // update to appropriate variable
    border-radius: 45px; // update to appropriate variable
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); // update to appropriate variable
}

.collection-selections-main {
    padding: 0 20px;
    flex: 8;
    width: 100%;
    display: flex;
    flex-direction: column;

    .collection-selections-main-headline {
        padding: 30px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h1 {
            font-size: 1.5rem; // update to appropriate variable
            font-weight: 600; // update to appropriate variable
        }
    
        button {
            padding: 10px 20px;
            background: #ECECEC; // update to appropriate variable
            border: none;
            border-radius: 60px;
            color: #626262; // update to appropriate variable
            font-size: 0.8rem; // update to appropriate variable
            font-weight: 600; // update to appropriate variable
        }
    }

    .collection-selections-main-content {
        position: relative;
        height: 100%;
        width: 100%;
        
        // Targets all NFTs
        .collection-selections-user-nfts {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 10px 0;
            height: 100%;
            max-width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .single-nft-container {
                width: auto;
            }
        }
        
        @media screen and (max-width: 676px) {   
            margin-bottom: 35px;
        }
    }
}

.collection-selections-bottom-bar {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #DADADA; // update to appropriate variable

    button {
        padding: 10px 75px;
        width: fit-content;
        background: #313131; // update to appropriate variable
        border: none;
        border-radius: 60px;
        color: white; // update to appropriate variable
        font-size: 0.88rem; // update to appropriate variable
        font-weight: 600; // update to appropriate variable
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); // update to appropriate variable
    }

    button:disabled {
        background-color: rgba(49, 49, 49, 0.1);
    }
}

.disable-link {
    pointer-events: none !important;
}