<div class="create-collection-page">
  <!-- Add Supernovas logo -->
  <div class="logo">supernovas</div>
  <a href="/u/:username/" alt="Return to Profile"><div class="exit">✕&nbsp;&nbsp;&nbsp;Return to Profile</div></a>

  <div class="full-height-width-container">
    <div class="full-height-width-container" *ngIf="postData && isLoading == false">
      <!-- View 1: COLLECTION DETAILS -->
      <div *ngIf="stepNumber === 1" class="collection-details-fieldset">
        <h1 class="create-collection-title">Collection details</h1>

        <!-- Collection Banner -->
        <div class="collection-details-header">
          <!-- Banner Image -->
          <div class="collection-details-banner">
            <ng-container *ngIf="uploadedBannerImage; else defaultBanner">
              <input
                type="file"
                name="collectionBannerImage"
                accept="image/png, image/jpeg, image/webp"
                (change)="updateBanner($event)"
              />
              <img [src]="uploadedBannerImage" class="uploaded-banner-image" />
            </ng-container>

            <ng-template #defaultBanner>
              <input
                type="file"
                name="collectionBannerImage"
                accept="image/png, image/jpeg, image/webp"
                (change)="updateBanner($event)"
              />
              <div class="banner-text-h2">
                <img src="/assets/icons/upload_grey.svg" alt="Upload Banner Image" />
                <h2>Click to upload a collection banner image</h2>
              </div>
              <h3>Recommended size is 925 x 250 pixels.</h3>
            </ng-template>
          </div>

          <!-- Display Image -->
          <div class="display-image" [avatar]="globalVars?.loggedInUser?.PublicKeyBase58Check"></div>
        </div>

        <!-- Collection Information -->
        <div class="collection-details-info">
          <label for="collectionName">Collection Name:</label>
          <input type="text" id="collectionName" [(ngModel)]="collectionName" name="collectionName" />
          <label for="collectionDescription">Collection Description:</label>
          <textarea
            rows="4"
            id="collectionDescription"
            [(ngModel)]="collectionDescription"
            name="collectionDescription"
          ></textarea>
          <button type="button" class="black-rounded-button" (click)="nextStep()" [disabled]="canContinueStepOne()">
            Continue
          </button>
        </div>
      </div>

      <!-- View 2: SELECT NFTS FOR COLLECTION -->
      <div *ngIf="stepNumber === 2" class="collection-nft-selection-fieldset">
        <!-- Create Collection Content Area -->
        <div class="collection-selections-main">
          <div class="collection-selections-main-headline">
            <h1>Pick NFTs for Collection</h1>
            <!-- Add logic -->
            <button (click)="selectAllNFTs()">Select all</button>
          </div>

          <!-- Populated NFT Content -->
          <div class="collection-selections-main-content">
            <div class="collection-selections-user-nfts">
              <ng-container *ngIf="isLoading == false">
                <div *ngFor="let post of postData; index as i" class="single-nft-container p-10px">
                  <button class="select-nft-button" (click)="selectNFT(post)">
                    <input type="checkbox" [checked]="post.selected" />
                  </button>
                  <app-small-card-component [post]="post"></app-small-card-component>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <!-- Create Collection Bottom Bar (Form Navigation) -->
        <div class="collection-selections-bottom-bar">
          <!-- Add variable -->
          <p>3 NFTS selected</p>
          <button type="submit">Create Collection</button>
        </div>
      </div>
    </div>
  </div>

  <!-- View 3: Collection Successfully Created -->
  <!-- <app-collection-success></app-collection-success> -->
</div>
