<app-page>
    <!-- <app-notifications-list></app-notifications-list> -->
    <div class="notification-list-cover">
        <ul class="notification-list">
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-reply feed-post-icon-row__icon"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets//img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        lukasJackson
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>gave</p>
                    <h6 class="font-weight-bold">1 Diamond</h6>
                    <p>(~$0.01)</p>
                    <span class="text-gray font-italic">Have a good one boss</span>
                </div>
            </li>
            <li class="single-notification for-replying">
                <div class="left-portion">
                    <div class="profile-picture">
                        <img src="assets/img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <div class="d-flex align-items-center">
                        <!-- Username-->
                        <h5 class="fc-default font-weight-bold">
                            lukasJackson
                            <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                        </h5>
                        <div class="desktop-creator-coin-info">
                            <!-- <ng-container *ngTemplateOutlet="creatorCoinInfo"></ng-container> -->
                        </div>
                        <!-- <follow-button class="ml-10px fs-12px d-lg-block d-none text-grey5" [displayAsLink]="true" [followLinkClass]="'link--unstyled'" [followedPubKeyBase58Check]="postContent.ProfileEntryResponse.PublicKeyBase58Check" [creatorCoinTemplate]="creatorCoinInfo"></follow-button>
                        <feed-post-dropdown class="ml-auto" [post]="post" [postContent]="postContent" [nftEntryResponses]="nftEntryResponses" (postHidden)="hidePost()" (userBlocked)="blockUser()" (toggleGlobalFeed)="_addPostToGlobalFeed($event)" (togglePostPin)="_pinPostToGlobalFeed($event)"></feed-post-dropdown> -->
                    </div>
                    <p>Unfollow</p>
                    <p class="replying-to-text">replying to &nbsp; <a class="text-primary" href="">@fransarthur</a>
                    </p>
                    <h5 class="fs-14px">Thank You !!</h5>
                    <div class="counters-list">
                        <div class="icon-cover">
                            <i class="icon-reply"></i>
                            <span>3</span>
                        </div>
                        <div class="icon-cover">
                            <i class="icon-repost"></i>
                            <span>3</span>
                        </div>
                        <div class="icon-cover">
                            <i class="icon-heart"></i>
                            <span>3</span>
                        </div>
                        <div class="icon-cover">
                            <i class="icon-diamond"></i>&nbsp;
                            <span>3</span>
                        </div>
                    </div>
                    <!-- <feed-post-icon-row class="mt-2px" [post]="post" [postContent]="postContent" [parentPost]="parentPost" [hideNumbers]="true" [afterCommentCreatedCallback]="afterCommentCreatedCallback" [afterRecloutCreatedCallback]="afterRecloutCreatedCallback"></feed-post-icon-row> -->
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-wallet"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets/img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        ChesaToschi
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>followed you</p>
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-heart-fill"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets//img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        lukasJackson
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>liked</p>
                    <span class="text-gray font-italic">Have a good one boss</span>
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-wallet"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets/img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        ChesaToschi
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>followed you</p>
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-heart-fill"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets//img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        lukasJackson
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>liked</p>
                    <span class="text-gray font-italic">Have a good one boss</span>
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-reply feed-post-icon-row__icon"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets//img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        lukasJackson
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>gave</p>
                    <h6 class="font-weight-bold">1 Diamond</h6>
                    <p>(~$0.01)</p>
                    <span class="text-gray font-italic">Have a good one boss</span>
                </div>
            </li>
            <li class="single-notification for-replying">
                <div class="left-portion">
                    <div class="profile-picture">
                        <img src="assets/img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <div class="d-flex align-items-center">
                        <!-- Username-->
                        <h5 class="fc-default font-weight-bold">
                            lukasJackson
                            <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                        </h5>
                        <div class="desktop-creator-coin-info">
                            <!-- <ng-container *ngTemplateOutlet="creatorCoinInfo"></ng-container> -->
                        </div>
                        <!-- <follow-button class="ml-10px fs-12px d-lg-block d-none text-grey5" [displayAsLink]="true" [followLinkClass]="'link--unstyled'" [followedPubKeyBase58Check]="postContent.ProfileEntryResponse.PublicKeyBase58Check" [creatorCoinTemplate]="creatorCoinInfo"></follow-button>
                      <feed-post-dropdown class="ml-auto" [post]="post" [postContent]="postContent" [nftEntryResponses]="nftEntryResponses" (postHidden)="hidePost()" (userBlocked)="blockUser()" (toggleGlobalFeed)="_addPostToGlobalFeed($event)" (togglePostPin)="_pinPostToGlobalFeed($event)"></feed-post-dropdown> -->
                    </div>
                    <p>Unfollow</p>
                    <p class="replying-to-text">replying to &nbsp; <a class="text-primary" href="">@fransarthur</a>
                    </p>
                    <h5 class="fs-14px">Thank You !!</h5>
                    <div class="counters-list">
                        <div class="icon-cover">
                            <i class="icon-reply"></i>
                            <span>3</span>
                        </div>
                        <div class="icon-cover">
                            <i class="icon-repost"></i>
                            <span>3</span>
                        </div>
                        <div class="icon-cover">
                            <i class="icon-heart"></i>
                            <span>3</span>
                        </div>
                        <div class="icon-cover">
                            <i class="icon-diamond"></i>&nbsp;
                            <span>3</span>
                        </div>
                    </div>
                    <!-- <feed-post-icon-row class="mt-2px" [post]="post" [postContent]="postContent" [parentPost]="parentPost" [hideNumbers]="true" [afterCommentCreatedCallback]="afterCommentCreatedCallback" [afterRecloutCreatedCallback]="afterRecloutCreatedCallback"></feed-post-icon-row> -->
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-wallet"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets/img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        ChesaToschi
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>followed you</p>
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-heart-fill"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets//img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        lukasJackson
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>liked</p>
                    <span class="text-gray font-italic">Have a good one boss</span>
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-wallet"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets/img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        ChesaToschi
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>followed you</p>
                </div>
            </li>
            <li class="single-notification">
                <div class="left-portion">
                    <div class="icon-cover">
                        <i class="icon-heart-fill"></i>
                    </div>
                    <div class="profile-picture">
                        <img src="assets//img/default_profile_pic.png" alt="User Profile Picture">
                    </div>
                </div>
                <div class="right-portion">
                    <h6 class="fc-default font-weight-bold">
                        lukasJackson
                    </h6>
                    <i class="fas fa-check-circle fa-md align-middle text-primary"></i>
                    <p>liked</p>
                    <span class="text-gray font-italic">Have a good one boss</span>
                </div>
            </li>
        </ul>
    </div>
</app-page>