<div class="collection-page-sidebar-container">
    <div class="sidebar-status-container">
        <h3>Status</h3>
        <div class="sidebar-status-buttons">
            <button>All</button>
            <button>For Sale</button>
            <button>Has Bids</button>
            <button>Sold</button>
        </div>
    </div>
    <div class="sidebar-market-container">
        <h3>Market</h3>
        <div class="sidebar-market-buttons">
            <button>Primary Market</button>
            <button>Secondary Market</button>
        </div>
    </div>
    <div class="sidebar-traits-container">
        <h3>Traits</h3>
        <div class="sidebar-traits-content">
            <div class="sidebar-traits-hair">Hair</div>
            <div class="sidebar-traits-background"></div>
            <div class="sidebar-traits-skills"></div>
            <div class="sidebar-traits-shape"></div>
        </div>  
    </div>
    <button class="filter-button">Apply</button>
</div>
