.onboarding-card-shadow {
  //   width: 700px;
  //   height: 1025px;
  //   left: 2px;
  //   top: -1px;
  //   background: #f3f3f3;
  //   border-radius: 30.2255px;
  position: relative;
}

.onboarding-card-shadow-hasProfile {
  //   width: 700px;
  //   height: 645px;
  //   left: 2px;
  //   top: -1px;
  //   background: #f3f3f3;
  //   border-radius: 30.2255px;
  position: relative;
}

.onboarding-card-shadow-collector {
  //   width: 700px;
  //   height: 975px;
  //   left: 2px;
  //   top: -1px;
  //   background: #f3f3f3;
  //   border-radius: 30.2255px;
  position: relative;
}

.onboarding-card {
  width: 680px;
  height: 1002px;
  left: 10px;
  top: 10px;

  background: #ffffff;
  border-radius: 29.6169px;
  position: absolute;

  outline-width: 1ex;
  outline-color: #f3f3f3;
  outline-style: solid;
  margin-top: 20px;
}

.onboarding-card-hasProfile {
  width: 680px;
  height: 625px;
  left: 10px;
  top: 10px;

  background: #ffffff;
  border-radius: 29.6169px;
  position: absolute;

  outline-width: 1ex;
  outline-color: #f3f3f3;
  outline-style: solid;
  margin-top: 20px;
}

.onboarding-card-collector {
  width: 819px;
  height: 885px;
  left: 10px;
  top: 10px;

  background: #ffffff;
  border-radius: 29.6169px;
  position: absolute;

  outline-width: 1ex;
  outline-color: #f3f3f3;
  outline-style: solid;
  margin-top: 20px;
}

.onboarding-card-header-1 {
  position: absolute;
  left: 58px;
  top: 38px;

  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 48px;

  color: #0d0d0d;
}

.onboarding-card-subheader {
  position: absolute;
  left: 58px;
  top: 93px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #2e2e2e;
}

.onboarding-card-subheader-hasProfile {
  font-size: 20px;
  position: absolute;
  left: 58px;
  top: 93px;
  width: 550px;
}

.color-gradient {
  left: 58px;
  top: 175px;
  position: absolute;
  width: 11.69px;
  height: 550px;
}

.color-gradient-collector {
  left: 58px;
  top: 175px;
  position: absolute;
  width: 11.69px;
  height: 425px;
}

.onboarding-card-button {
  width: 150px;
  height: 56px;
  border: 3px solid #000000;
  border-radius: 31.879194259643555px;
  box-shadow: 0.4547150731086731px 0.4547150731086731px 2.2735750675201416px rgba(0, 0, 0, 0.11);
  background-color: white;
  position: absolute;
  font-weight: bold;
  font-size: 13px;
}

// Step 1
.checkmark-1 {
  position: absolute;
  width: 26.57px;
  height: 26.57px;
  left: 50px;
  top: 170px;
}

.step-1-header {
  position: absolute;
  left: 95px;
  top: 167px;

  font-style: normal;
  font-weight: bold;
  font-size: 18.5px;
  line-height: 112.5%;

  color: #262626;
}

.step-1-text {
  position: absolute;
  left: 95px;
  top: 197px;
  width: 495px;

  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 137%;

  color: #707070;
}

.onboarding-card-button-1 {
  top: 197px;
  right: 50px;
}

// Step 2
.checkmark-2 {
  position: absolute;
  width: 26.57px;
  height: 26.57px;
  left: 50px;
  top: 297px;
}

.step-2-header {
  position: absolute;
  left: 95px;
  top: 297px;

  font-style: normal;
  font-weight: bold;
  font-size: 18.5px;
  line-height: 112.5%;

  color: #262626;
}

.step-2-text {
  position: absolute;
  left: 95px;
  top: 327px;
  width: 495px;

  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 137%;

  color: #707070;
}

.onboarding-card-button-2 {
  top: 327px;
  right: 50px;
}

// Step 3
.checkmark-3 {
  position: absolute;
  width: 26.57px;
  height: 26.57px;
  left: 50px;
  top: 447px;
}

.step-3-header {
  position: absolute;
  left: 95px;
  top: 447px;

  font-style: normal;
  font-weight: bold;
  font-size: 18.5px;
  line-height: 112.5%;

  color: #262626;
}

.step-3-text {
  position: absolute;
  left: 95px;
  top: 477px;
  width: 495px;

  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 137%;

  color: #707070;
}

.onboarding-card-button-3 {
  top: 477px;
  right: 50px;
}

// Step 4
.checkmark-4 {
  position: absolute;
  width: 26.57px;
  height: 26.57px;
  left: 50px;
  top: 577px;
}

.step-4-header {
  position: absolute;
  left: 95px;
  top: 577px;
  font-size: 18px;
  font-weight: bold;
}

.step-4-header-hasProfile {
  position: absolute;
  left: 58px;
  top: 200px;
  font-size: 18px;
  font-weight: bold;
}

.step-4-text {
  position: absolute;
  left: 95px;
  top: 607px;
  font-size: 15px;
  width: 400px;
}

.step-4-text-hasProfile {
  position: absolute;
  left: 58px;
  top: 230px;
  font-size: 15px;
  width: 355px;
}

.onboarding-card-button-4 {
  top: 607px;
  right: 50px;
}

.onboarding-card-button-4-hasProfile {
  top: 230px;
  right: 30px;
  width: 200px;
}

// done
.done {
  position: absolute;
  width: 46.76px;
  height: 26.57px;
  left: 40px;
  top: 700px;
}

.done-collector {
  position: absolute;
  width: 46.76px;
  height: 26.57px;
  left: 40px;
  top: 575px;
}

// line-break
.line-break {
  position: absolute;
  width: 680px;
  height: 0px;
  left: 0px;
  top: 760px;

  border: 0.25px solid #c7c7c7;
}

.line-break-hasProfile {
  position: absolute;
  width: 680px;
  height: 0px;
  left: 0px;
  top: 350px;

  border: 0.25px solid #c7c7c7;
}

.line-break-collector {
  position: absolute;
  width: 819px;
  height: 0px;
  left: 0px;
  top: 645px;

  border: 1px solid rgba(199, 199, 199, 0.25);
}

.line-break-collector-mobile {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 620px;
  border: 1px solid rgba(199, 199, 199, 0.5);
}

// support
.support-header {
  position: absolute;
  left: 95px;
  top: 785px;
  font-size: 24px;
  font-weight: bold;
}

.support-header-hasProfile {
  position: absolute;
  left: 95px;
  top: 400px;
  font-size: 24px;
  font-weight: bold;
}

.support-header-collector {
  position: absolute;
  left: 95px;
  top: 680px;

  font-style: normal;
  font-weight: 600;
  font-size: 25.5px;
  line-height: 112.5%;
  color: #000000;
}

.support-text {
  position: absolute;
  left: 95px;
  top: 820px;
  font-size: 15px;
  width: 450px;
}

.support-text-hasProfile {
  position: absolute;
  left: 95px;
  top: 435px;
  font-size: 15px;
  width: 450px;
}

.support-text-collector {
  position: absolute;
  left: 95px;
  top: 725px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  width: 580px;
  color: #707070;
}

.onboarding-support-button {
  top: 900px;
  left: 95px;
  width: 275px;
  font-size: 15px;
}

.onboarding-support-button-hasProfile {
  top: 515px;
  left: 95px;
  width: 275px;
}

.onboarding-support-button-collector {
  top: 785px;
  left: 95px;
  width: 290px;
}

// ------------------------- mobile -------------------------
// creator no profile
.onboarding-card-mobile {
  width: 90vw;
  height: 70vh;
  left: 5vw;
  top: 9vh;
  background: #ffffff;
  border-radius: 29.6169px;
  position: absolute;
}

.onboarding-card-header-1-mobile {
  position: absolute;
  left: 15px;
  top: 35px;

  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 48px;

  color: #0d0d0d;
}

.onboarding-card-subheader-mobile {
  position: absolute;
  left: 15px;
  top: 80px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #2e2e2e;
}

.color-gradient-mobile {
  left: 2vw;
  top: 13vh;
  position: absolute;
  height: 42vh;
}

.checkmark-1-mobile {
  position: absolute;
  height: 30px;
  left: 9px;
  top: 140px;
}

.step-1-header-mobile {
  position: absolute;
  left: 60px;
  top: 145px;

  font-style: normal;
  font-weight: bold;
  font-size: 18.5px;
  line-height: 112.5%;

  color: #262626;
}

.step-1-text-mobile {
  position: absolute;
  left: 60px;
  top: 175px;
  width: 415px;

  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 137%;

  color: #707070;
}

.onboarding-card-button-mobile {
  width: 175px;
  height: 55px;
  border: 3px solid #000000;
  border-radius: 31.8791942596px;
  box-shadow: 0.4547150731px 0.4547150731px 2.2735750675px rgb(0 0 0 / 11%);
  background-color: white;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
}

.onboarding-card-button-1-mobile {
  top: 175px;
  right: 40px;
}

.checkmark-2-mobile {
  position: absolute;
  height: 30px;
  left: 9px;
  top: 270px;
}

.step-2-header-mobile {
  position: absolute;
  left: 60px;
  top: 275px;
  font-style: normal;
  font-weight: bold;
  font-size: 18.5px;
  line-height: 112.5%;
  color: #262626;
}

.step-2-text-mobile {
  position: absolute;
  left: 60px;
  top: 305px;
  width: 415px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 137%;
  color: #707070;
}

.onboarding-card-button-2-mobile {
  top: 305px;
  right: 40px;
}

.checkmark-3-mobile {
  position: absolute;
  height: 30px;
  left: 9px;
  top: 445px;
}

.step-3-header-mobile {
  position: absolute;
  left: 60px;
  top: 450px;
  font-style: normal;
  font-weight: bold;
  font-size: 18.5px;
  line-height: 112.5%;
  color: #262626;
}

.step-3-text-mobile {
  position: absolute;
  left: 60px;
  top: 480px;
  width: 415px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 137%;
  color: #707070;
}

.onboarding-card-button-3-mobile {
  top: 480px;
  right: 40px;
}

.checkmark-4-mobile {
  position: absolute;
  height: 2.5vh;
  left: 1vw;
  top: 45vh;
}

.step-4-header-mobile {
  position: absolute;
  left: 7vw;
  top: 45vh;
  font-size: 18px;
  font-weight: bold;
}

.step-4-text-mobile {
  position: absolute;
  left: 7vw;
  top: 48vh;
  font-size: 15px;
  width: 50vw;
}

.onboarding-card-button-4-mobile {
  top: 50vh;
  right: 5vw;
}

.done-mobile {
  position: absolute;
  height: 3vw;
  left: 0vw;
  top: 53vh;
}

.line-break-mobile {
  position: absolute;
  width: 80vw;
  height: 0px;
  left: 0px;
  top: 58vh;
  border: 0.25px solid #c7c7c7;
  display: none;
}

.support-header-mobile {
  position: absolute;
  left: 10vw;
  top: 60vh;
  font-size: 24px;
  font-weight: bold;
}

.support-text-mobile {
  position: absolute;
  left: 10vw;
  top: 63vh;
  font-size: 15px;
  width: 45vw;
}

.onboarding-support-button-mobile {
  width: 30vw;
  height: 5vh;
  border: 3px solid #000000;
  border-radius: 31.8791942596px;
  box-shadow: 0.4547150731px 0.4547150731px 2.2735750675px rgb(0 0 0 / 11%);
  background-color: white;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  left: 18vw;
  top: 72vh;
}

.mobile-navbar-buffer {
  height: 100px;
  bottom: 0;
  position: absolute;
  width: 100vw;
}

// creator has profile
.onboarding-card-hasProfile-mobile {
  width: 90vw;
  height: 75vh;
  left: 5vw;
  top: 9vh;
  background: #ffffff;
  border-radius: 29.6169px;
  position: absolute;
  overflow: scroll;
}

.onboarding-card-subheader-hasProfile-mobile {
  left: 2vw;
  top: 7vh;
  font-size: 15px;
  width: 70vw;
  display: block;
  position: absolute;
}

.line-break-hasProfile {
  position: absolute;
  width: 680px;
  height: 0px;
  left: 0px;
  top: 350px;
  border: 0.25px solid #c7c7c7;
  display: none;
}

.onboarding-card-button-4-hasProfile-mobile {
  top: 16vh;
  right: 5vw;
}

.step-4-header-hasProfile-mobile {
  position: absolute;
  left: 7vw;
  top: 15vh;
  font-size: 18px;
  font-weight: bold;
}

.step-4-text-hasProfile-mobile {
  position: absolute;
  left: 7vw;
  top: 18vh;
  font-size: 15px;
  width: 50vw;
}

.support-header-hasProfile-mobile {
  position: absolute;
  left: 10vw;
  top: 28vh;
  font-size: 24px;
  font-weight: bold;
}

.support-text-hasProfile-mobile {
  position: absolute;
  left: 10vw;
  top: 31vh;
  font-size: 15px;
  width: 45vw;
}

.onboarding-support-button-hasProfile-mobile {
  width: 15vw;
  left: 15vw;
  top: 37vh;
  height: 5vh;
  border: 3px solid #000000;
  border-radius: 31.8791942596px;
  box-shadow: 0.4547150731px 0.4547150731px 2.2735750675px rgb(0 0 0 / 11%);
  background-color: white;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
}

// collector
.onboarding-card-collector-mobile {
  width: 90vw;
  height: 75vh;
  left: 5vw;
  top: 9vh;
  background: #ffffff;
  position: absolute;
  overflow: scroll;
}

.color-gradient-collector-mobile {
  left: 15px;
  top: 145px;
  position: absolute;
  height: 445px;
  width: 16px;
}

.done-collector-mobile {
  position: absolute;
  height: 20px;
  left: 5px;
  top: 570px;
}

.support-header-collector-mobile {
  position: absolute;
  left: 60px;
  top: 645px;
  font-style: normal;
  font-weight: 600;
  font-size: 25.5px;
  line-height: 112.5%;
  color: #000000;
}

.support-text-collector-mobile {
  position: absolute;
  left: 60px;
  top: 680px;
  width: 70vw;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  color: #707070;
}

.onboarding-support-button-collector-mobile {
  top: 730px;
  left: 60px;
  width: 300px;
}

@media screen and (max-width: 480px) {
  // creator no profile
  .onboarding-card-mobile {
    width: 90vw;
    height: 75vh;
    left: 5vw;
    top: 9vh;
    background: #ffffff;
    border-radius: 0px;
    position: absolute;
    overflow: scroll;
  }

  .onboarding-card-header-1-mobile {
    left: 5px;
    top: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;

    color: #0d0d0d;
  }

  .onboarding-card-subheader-mobile {
    left: 5px;
    top: 45px;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #2e2e2e;
  }

  .color-gradient-mobile {
    left: 1.5vw;
    top: 13vh;
    position: absolute;
    height: 107vh;
    width: 2vw;
  }

  .checkmark-1-mobile {
    position: absolute;
    height: 20px;
    left: -1px;
    top: 110px;
  }

  .step-1-header-mobile {
    left: 40px;
    top: 110px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 112.5%;
  }

  .step-1-text-mobile {
    left: 40px;
    top: 140px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 310px;
    display: block;
    line-height: 137%;
    color: #707070;
  }

  .onboarding-card-button-mobile {
    width: 290px;
    height: 55px;
    border: 3px solid #000000;
    border-radius: 31.8791942596px;
    box-shadow: 0.4547150731px 0.4547150731px 2.2735750675px rgb(0 0 0 / 11%);
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    display: block;
  }

  .onboarding-card-button-1-mobile {
    top: 235px;
    left: 40px;
  }

  .checkmark-2-mobile {
    position: absolute;
    height: 20px;
    left: -1px;
    top: 340px;
  }

  .step-2-header-mobile {
    left: 40px;
    top: 340px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 112.5%;
    color: #262626;
  }

  .step-2-text-mobile {
    left: 40px;
    top: 370px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 310px;
    display: block;
    line-height: 137%;
    color: #707070;
  }

  .onboarding-card-button-2-mobile {
    top: 485px;
    left: 40px;
  }

  .checkmark-3-mobile {
    position: absolute;
    height: 20px;
    left: -1px;
    top: 590px;
  }

  .step-3-header-mobile {
    position: absolute;
    left: 40px;
    top: 590px;
    font-style: normal;
    font-weight: bold;
    font-size: 18.5px;
    line-height: 112.5%;
    color: #262626;
  }

  .step-3-text-mobile {
    position: absolute;
    left: 40px;
    top: 620px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 310px;
    display: block;
    line-height: 137%;
    color: #707070;
  }

  .onboarding-card-button-3-mobile {
    top: 700px;
    left: 40px;
  }

  .checkmark-4-mobile {
    position: absolute;
    height: 3vh;
    left: 0vw;
    top: 93vh;
  }

  .step-4-header-mobile {
    position: absolute;
    left: 7vw;
    top: 93vh;
    font-size: 1rem;
    font-weight: bold;
  }

  .step-4-text-mobile {
    position: absolute;
    left: 7vw;
    top: 97vh;
    font-size: 0.75rem;
    width: 70vw;
  }

  .onboarding-card-button-4 {
    top: 107vh;
    left: 7vw;
  }

  .done-mobile {
    position: absolute;
    height: 3vw;
    left: 0vw;
    top: 119vh;
  }

  .line-break-mobile {
    display: none;
  }

  .support-header-mobile {
    position: absolute;
    left: 10vw;
    top: 125vh;
    font-size: 1rem;
    font-weight: bold;
  }

  .support-text-mobile {
    position: absolute;
    left: 10vw;
    top: 129vh;
    font-size: 0.75rem;
    width: 45vw;
  }

  .onboarding-support-button-mobile {
    width: 70vw;
    height: 5vh;
    border: 3px solid #000000;
    border-radius: 31.8791942596px;
    box-shadow: 0.4547150731px 0.4547150731px 2.2735750675px rgb(0 0 0 / 11%);
    background-color: white;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    left: 30px;
    top: 140vh;
  }

  // creator has profile
  .onboarding-card-hasProfile-mobile {
    width: 90vw;
    height: 75vh;
    left: 5vw;
    top: 9vh;
    background: #ffffff;
    border-radius: 29.6169px;
    position: absolute;
    overflow: scroll;
  }

  .onboarding-card-subheader-hasProfile-mobile {
    left: 2vw;
    top: 7vh;
    font-size: 0.75rem;
    width: 70vw;
    display: block;
    position: absolute;
  }

  .line-break-hasProfile {
    position: absolute;
    width: 680px;
    height: 0px;
    left: 0px;
    top: 350px;
    border: 0.25px solid #c7c7c7;
    display: none;
  }

  .step-4-header-hasProfile-mobile {
    position: absolute;
    left: 7vw;
    top: 15vh;
    font-size: 18px;
    font-weight: bold;
  }

  .step-4-text-hasProfile-mobile {
    position: absolute;
    left: 7vw;
    top: 19vh;
    font-size: 0.75rem;
    width: 70vw;
  }

  .onboarding-card-button-4-hasProfile-mobile {
    top: 28vh;
    right: 7vw;
  }

  .support-header-hasProfile-mobile {
    position: absolute;
    left: 10vw;
    top: 39vh;
    font-size: 1rem;
    font-weight: bold;
  }

  .support-text-hasProfile-mobile {
    position: absolute;
    left: 10vw;
    top: 42vh;
    font-size: 0.75rem;
    width: 45vw;
  }

  .onboarding-support-button-hasProfile-mobile {
    width: 70vw;
    left: 13vw;
    top: 52vh;
    height: 5vh;
    border: 3px solid #000000;
    border-radius: 31.8791942596px;
    box-shadow: 0.4547150731px 0.4547150731px 2.2735750675px rgb(0 0 0 / 11%);
    background-color: white;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
  }

  //   collector
  .onboarding-card-collector-mobile {
    width: 410px;
    height: 750px;
    left: 10px;
    top: 80px;
    background: #ffffff;
    position: absolute;
    overflow: scroll;
  }

  .color-gradient-collector-mobile {
    left: 5px;
    top: 112px;
    position: absolute;
    height: 700px;
    width: 7px;
  }

  .done-collector-mobile {
    position: absolute;
    height: 12px;
    left: 0px;
    top: 805px;
  }

  .line-break-collector-mobile {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 840px;
    border: 1px solid rgba(199, 199, 199, 0.5);
  }

  .support-header-collector-mobile {
    position: absolute;
    left: 40px;
    top: 865px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 112.5%;
    color: #000000;
  }

  .support-text-collector-mobile {
    position: absolute;
    left: 40px;
    top: 890px;
    width: 70vw;
    font-style: normal;
    font-weight: 500;
    font-size: 8.75px;
    line-height: 137%;
    color: #707070;
  }

  .onboarding-support-button-collector-mobile {
    top: 935px;
    left: 40px;
    width: 290px;
  }
}

@media screen and (max-width: 390px) {
  .onboarding-card-collector-mobile {
    width: 370px;
    height: 670px;
    left: 10px;
    top: 80px;
    background: #ffffff;
    position: absolute;
    overflow: scroll;
  }
}

@media screen and (max-width: 375px) {
  .onboarding-card-header-1-mobile {
    font-size: 22px;
  }

  .onboarding-card-subheader-mobile {
    font-size: 12px;
  }

  .step-1-text-mobile {
    font-size: 13px;
    width: 290px;
  }

  .step-2-text-mobile {
    font-size: 13px;
    width: 290px;
  }

  .step-3-text-mobile {
    font-size: 13px;
    width: 290px;
  }

  .onboarding-card-button-mobile {
    width: 270px;
  }

  .onboarding-card-collector-mobile {
    width: 360px;
    height: 500px;
    left: 7.5px;
    top: 80px;
    background: #ffffff;
    position: absolute;
    overflow: scroll;
  }
}
