<!-- <simple-center-loader *ngIf="loading"></simple-center-loader> -->

<div class="collection-profile-header">
    <!-- COLLECTION PROFILE BANNER -->
    <div class="collection-profile-header-banner">
        <div class="collection-profile-header-banner-links"></div>
        <div class="collection-profile-header-banner-user-image">
            <img src="" alt="">
        </div>
        <!-- Collection Profile Banner Stats -->
        <div class="collection-profile-header-banner-stats">
            <div class="collection-profile-header-banner-stats-count">
                <div class="collection-profile-header-banner-stats-count-followers"></div>
                <div class="collection-profile-header-banner-stats-count-following"></div>
                <div class="collection-profile-header-banner-stats-count-coin-price"></div>
            </div>
            <div class="collection-profile-header-banner-stats-buttons">
                <button></button>
                <button></button>
            </div>
        </div>
        <!-- Collection Profile Banner Headline -->
        <div class="collection-profile-header-banner-headline">
            <h1 class="collection-profile-header-banner-headline-display-name"></h1>
            <h2 class="collection-profile-header-banner-headline-username"></h2>
        </div>
    </div>

    <!-- COLLECTION PROFILE DESCRIPTION -->
    <div class="collection-profile-header-desc">
        <div class="collection-profile-header-desc-bio">
            <div class="collection-profile-header-desc-bio-title"></div>
            <div class="collection-profile-header-desc-bio-content"></div>
        </div>

        <div class="collection-profile-header-desc-social">
            <div class="collection-profile-header-desc-social-link">
                <i class="collection-profile-header-desc-social-link-icon"></i>
                <div class="collection-profile-header-desc-social-link-title"></div>
            </div>
            <div class="collection-profile-header-desc-social-link">
                <i class="collection-profile-header-desc-social-link-icon"></i>
                <div class="collection-profile-header-desc-social-link-title"></div>
            </div>
            <div class="collection-profile-header-desc-social-link">
                <i class="collection-profile-header-desc-social-link-icon"></i>
                <div class="collection-profile-header-desc-social-link-title"></div>
            </div>
            <div class="collection-profile-header-desc-social-link">
                <i class="collection-profile-header-desc-social-link-icon"></i>
                <div class="collection-profile-header-desc-social-link-title"></div>
            </div> 
        </div>
    </div>
</div>

<!-- SPACER FOR BOTTOM BAR ON MOBILE -->
<div class="global__bottom-bar-mobile-height"></div>