.card {
    width: 90%;
    padding: 1rem;
    margin: 1.5% auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(195, 209, 216, 0.5);
    @media (min-width: 768px) {
      margin: 1.5%;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  
.d-flex-center {
    display: flex;
    align-items: center;

    .flex-1 {
        flex: 1;
        margin-inline-start: 1rem;
    }
}
.mrk_top_selector-two {
  height: 52px;
  background: #f5f5f5;
  border-radius: 7.531645774841309px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 55px;
    height: 42px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
  }
  button.selected {
    background: #ffffff;
    box-shadow: 0.9864575266838074px 0.9864575266838074px 9.864575386047363px rgba(0, 0, 0, 0.1);
    border: 0.8946940898895264px solid #ffffff;
  }
}
.mrk_top_selector-one {
  height: 50px;
  background: #f5f5f5;
  border-radius: 14.796862602233887px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 0px 25px 0px 25px;
    text-align: center;
    height: 36px;
    border-radius: 9.864575386047363px;
    border: none;
    background-color: #f5f5f5;
    color: #717171;
  }
  button.selected {
    background: #ffffff;
    box-shadow: 0.9864575266838074px 0.9864575266838074px 9.864575386047363px rgba(0, 0, 0, 0.1);
    border: 0.8946940898895264px solid #ffffff;
    font-weight: 500;
    color: #2D2D2D;
  }
}