.chat-settings {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    background: #f1f1f1;
    border-radius: 30px;
    transition: 0.3s linear;
    &:hover {
        transform: scale(1.05);
    }
}
.search-bar-messages {
    background-color: #F1F1F1;
}