<!-- profile route or general -->
<div
  class="general-success-modal-container"
  *ngIf="this.buttonClickedAction === 'profileRoute' || this.buttonClickedAction === 'general'"
>
  <p class="general-success-modal-header">{{ header }}</p>
  <p class="general-success-modal-text">{{ text }}</p>
  <button class="general-success-modal-button" (click)="generalSuccessModalButtonClicked()">{{ buttonText }}</button>
</div>
<!-- connectWalletMobileError -->
<div class="general-success-modal-container" *ngIf="this.buttonClickedAction === 'connectWalletMobileError'">
  <p class="general-success-modal-header">{{ header }}</p>
  <p class="general-success-modal-text-wallet-mobile-error">{{ text }}</p>
  <button class="general-success-modal-button" (click)="generalSuccessModalButtonClicked()">{{ buttonText }}</button>
</div>
<!-- connectWalletMobileErrorPageReload || ethMintingError -->
<div
  class="general-success-modal-container"
  *ngIf="
    this.buttonClickedAction === 'connectWalletMobileErrorPageReload' || this.buttonClickedAction === 'ethMintingError'
  "
>
  <p class="general-success-modal-header">{{ header }}</p>
  <p class="general-success-modal-text-wallet-mobile-error">{{ text }}</p>
  <button class="general-success-modal-button" (click)="generalSuccessModalButtonClicked()">{{ buttonText }}</button>
</div>
<!-- want to connect wallet, but haven't connected yet -->
<div
  class="general-success-modal-container-connectedWallet"
  *ngIf="
    this.buttonClickedAction === 'connectWallet' &&
    !this.globalVars.imxWalletConnected &&
    !depositButtonClickedStatus &&
    !buyEthButtonClickedStatus
  "
>
  <div class="w-100 d-flex nft_bid_header justify-content-between py-15px">
    <div class="general-success-modal-header-connectedWallet">
      {{ header }}
    </div>
    <div class="close-modal-container" (click)="bsModalRef.hide()">
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.528606 0.528598C0.788955 0.268248 1.21107 0.268248 1.47141 0.528598L5.00001 4.05719L8.52861 0.528598C8.78895 0.268248 9.21106 0.268248 9.47141 0.528598C9.73176 0.788948 9.73176 1.21106 9.47141 1.47141L5.94282 5L9.47141 8.5286C9.73176 8.78895 9.73176 9.21106 9.47141 9.47141C9.21106 9.73176 8.78895 9.73176 8.52861 9.47141L5.00001 5.94281L1.47141 9.47141C1.21107 9.73176 0.788955 9.73176 0.528606 9.47141C0.268256 9.21106 0.268256 8.78895 0.528606 8.5286L4.0572 5L0.528606 1.47141C0.268256 1.21106 0.268256 0.788948 0.528606 0.528598Z"
          fill="#858585"
        />
      </svg>
    </div>
  </div>
  <p class="general-success-modal-text-connectedWallet">{{ text }}</p>
  <button class="general-success-modal-button-logo imx-connect-button" (click)="generalSuccessModalButtonClicked()">
    <img
      class="eth-logo h-100 d-flex flex-row flex-center ethlogo-white"
      src="/assets/eth/ethlogo-white.svg"
      alt="eth-logo"
    />
    <div class="general-success-modal-button-text">
      {{ buttonText }}
    </div>
  </button>
</div>
<!-- want to connect wallet and have connected wallet -->
<div
  class="general-success-modal-container-connectedWallet-success"
  *ngIf="
    this.buttonClickedAction === 'connectWallet' &&
    this.globalVars.imxWalletConnected &&
    !depositButtonClickedStatus &&
    !buyEthButtonClickedStatus
  "
  (clickOutside)="clickOutside()"
>
  <img class="walletConnectedSuccessImg" src="/assets/eth/walletConnectedSuccess.svg" alt="eth-logo" />
  <div class="general-success-modal-header-connectedWallet-success">Wallet Connected!</div>
  <p class="general-success-modal-text-connectedWallet-success">
    You can either deposit your Ethereum to Immutable X or buy Ethereum directly to your connected wallet.
  </p>
  <button class="general-success-modal-button-logo want-to-deposit-button" (click)="wantToDepositButtonClicked()">
    <div class="general-success-modal-button-text-connected">Deposit ETH to Immutable X</div>
  </button>
  <button class="general-success-modal-button-logo want-to-buy-button" (click)="wantToBuyEthButtonClicked()">
    <div class="general-success-modal-button-text-connected">Buy ETH</div>
  </button>
</div>
