.left-bar-button {
    &:active {
       transform: scale(0.9);
       transition: 0.2s;
    }
    a {
        padding: 8px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1px 0;
        @media (max-width: 676px) {
            font-size: 18px;
            padding: 8px 0;
        }
        &.active {
            transform: scale(1.05);
            background-color: var(--secondary);
            font-weight: bolder !important;
            color: #121212;
        }
        &:hover {
            transform: scale(1.05);
            transition-duration: 0.2s;
            background-color: var(--secondary);
        }
        .icon-cover {
            width: 18px;
            margin-right: 10px;
            @media (max-width: 676px) {
                width: 20px;
            }
            img {
                width: auto;
                max-width: 100%;
                margin: auto;
                display: table-cell;
            }
        }
    }
}
.padding-top-1 {
    padding-top: 1%;
}
.lb-admin {
    border: none;
    outline: none;
    padding: 18px 18px;
    width: 60px;
    height: 60px;
    background: #e6e6e6;
    border-radius: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: #121212;
    font-weight: bold;
    &:active {
        transform: scale(0.9);
        transition: 0.2s;
    }
}
.global__nav__fixed {
    margin-top: 20px;
    width: 76px;
    // height: 865px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 10px;
    background: #0000000d;
    border-radius: 20px;
    z-index: 95;
    hr {
        background-color: #D8D8D8;
        height: 1px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }
}