<div class="collection-page-activity-main-content">
    <div class="filter-menu">
        <div class="filter-options">
            <button>All</button>
            <button>Sales</button>
            <button>Mints</button>
            <button>Listed for Sale</button>
        </div>
        <button class="filter-submit">Apply</button>
    </div>
    <div class="activity-table">
        <table class="activity-table-header">
            <tr>
                <th>Activity</th>
                <th>Piece</th>
                <th>Price</th>
                <th>From</th>
                <th>To</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>Sale</td>
            </tr>
        </table>     
    </div>
</div>